#                                             Assignment II

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [1]:
#installing selenium library 
!pip install selenium

Requirement already satisfied: selenium in c:\users\asus\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: sortedcontainers in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: cffi>=1.14 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: attrs>=19.2.0 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sniffio in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: pycparser in c:\users\asus\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\asus\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\asus\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\asus\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\asus\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\asus\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\asus\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\asus\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
#importing required libraries
import selenium
import pandas as pd
from selenium import webdriver 
import warnings
warnings.filterwarnings('ignore')
import time

In [3]:
#connecting to webdriver
driver= webdriver.Chrome(r"C:\Users\Asus\Desktop\webdriver\chromedriver.exe")

driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

#opening nakuri.com website in automated window 
driver.get("https://www.naukri.com/")

In [4]:
#finding the element for job search 
search_feild_designation=driver.find_element_by_class_name('suggestor-input')
search_feild_designation.send_keys('Data Analyst')

In [5]:
#entering the location Bangalore with the help of Xpath 
search_feild_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_feild_location.send_keys('Bangalore')

In [6]:
#clicking on the search button to show results
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [18]:
#creating empty lists to scrap the data for first 10 job results
job_titles=[]
company_names=[]
location=[]
experience_list=[]

In [19]:
#scrapting all the tags having Job-titles
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
#printing top 10 results
title_tags[0:10]

#displaying the tags extracted above into text 
for i in title_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Sr Data Analyst II',
 'Senior Business Analyst - Data Sciences and Advanced Analytics',
 'Business and Data Analyst',
 'Data Analyst - Python / SQL',
 'Data Analyst 2-1',
 'Senior Data Analyst',
 'Data Analyst',
 'Senior Data Analyst',
 'Jr . Data Analyst',
 'Senior Data Analyst, Data & Analytics']

In [20]:
#extracting all the tags having the company name
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
#printing top 10 results
company_tags[0:10]

#displaying the tags extracted above into text 
for i in company_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

['IHS Markit',
 'Vmware',
 'CAREERDOST ENTERPRISE',
 'Myntra',
 'PayPal',
 'Capco',
 'Concerto HealthAI',
 'Gsn Games India',
 'Armorblox',
 'ReSource Pro Operational Solutions Pvt Ltd.']

In [21]:
#extracting all the tags having years of experience required
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
#printing top 10 results
experience_tags[0:10]

#displaying the tags extracted above into text 
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]

['3-6 Yrs',
 '3-7 Yrs',
 '0-5 Yrs',
 '1-4 Yrs',
 '5-8 Yrs',
 '7-12 Yrs',
 '3-5 Yrs',
 '3-7 Yrs',
 '0-2 Yrs',
 '3-5 Yrs']

In [22]:
#extracting all the tags having location
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
#printing top 10 results
location_tags[0:10]

#displaying the tags extracted above into text 
for i in location_tags:
    locations=i.text
    location.append(locations)
location[0:10]

['Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [23]:
#printing the length of each list 
print(len(job_titles),len(company_names),len(experience_list),len(location))

20 20 20 20

In [24]:
#importing pandas to make a dataframe
jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Company']=company_names
jobs['Experience Required']=experience_list
jobs['Location']=location

jobs[0:10]

,Title,Company,Experience Required,Location
0,Sr Data Analyst II,IHS Markit,3-6 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
1,Senior Business Analyst - Data Sciences and Ad...,Vmware,3-7 Yrs,Bangalore/Bengaluru
2,Business and Data Analyst,CAREERDOST ENTERPRISE,0-5 Yrs,Bangalore/Bengaluru\n(WFH during Covid)
3,Data Analyst - Python / SQL,Myntra,1-4 Yrs,Bangalore/Bengaluru
4,Data Analyst 2-1,PayPal,5-8 Yrs,Bangalore/Bengaluru
5,Senior Data Analyst,Capco,7-12 Yrs,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben..."
6,Data Analyst,Concerto HealthAI,3-5 Yrs,Bangalore/Bengaluru
7,Senior Data Analyst,Gsn Games India,3-7 Yrs,Bangalore/Bengaluru
8,Jr . Data Analyst,Armorblox,0-2 Yrs,Bangalore/Bengaluru
9,"Senior Data Analyst, Data & Analytics",ReSource Pro Operational Solutions Pvt Ltd.,3-5 Yrs,Bangalore/Bengaluru

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.This task will be done in following steps:

In [91]:
#importing required libraries
import selenium
import pandas as pd
from selenium import webdriver 
import warnings
warnings.filterwarnings('ignore')
import time

In [3]:
#connecting to webdriver
driver2= webdriver.Chrome(r"C:\Users\Asus\Desktop\webdriver\chromedriver.exe")

driver2=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

#opening nakuri.com website in automated window 
driver2.get("https://www.naukri.com/")

In [4]:
#finding the element for job search 
search_feild_designation=driver2.find_element_by_class_name('suggestor-input')
search_feild_designation.send_keys('Data Scientist')

In [5]:
#entering the location Bangalore with the help of Xpath 
search_feild_location=driver2.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_feild_location.send_keys('Bangalore')

In [6]:
#clicking on the search button to show results
search_button=driver2.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [7]:
#creating empty lists to scrap the data for first 10 job results
job_titles=[]
company_names=[]
job_location=[]

In [8]:
#scrapting all the tags having Job-titles
title_tags=driver2.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
#printing top 10 results
title_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="bdf1f50b1fe0fb2d3cc642507b819197", element="8222d8e2-87d0-4867-9aaf-5bad38dcdf60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bdf1f50b1fe0fb2d3cc642507b819197", element="cbd77779-db1f-4245-bc8f-83fc0aca494f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bdf1f50b1fe0fb2d3cc642507b819197", element="377ca1b5-b59b-48e3-823a-0d57b78e1a3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bdf1f50b1fe0fb2d3cc642507b819197", element="d98f8633-29d9-4517-a360-b50e203c5a07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bdf1f50b1fe0fb2d3cc642507b819197", element="96c14621-3af7-434c-9f21-b58c3f6931d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bdf1f50b1fe0fb2d3cc642507b819197", element="08f65aec-6216-475b-9145-d5c5174b11ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bdf1f50b1fe0fb2d3cc642507b819197", element="2b75d424-9b15-483a-86c6-3d1e8194c42a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bdf1f50b1fe0fb2d3cc642507b819197", element="f43e88c4-8ce1-45d2-99ac-a1cdadb80c42")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bdf1f50b1fe0fb2d3cc642507b819197", element="f3914e7b-77b9-47a0-870c-2223fd8bb47f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bdf1f50b1fe0fb2d3cc642507b819197", element="355c1002-5df7-4da1-8b70-4eabc0734ca2")>]

In [9]:
#displaying the tags extracted above into text 
for i in title_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Senior Data Scientist Grade12',
 'Senior Data Scientist Grade12',
 'Senior Data Scientist',
 'Data Scientist: Advanced Analytics',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist: Artificial Intelligence']

In [10]:
#extracting all the tags having company names
company_tags=driver2.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
#printing top 10 results
company_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="bdf1f50b1fe0fb2d3cc642507b819197", element="c248bb45-beed-4af3-99b3-567c2999383e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bdf1f50b1fe0fb2d3cc642507b819197", element="97a0f7f9-e58f-46d6-8e89-14bb61d2e5a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bdf1f50b1fe0fb2d3cc642507b819197", element="48a2751e-7975-4e87-9063-316e9cfd79c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bdf1f50b1fe0fb2d3cc642507b819197", element="7aba8c0f-e1ed-46c5-99e8-f37847e86cec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bdf1f50b1fe0fb2d3cc642507b819197", element="45526e01-6859-4bb5-a642-9fa1bb1a5073")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bdf1f50b1fe0fb2d3cc642507b819197", element="7498aa12-0d49-42e7-90dc-1b455d9571a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bdf1f50b1fe0fb2d3cc642507b819197", element="7ba94301-2715-401b-8262-16f94d142797")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bdf1f50b1fe0fb2d3cc642507b819197", element="a80f210c-e483-452b-9d04-3a43f5849498")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bdf1f50b1fe0fb2d3cc642507b819197", element="d5f4a576-0b7e-4248-86ce-5e14053790b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bdf1f50b1fe0fb2d3cc642507b819197", element="b305ab97-2685-474d-9adb-d9664675bc57")>]

In [11]:
#displaying the tags extracted above into text 
for i in company_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

['Flipkart',
 'Flipkart',
 'Fractal Analytics',
 'IBM',
 'Genpact',
 'VISA',
 'IBM',
 'IBM',
 'IBM',
 'IBM']

In [12]:
#extracting all the tags having location
location_tags=driver2.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
#printing top 10 results
location_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="bdf1f50b1fe0fb2d3cc642507b819197", element="b0588df7-3cdb-4b9e-b6cb-496876921248")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bdf1f50b1fe0fb2d3cc642507b819197", element="47ee775d-70fe-4340-b59d-a1d389547ae0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bdf1f50b1fe0fb2d3cc642507b819197", element="9ab437fa-f973-45a5-88cc-6b786fe5d6af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bdf1f50b1fe0fb2d3cc642507b819197", element="47b4c30a-5101-435a-bc60-1a25f9003204")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bdf1f50b1fe0fb2d3cc642507b819197", element="280d58c7-58a5-4749-b8da-82616ed6e0d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bdf1f50b1fe0fb2d3cc642507b819197", element="6eb46bdc-44f0-41c6-bb0a-b6508e4fa989")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bdf1f50b1fe0fb2d3cc642507b819197", element="0b69332f-5385-4790-b173-edfdd2245374")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bdf1f50b1fe0fb2d3cc642507b819197", element="4e031fec-2972-493b-b718-563b0d32529b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bdf1f50b1fe0fb2d3cc642507b819197", element="02fad180-0cb2-487a-a169-097dc9a82efd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bdf1f50b1fe0fb2d3cc642507b819197", element="a8ee9b61-0244-4553-9ccf-95c6cb01e7f3")>]

In [13]:
#displaying the tags extracted above into text 
for i in location_tags:
    locations=i.text
    job_location.append(locations)
job_location[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bengaluru/Bangalore',
 'Bengaluru/Bangalore']

In [14]:
#printing the length of each list 
print(len(job_titles),len(company_names),len(job_location))

20 20 20

In [15]:
#making a dataframe
jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Company']=company_names
jobs['Location']=job_location
jobs[0:10]

,Title,Company,Location
0,Senior Data Scientist Grade12,Flipkart,Bangalore/Bengaluru
1,Senior Data Scientist Grade12,Flipkart,Bangalore/Bengaluru
2,Senior Data Scientist,Fractal Analytics,Bangalore/Bengaluru
3,Data Scientist: Advanced Analytics,IBM,Bengaluru/Bangalore
4,Data Scientist,Genpact,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D..."
5,Data Scientist,VISA,Bangalore/Bengaluru
6,Data Scientist: Artificial Intelligence,IBM,Bangalore/Bengaluru
7,Data Scientist: Artificial Intelligence,IBM,Bengaluru/Bangalore
8,Data Scientist: Artificial Intelligence,IBM,Bengaluru/Bangalore
9,Data Scientist: Artificial Intelligence,IBM,Bengaluru/Bangalore

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [105]:
#connecting to the webdriver
driver3= webdriver.Chrome(r"C:\Users\Asus\Desktop\webdriver\chromedriver.exe")

driver3=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

#opening nakuri.com website in automated window 
driver3.get("https://www.naukri.com/")

#finding the element for job search - Data Scientist
search_feild_designation=driver3.find_element_by_class_name('suggestor-input')
search_feild_designation.send_keys('Data Scientist')

#entering the location Delhi by finding the Xpath 
search_feild_location=driver3.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_feild_location.send_keys('Delhi')

#clicking on the search button to show results
search_button=driver3.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [106]:

#creating empty lists to scrap the data for first 10 job results
job_titles1=[]
company_names=[]
job_location1=[]
experience_required=[]

In [107]:
#scrapting all the tags having Job-titles
title_tags=driver3.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
#printing top 10 results
title_tags[0:10]

#displaying the tags extracted above into text 
for i in title_tags:
    title=i.text
    job_titles1.append(title)
job_titles1[0:10]

['Data Scientist Opportunity with PayU - Diversity Hiring',
 'Data Scientist',
 'Assistant Manager/Manager/Senior Manager - Data Scientist',
 'Data Scientist (Risk / Fraud Experience is must)',
 'Data Scientist',
 'Data Scientist - Python/Machine Learning',
 'Urgent Hiring For AI Data Scientist',
 'Associate Scientist - Data Engineering',
 'Data Scientist',
 'Data Scientist']

In [108]:
#extracting all the tags having company names
company_tags=driver3.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
#printing top 10 results
company_tags[0:10]

#displaying the tags extracted above into text 
for i in company_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

['PayU',
 'Ashkom Media India Private Limited',
 'Huquo Consulting Pvt. Ltd',
 'PayU Payments',
 'Impetus',
 'Corner Tree Consulting',
 'Ashkom Media India Private Limited',
 'AXA Technology Services India Pvt. Ltd',
 'Green Agrevolution Pvt. Ltd. (DeHaat)',
 'Capgemini']

In [109]:
#extracting all the tags having years of experience required
experience_tags=driver3.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
#printing top 10 results
experience_tags[0:10]

#displaying the tags extracted above into text 
for i in experience_tags:
    experience=i.text
    experience_required.append(experience)
experience_required[0:10]

['2-7 Yrs',
 '3-6 Yrs',
 '2-7 Yrs',
 '2-5 Yrs',
 '2-6 Yrs',
 '10-14 Yrs',
 '1-4 Yrs',
 '2-5 Yrs',
 '4-9 Yrs',
 '2-5 Yrs']

In [110]:
#extracting all the tags having location
location_tags=driver3.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
#printing top 10 results
location_tags[0:10]

#displaying the tags extracted above into text 
for i in location_tags:
    locations=i.text
    job_location1.append(locations)
job_location1[0:10]

['Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Noida, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Mumbai, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'New Delhi, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram']

In [111]:
#printing the length of each list 
print(len(job_titles1),len(company_names),len(experience_required),len(job_location1))

20 20 20 20

In [112]:
#importing pandas to make a dataframe
jobs=pd.DataFrame({})
jobs['Title']=job_titles1
jobs['Company']=company_names
jobs['Experience Required']=experience_required
jobs['Location']=job_location1

jobs[0:10]

,Title,Company,Experience Required,Location
0,Data Scientist Opportunity with PayU - Diversi...,PayU,2-7 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ..."
1,Data Scientist,Ashkom Media India Private Limited,3-6 Yrs,"Noida, Bangalore/Bengaluru"
2,Assistant Manager/Manager/Senior Manager - Dat...,Huquo Consulting Pvt. Ltd,2-7 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
3,Data Scientist (Risk / Fraud Experience is must),PayU Payments,2-5 Yrs,Gurgaon/Gurugram
4,Data Scientist,Impetus,2-6 Yrs,Gurgaon/Gurugram
5,Data Scientist - Python/Machine Learning,Corner Tree Consulting,10-14 Yrs,"Mumbai, Pune, Chennai, Bangalore/Bengaluru, De..."
6,Urgent Hiring For AI Data Scientist,Ashkom Media India Private Limited,1-4 Yrs,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar..."
7,Associate Scientist - Data Engineering,AXA Technology Services India Pvt. Ltd,2-5 Yrs,Gurgaon/Gurugram
8,Data Scientist,Green Agrevolution Pvt. Ltd. (DeHaat),4-9 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
9,Data Scientist,Capgemini,2-5 Yrs,Gurgaon/Gurugram

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [16]:
#connecting to webdriver
driver4= webdriver.Chrome(r"C:\Users\Asus\Desktop\webdriver\chromedriver.exe")

driver4=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

#opening nakuri.com website in automated window 
driver4.get("https://www.flipkart.com/")

In [17]:
#finding the element for product "Sunglass" 
search_feild_product_name=driver4.find_element_by_class_name('_3704LK')
search_feild_product_name.send_keys('Sunglasses')

#clicking on the search button to show results for 100 products
search_button=driver4.find_element_by_class_name('L0Z3Pu')
search_button.click()

In [18]:
#creating empty lists to scrap data for 100 products
brand_name=[]
product_description=[]
price=[]

#scrapting all the tags having Brand names
brand_tags=driver4.find_elements_by_class_name("_2WkVRV")

#displaying the tags extracted above into text 
for i in brand_tags:
    brands=i.text
    brand_name.append(brands)
brand_name[0:40]

['VINCENT CHASE',
 'VINCENT CHASE',
 'Fastrack',
 'SUNBEE',
 'PIRASO',
 'Lee Topper',
 'PIRASO',
 'VINCENT CHASE',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'Elligator',
 'VINCENT CHASE',
 'SRPM',
 'PIRASO',
 'PIRASO',
 'VINCENT CHASE',
 'Fastrack',
 'DAHAAZIL',
 'SUNBEE',
 'Roadster',
 'Fastrack',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'Resist',
 'New Specs',
 'DEIXELS',
 'PIRASO',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'Mi',
 'Fastrack',
 'Roadster',
 'Lee Topper',
 'hipe',
 'HIPPON',
 'Roadster',
 'Mi',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'NuVew']

In [19]:
#to display the next 40 results in the next page
next_page=driver4.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_page.click()

In [20]:
brand=[]
#scrapting all the tags having Brand names from page 2
brand_tags2=driver4.find_elements_by_class_name("_2WkVRV")

#displaying the tags extracted above into text 
for i in brand_tags2:
    brands=i.text
    brand.append(brands)
brand[0:40]

['ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'SRPM',
 'BAJERO',
 'Mi',
 'Fastrack',
 'PIRASO',
 'ZOSTAL',
 'Fastrack',
 'Silver Kartz',
 'United Colors of Benetton',
 'AISLIN',
 'Elligator',
 'Fastrack',
 'kingsunglasses',
 'AISLIN',
 'PIRASO',
 'kingscape',
 'New Specs',
 'ROZZETTA CRAFT',
 'New Specs',
 'New Specs',
 'Rich Club',
 'NuVew',
 'AISLIN',
 'Lee Topper',
 'Poloport',
 'VINCENT CHASE',
 'kingsunglasses',
 'AISLIN',
 'kingsunglasses',
 'NuVew',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'NuVew',
 'VINCENT CHASE',
 'New Specs',
 'hipe',
 'NuVew']

In [24]:
#to display the next 20 results in the next page
next_page2=driver4.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_page2.click()

In [25]:
#creating a list to display the results on the 3rd page
brand_name2=[]

#scrapting all the tags having Brand names from page 3
brand_tags3=driver4.find_elements_by_class_name("_2WkVRV")

#displaying the tags extracted above into text 
for i in brand_tags3:
    brand2=i.text
    brand_name2.append(brand2)
brand_name2[0:20]

['Fastrack',
 'PHENOMENAL',
 'kingsunglasses',
 'NuVew',
 'Singco India',
 'Fastrack',
 'Fastrack',
 'ROZZETTA CRAFT',
 'SHAAH COLLECTIONS',
 'NuVew',
 'CRYSTAL CART',
 'NuVew',
 'Elligator',
 'VINCENT CHASE',
 'Elligator',
 'AISLIN',
 'GANSTA',
 'ROZZETTA CRAFT',
 'Elligator',
 'VINCENT CHASE']

In [23]:
#scrapting all the tags having product description
product_tags=driver4.find_elements_by_class_name("IRpwTa")
product_tags[0:40]
#displaying 40 tags extracted above into text 
for i in product_tags:
    products=i.text
    product_description.append(products)
product_description[0:40]

['UV Protection Wayfarer Sunglasses (52)',
 'Riding Glasses, UV Protection, Others Aviator Sunglasse...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Wayfarer Sunglasses (55)',
 'Riding Glasses, UV Protection Clubmaster, Wayfarer Sung...',
 'UV Protection Aviator Sunglasses (62)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'Toughened Glass Lens, UV Protection Wayfarer, Rectangul...',
 'UV Protection, Mirrored, Gradient Round Sunglasses (51)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Polarized, Riding Glasses, Night Vision Sports, Wrap-ar...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection Sports Sunglasses (62)',
 'Mirrored, UV Protection Round Sunglasses (57)',
 'Polarized, UV Protection Retro Square Sunglasses (Free ...',
 'Mirrored Wayfarer Sunglasses (55)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Mirrored Sports Sunglasses (62)',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Retro Square, Round Sunglasses (54)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Mirrored Sports Sunglasses (Free Size)',
 'UV Protection Oval Sunglasses (57)',
 'UV Protection, Mirrored Sports Sunglasses (62)',
 'Polarized, Riding Glasses, Night Vision Sports, Wrap-ar...']

In [26]:
#to display the next 40 results in the next page
next_page3=driver4.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_page3.click()

In [27]:
Product_description1=[]
#scrapting all the tags having product description
product_tags1=driver4.find_elements_by_class_name("IRpwTa")
product_tags1[0:40]
#displaying 40 tags extracted above into text 
for i in product_tags1:
    productss=i.text
    Product_description1.append(productss)
Product_description1[0:40]

['Others Retro Square Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'Polarized Retro Square Sunglasses (61)',
 'Riding Glasses, UV Protection, Mirrored Aviator Sunglas...',
 'UV Protection Round Sunglasses (50)',
 'Others Oval Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'Mirrored, UV Protection, Riding Glasses Aviator Sunglas...',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (55)',
 'Polarized Retro Square Sunglasses (Free Size)',
 'Toughened Glass Lens, UV Protection Aviator Sunglasses ...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Shield, Wayfarer Sunglasses (61)',
 'UV Protection Round Sunglasses (Free Size)',
 'Gradient Aviator Sunglasses (55)',
 'UV Protection, Gradient Cat-eye Sunglasses (61)',
 'Toughened Glass Lens, UV Protection Aviator Sunglasses ...',
 'UV Protection Rectangular Sunglasses (56)',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'Mirrored, UV Protection Aviator Sunglasses (58)',
 'Toughened Glass Lens, UV Protection Rectangular, Wayfar...',
 'UV Protection Over-sized Sunglasses (64)',
 'UV Protection Round Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'UV Protection, Gradient Wayfarer, Round Sunglasses (63)',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection Round Sunglasses (Free Size)',
 'Mirrored, UV Protection Aviator Sunglasses (56)',
 'Toughened Glass Lens, UV Protection Aviator, Wrap-aroun...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Over-sized Sunglasse...',
 'by Lenskart UV Protection Rectangular Sunglasses (54)',
 'UV Protection, Mirrored Aviator Sunglasses (58)']

In [28]:
#to display the next 40 results in the next page
next_page3=driver4.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_page3.click()

In [29]:
Product_description2=[]
#scrapting all the tags having product description
product_tags2=driver4.find_elements_by_class_name("IRpwTa")
product_tags2[0:20]
#displaying 40 tags extracted above into text 
for i in product_tags2:
    productsss=i.text
    Product_description1.append(productsss)
Product_description1[0:20]

['Others Retro Square Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'Polarized Retro Square Sunglasses (61)',
 'Riding Glasses, UV Protection, Mirrored Aviator Sunglas...',
 'UV Protection Round Sunglasses (50)',
 'Others Oval Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'Mirrored, UV Protection, Riding Glasses Aviator Sunglas...',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (55)',
 'Polarized Retro Square Sunglasses (Free Size)',
 'Toughened Glass Lens, UV Protection Aviator Sunglasses ...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Shield, Wayfarer Sunglasses (61)',
 'UV Protection Round Sunglasses (Free Size)',
 'Gradient Aviator Sunglasses (55)',
 'UV Protection, Gradient Cat-eye Sunglasses (61)',
 'Toughened Glass Lens, UV Protection Aviator Sunglasses ...']

In [31]:
#scrapting all the tags having price
price_tags=driver4.find_elements_by_class_name("_30jeq3")
price_tags[0:40]
#displaying 40 tags extracted above into text 
for i in price_tags:
    prce=i.text
    price.append(prce)
price[0:40]

['₹649',
 '₹649',
 '₹719',
 '₹283',
 '₹639',
 '₹249',
 '₹299',
 '₹779',
 '₹265',
 '₹195',
 '₹809',
 '₹649',
 '₹295',
 '₹225',
 '₹639',
 '₹649',
 '₹249',
 '₹280',
 '₹224',
 '₹649',
 '₹219',
 '₹259',
 '₹719',
 '₹275',
 '₹224',
 '₹209',
 '₹299',
 '₹649',
 '₹229',
 '₹399',
 '₹208',
 '₹948',
 '₹1,099',
 '₹219',
 '₹499',
 '₹649',
 '₹1,009',
 '₹181',
 '₹849',
 '₹649']

In [32]:
#to display the next 40 results in the next page
Next_page3=driver4.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
Next_page3.click()

In [33]:
#creating a list
price2=[]
#scrapting all the tags having price in page 2
price_tags2=driver4.find_elements_by_class_name("_30jeq3")
price_tags2[0:40]
#displaying 40 tags extracted above into text 
for i in price_tags2:
    prce1=i.text
    price2.append(prce1)
price2[0:40]

['₹499',
 '₹246',
 '₹1,009',
 '₹1,273',
 '₹639',
 '₹349',
 '₹719',
 '₹498',
 '₹288',
 '₹1,069',
 '₹333',
 '₹198',
 '₹639',
 '₹214',
 '₹349',
 '₹216',
 '₹169',
 '₹264',
 '₹214',
 '₹498',
 '₹299',
 '₹260',
 '₹498',
 '₹649',
 '₹276',
 '₹279',
 '₹189',
 '₹649',
 '₹498',
 '₹329',
 '₹639',
 '₹649',
 '₹639',
 '₹410',
 '₹649',
 '₹472',
 '₹189',
 '₹179',
 '₹629',
 '₹246']

In [34]:
#to display the next 20 results in the next page
Next_page4=driver4.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
Next_page4.click()

In [35]:
#creating a list
price3=[]
#scrapting all the tags having price in page 2
price_tags3=driver4.find_elements_by_class_name("_30jeq3")
price_tags2[0:20]
#displaying 40 tags extracted above into text 
for i in price_tags3:
    prce2=i.text
    price3.append(prce2)
price3[0:20]

['₹245',
 '₹629',
 '₹229',
 '₹345',
 '₹329',
 '₹649',
 '₹399',
 '₹345',
 '₹775',
 '₹223',
 '₹749',
 '₹449',
 '₹361',
 '₹353',
 '₹419',
 '₹395',
 '₹499',
 '₹449',
 '₹358',
 '₹499']

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage

In [ ]:
#connecting to the webdriver
driver5= webdriver.Chrome(r"C:\Users\Asus\Desktop\webdriver\chromedriver.exe")

driver5=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

#opening flipkart.com website in automated window 
driver5.get('https://www.flipkart.com/apple-iphone-11-black-128-gb/p/itm8244e8d955aba?pid=MOBFWQ6BKRYBP5X8&lid=LSTMOBFWQ6BKRYBP5X8X0KYUG&marketplace=FLIPKART&q=iphone11&store=tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=d0d5a83b-a3f8-4fb8-806c-2380e7b6cc32.MOBFWQ6BKRYBP5X8.SEARCH&ppt=hp&ppn=homepage&ssid=jnh5ce805c0000001651924450478&qH=d6db477051465f9a')

In [115]:
#to display reviews and ratings
Press=driver5.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div[2]/div/div/span[2]')
Press.click()

In [131]:
#creating an empty list to display 100 full reviews
full_review=[]

#scrapting all tags having reviews
Review_tags=driver5.find_elements_by_class_name('t-ZTKy')
Review_tags[0:100]
#displaying the tags extracted above into text 
for i in Review_tags:
    Review=i.text
    full_review.append(Review)
full_review[0:100]

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow']

In [130]:
#creating an empty list to display 100 ratings
ratings=[]

#scrapting all tags having rating
rating_tags=driver5.find_elements_by_class_name('_3LWZlK')

#displaying the tags extracted above into text 
for i in rating_tags:
    Rating=i.text
    ratings.append(Rating)
ratings[0:100]

['4.6', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5']

In [132]:
#creating an empty list to display 100 summarys
summary=[]

#scrapting all tags having summary
summary_tags=driver5.find_elements_by_class_name('_2-N8zT')

#displaying the tags extracted above into text 
for i in summary_tags:
    summaries=i.text
    summary.append(summaries)
summary[0:100]

['Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended']

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes

In [135]:
#connecting to the webdriver
driver6= webdriver.Chrome(r"C:\Users\Asus\Desktop\webdriver\chromedriver.exe")

driver6=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

#opening flipkart.com website in automated window 
driver6.get('https://www.flipkart.com/')

#finding the element for job search - Data Scientist
search_feild_product_name=driver6.find_element_by_class_name('_3704LK')
search_feild_product_name.send_keys('Sneakers')

In [136]:
#clicking on the search button to show results for 100 products
search_button2=driver6.find_element_by_class_name('L0Z3Pu')
search_button2.click()

In [137]:
#creating an empty list to display 100 Brand names
Brand2=[]

#scrapting all tags having brand names
brand_tags2=driver6.find_elements_by_class_name('_2WkVRV')

#displaying the tags extracted above into text 
for i in brand_tags2:
    branding=i.text
    Brand2.append(branding)
Brand2[0:100]

['HIGHLANDER',
 'HIGHLANDER',
 'URBANBOX',
 'corsac',
 'BRUTON',
 'ONECENTRE',
 'KWIK FIT',
 'HRX by Hrithik Roshan',
 'Magnolia',
 'BIRDE',
 'asics',
 'ZF Klub',
 'SCATCHITE',
 'Labbin',
 'BRUTON',
 'VZAZZY',
 'ASTEROID',
 'Layasa',
 'Kraasa',
 'RED TAPE',
 'ASTEROID',
 'corsac',
 'World Wear Footwear',
 'BRUTON',
 'RapidBox',
 'World Wear Footwear',
 'BRUTON',
 'RED TAPE',
 'World Wear Footwear',
 'World Wear Footwear',
 'luxury fashion',
 'RED TAPE',
 'CLYMB',
 'Numenzo',
 'aadi',
 'HIGHLANDER',
 'BRUTON',
 'WHITE WALKERS',
 'WHITE WALKERS',
 'DUNKASTON']

In [148]:
#to display the next 40 results in the next page
Next_page6=driver6.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
Next_page6.click()

In [149]:
#creating an empty list to display next 40 Brand names
Brand3=[]

#scrapting all tags having brand names
brand_tags3=driver6.find_elements_by_class_name('_2WkVRV')

#displaying the tags extracted above into text 
for i in brand_tags3:
    Branding=i.text
    Brand3.append(Branding)
Brand3[0:100]

['Echor',
 "LEVI'S",
 'PUMA',
 'Ardeo',
 'RED TAPE',
 'Chevit',
 'ADIDAS',
 'DLS',
 'HRX by Hrithik Roshan',
 'U.S. POLO ASSN.',
 'ERIX',
 'HIGHLANDER',
 'SPARX',
 'EZDEZARIO',
 "Neeman's",
 'ROCKFIELD',
 'OUTALYFE',
 'SPARX',
 'U.S. POLO ASSN.',
 'Smoky',
 'BRUTON',
 'kardam&sons',
 'Qtsy',
 'ROCKFIELD',
 'RATITE',
 'Cross Finger',
 'PUMA',
 'Bacan',
 'Edoeviv',
 'Richwon',
 'New Balance',
 'HIGHLANDER',
 'ADIDAS ORIGINALS',
 "LEVI'S",
 'New Balance',
 'RED TAPE',
 'ASIAN',
 'Vans on',
 'RapidBox',
 'Extoes']

In [151]:
#to display the next 40 results in the next page
Next_page7=driver6.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
Next_page7.click()

In [152]:
#creating an empty list to display next 20 Brand names
Brand4=[]

#scrapting all tags having brand names
brand_tags4=driver6.find_elements_by_class_name('_2WkVRV')

#displaying the tags extracted above into text 
for i in brand_tags4:
    Branding=i.text
    Brand4.append(Branding)
Brand4[0:20]

['DUCATI',
 'SLAZENGER',
 'CALCADOS',
 'BIRDE',
 'Chevit',
 'Chevit',
 'Zixer',
 'HIGHLANDER',
 'RED CHIEF',
 'PUMA',
 'SPARX',
 'PUMA',
 'DUCATI',
 'PUMA',
 'Talaashfuro',
 'RKE',
 'PUMA',
 'BRUTON',
 'SPARX',
 'PUMA']

In [158]:
Product_description11=[]
#scrapting all the tags having product description
product_tags12=driver6.find_elements_by_class_name("IRpwTa")
product_tags12[0:40]
#displaying 40 tags extracted above into text 
for i in product_tags12:
    productx=i.text
    Product_description11.append(productx)
Product_description11[0:40]

['New black sneakers for men Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'STYLISH MENS BLACK SNEAKER Sneakers For Men',
 'Canvas shoes for Men Sneakers For Men',
 'STR2 Sneakers For Men',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'STORMER LS Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Original Luxury Branded Black Fancy Casual Walking Part...',
 'Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'STYLISH MENS BLACK TRENDY SNEAKER FOR MENS Sneakers For...',
 'Men 5014 Latest Collection Stylish Casual Sports Loafer...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Latest Collection-1227 Stylish Casual Sports Sneakers F...',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Lightweight, comfortable ,stylish Shoes Sneakers For Me...',
 '5013-Latest Collection Stylish & Trendy of casuals Snea...',
 '5011-Latest Collection Stylish & Trendy Casual Sneakers...',
 'Sneakers For Men',
 'Puma Smash v2 Buck Sneakers For Men',
 'Sneakers For Men',
 '411 Casual Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneaker Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Classic Sneakers For Men']

In [159]:
#to display the next 40 results in the next page
Next_page8=driver6.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
Next_page8.click()

In [161]:
Product_description12=[]
#scrapting all the tags having product description
product_tags13=driver6.find_elements_by_class_name("_2WkVRV")
product_tags13[0:40]
#displaying 40 tags extracted above into text 
for i in product_tags13:
    productxx=i.text
    Product_description12.append(productxx)
Product_description12[0:40]

['BIRDE',
 'Robbie jones',
 'EMPTILE',
 'HRX by Hrithik Roshan',
 'Chevit',
 'Dizzler',
 'Echor',
 'HIGHLANDER',
 'Hida',
 'D-SNEAKERZ',
 'Robbie jones',
 'RED TAPE',
 'Chevit',
 'Kraasa',
 'D-SNEAKERZ',
 'VZAZZY',
 'ASIAN',
 'PUMA',
 'LuvShus',
 'Fzzirok',
 'bluemaker',
 'Arohi',
 'Chevit',
 'HIGHLANDER',
 'PEXLO',
 'RODDICK SHOES',
 'WHITE WALKERS',
 'BRUTON',
 'MAFLO',
 'Echor',
 'Dicy',
 'RED TAPE',
 'aadi',
 'Kraasa',
 'Layasa',
 'RED TAPE',
 'Stefano Rads',
 'Chevit',
 'aadi',
 'HIGHLANDER']

In [162]:
#to display the next 40 results in the next page
Next_page9=driver6.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
Next_page9.click()

In [164]:
Product_description13=[]
#scrapting all the tags having product description
product_tags14=driver6.find_elements_by_class_name("_2WkVRV")
product_tags14[0:20]
#displaying 20 tags extracted above into text 
for i in product_tags14:
    productxxx=i.text
    Product_description13.append(productxxx)
Product_description13[0:20]

['ZF Klub',
 'ASIAN',
 'Robbie jones',
 'corsac',
 'bluemaker',
 'KNIGHT WALKERS',
 'SPARX',
 'AA',
 'Hida',
 'Shoes Bank',
 'Airland',
 'HOTSTYLE',
 'New Balance',
 'ASIAN',
 'VECHLO',
 'Layasa',
 'Strollin',
 'Bacan',
 'Kzaara',
 'KWIK FIT']

In [165]:
Prices1=[]
#scrapting all the tags having price
price_tag6=driver6.find_elements_by_class_name("_30jeq3")

#displaying 40 tags extracted above into text 
for i in price_tag6:
    price1=i.text
    Prices1.append(price1)
Prices1[0:100]

['₹669',
 '₹669',
 '₹142',
 '₹449',
 '₹299',
 '₹250',
 '₹349',
 '₹449',
 '₹351',
 '₹269',
 '₹2,349',
 '₹499',
 '₹348',
 '₹424',
 '₹158',
 '₹354',
 '₹449',
 '₹449',
 '₹366',
 '₹589',
 '₹449',
 '₹499',
 '₹199',
 '₹2,589',
 '₹670',
 '₹199',
 '₹249',
 '₹746',
 '₹199',
 '₹199',
 '₹399',
 '₹945',
 '₹599',
 '₹424',
 '₹297',
 '₹746',
 '₹249',
 '₹549',
 '₹549',
 '₹679',
 '₹348',
 '₹945',
 '₹142',
 '₹250',
 '₹599']

In [166]:
#to display the next 40 results in the next page
Next_page10=driver6.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
Next_page10.click()

In [167]:
Prices2=[]
#scrapting all the tags having price in page 2
price_tag7=driver6.find_elements_by_class_name("_30jeq3")

#displaying 40 tags extracted above into text 
for i in price_tag7:
    price2=i.text
    Prices2.append(price2)
Prices2[0:100]

['₹303',
 '₹346',
 '₹424',
 '₹379',
 '₹249',
 '₹420',
 '₹489',
 '₹180',
 '₹599',
 '₹384',
 '₹424',
 '₹1,734',
 '₹544',
 '₹349',
 '₹349',
 '₹746',
 '₹549',
 '₹2,199',
 '₹439',
 '₹1,348',
 '₹399',
 '₹379',
 '₹263',
 '₹399',
 '₹561',
 '₹430',
 '₹449',
 '₹249',
 '₹549',
 '₹489',
 '₹249',
 '₹239',
 '₹191',
 '₹366',
 '₹399',
 '₹945',
 '₹249',
 '₹236',
 '₹249',
 '₹998',
 '₹348',
 '₹945',
 '₹142',
 '₹250',
 '₹599']

In [168]:
#to display the next 20 results in the next page
Next_page11=driver6.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
Next_page11.click()

In [169]:
Prices3=[]
#scrapting all the tags having price in page 2
price_tag8=driver6.find_elements_by_class_name("_30jeq3")

#displaying 40 tags extracted above into text 
for i in price_tag8:
    price3=i.text
    Prices3.append(price3)
Prices3[0:20]

['₹599',
 '₹709',
 '₹183',
 '₹945',
 '₹498',
 '₹306',
 '₹424',
 '₹1,373',
 '₹379',
 '₹1,049',
 '₹249',
 '₹669',
 '₹374',
 '₹1,699',
 '₹499',
 '₹1,423',
 '₹2,449',
 '₹424',
 '₹430',
 '₹349']

# Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.

In [26]:
#connecting to the webdriver
driver6= webdriver.Chrome(r"C:\Users\Asus\Desktop\webdriver\chromedriver.exe")

driver6=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

#opening myntra.com website in automated window 
driver6.get('https://www.myntra.com/')

#finding the element to search for shoes
search_feild_product_name=driver6.find_element_by_class_name('desktop-searchBar')
search_feild_product_name.send_keys('Shoes')

In [29]:
#to display the results for shoes in myntra
Next_page88=driver6.find_element_by_xpath('/html/body/div[1]/div/div/header/div[2]/div[3]/a')
Next_page88.click()

In [31]:
#setting filters to display in a specific price range
price_filter=driver6.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_filter.click()
#setting filters to display black cloured shoes 
color_filter=driver6.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
color_filter.click()

In [32]:
#creating an empty list to scrap all brand names
Brand_names1=[]
#scrapting all the tags brand names
brnd=driver6.find_elements_by_class_name("product-brand")

#displaying 50 tags extracted above into text 
for i in brnd:
    brand=i.text
    Brand_names1.append(brand)
Brand_names1

['ALDO',
 'ALDO',
 'Skechers',
 'ALDO',
 'Hush Puppies',
 'Nike',
 'one8 x PUMA',
 'Puma',
 'ALDO',
 'Puma',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'Skechers',
 'ALDO',
 'Skechers',
 'ALDO',
 'Skechers',
 'Skechers',
 'Puma',
 'Puma',
 'Puma',
 'PUMA Motorsport',
 'Skechers',
 'UNDER ARMOUR',
 'Nike',
 'Hush Puppies',
 'Puma',
 'DAVINCHI',
 'UNDER ARMOUR',
 'ADIDAS Originals',
 'Puma',
 'ADIDAS Originals',
 'Geox',
 'PUMA Motorsport',
 'Nike',
 'New Balance',
 'UNDER ARMOUR',
 'PUMA Motorsport',
 'ASICS',
 'Puma',
 'PUMA Motorsport',
 'PUMA Motorsport',
 'Hush Puppies',
 'Reebok',
 'PUMA Motorsport',
 'Puma',
 'Geox']

In [40]:
#creating an empty list to scrap all prices
Brand_price=[]
#scrapting all the tags brand names
price2=driver6.find_elements_by_class_name("product-price")

#displaying 50 tags extracted into text
for i in price2:
    prce2=i.text
    Brand_price.append(prce2)
Brand_price

['Rs. 13999',
 'Rs. 12999',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 12999',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 8920Rs. 10495(15% OFF)',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 11049Rs. 12999(15% OFF)',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 7224Rs. 8499(15% OFF)',
 'Rs. 10999',
 'Rs. 8074Rs. 9499(15% OFF)',
 'Rs. 12999',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 7224Rs. 8499(15% OFF)',
 'Rs. 11049Rs. 12999(15% OFF)',
 'Rs. 7499Rs. 9999(25% OFF)',
 'Rs. 13599Rs. 15999(15% OFF)',
 'Rs. 8999',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 7999',
 'Rs. 9295',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 12749Rs. 14999(15% OFF)',
 'Rs. 8490',
 'Rs. 11999',
 'Rs. 9899Rs. 10999(10% OFF)',
 'Rs. 11049Rs. 12999(15% OFF)',
 'Rs. 9899Rs. 10999(10% OFF)',
 'Rs. 9441Rs. 10490(10% OFF)',
 'Rs. 7999',
 'Rs. 13995',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 7499Rs. 9999(25% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 7499',
 'Rs. 7999',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 9891Rs. 10990(10% OFF)']

In [34]:
#creating an empty list to scrap all summaries
product_desc=[]
#scrapting all the tags having product summary
prodd=driver6.find_elements_by_class_name("product-product")

#displaying 50 tags extracted into text
for i in prodd:
    desc=i.text
    product_desc.append(desc)
product_desc

['Men Woven Design Sneakers',
 'Men Leather Driving Shoes',
 'Men Max Cushioning Running',
 'Men Leather Loafers',
 'Men Solid Leather Formal Slip-Ons',
 'Women React MR 3 Running Shoes',
 'Men Fuse One8 Training Shoes',
 'Men Colourblocked RS-Z Core',
 'Men Sneakers',
 'Men Jamming 2.0 Running Shoes',
 'Men UA Charged Breeze Training',
 'Men Vantage 2 Running Shoes',
 'Men Charged Rouge 3 Run Shoes',
 'Unisex Project Rock Training',
 'Men Training or Gym Shoes',
 'Men Go Walk 5 Walking Shoes',
 'Men Textured Sneakers',
 'Men MAX CUSHIONING ELITE-LUCID',
 'Men Textured Slip-On Sneakers',
 'Men Sky Vault Walking Shoes',
 'Men ARCH FIT ROAD WALKER',
 'Eternity Nitro Running Shoes',
 'Men Liberate NITRO Running',
 'Men D Nitro WTR Running Shoes',
 'Unisex Ferrari IONSpeed',
 'Men Walking Shoes',
 'Men UA Charged Vantage 2 Run',
 'Men Air Max Dawn Sneakers',
 'Men Formal Derbys',
 'Men Deviate Nitro Shoes',
 'Men Solid Leather Formal Loafers',
 'Men UA TriBase Reign4 Training',
 'Men Solid Ozweego Sneakers',
 'Men M Nitro Running Shoess',
 'Men Niteball II Sneakers',
 'Men Textured Leather Driving Shoes',
 'Unisex Ferrari Drift Cat Delta',
 'Men AIR MAX PRE-DAY Sneakers',
 'Men Solid Mid-Top Sneakers',
 'Women Charged Vantage 2 Run',
 'Unisex Leather Sneakers',
 'Men Colourblocked PU Sneakers',
 'Unisex Leather Sneakers',
 'Men BMW MMS R-Cat Sneakers',
 'Unisex Porsche Legacy Sneakers',
 'Men Solid Leather Formal Slip-Ons',
 'Men Zig Dynamica 2.0 Running',
 'Ferrari X-Ray Speed Sneakers',
 'Electrify Nitro Running Shoes',
 'Men Textured Leather Driving Shoes']

In [35]:
#to display the results for shoes details in the next page
Next_page55=driver6.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a')
Next_page55.click()

In [37]:
#creating an empty list to scrap all brand names in page 2
Brand_names2=[]
#scrapting all the tags brand names in page 2
brnd2=driver6.find_elements_by_class_name("product-brand")

#displaying 50 tags extracted above into text 
for i in brnd2:
    brand2=i.text
    Brand_names2.append(brand2)
Brand_names2

['Geox',
 'ADIDAS',
 'Louis Philippe',
 'New Balance',
 'UNDER ARMOUR',
 'Tommy Hilfiger',
 'Tommy Hilfiger',
 'UNDER ARMOUR',
 'ASICS',
 'Birkenstock',
 'Puma',
 'New Balance',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'DEL MONDO',
 'Louis Philippe',
 'Hush Puppies',
 'Bugatti',
 'Columbia',
 'ALDO',
 'Bugatti',
 'Geox',
 'ROSSO BRUNELLO',
 'J.FONTINI',
 'J.FONTINI',
 'New Balance',
 'PERFLY By Decathlon',
 'Clarks',
 'ADIDAS',
 'Hush Puppies',
 'Geox',
 'Puma',
 'New Balance',
 'Saint G',
 'Puma',
 'PUMA Hoops',
 'New Balance',
 'ROSSO BRUNELLO',
 'Puma',
 'Columbia',
 'UNDER ARMOUR',
 'Saint G',
 'Geox',
 'J.FONTINI',
 'Geox',
 'DAVINCHI',
 'RARE RABBIT',
 'MANGO',
 'J.FONTINI']

In [38]:
#creating an empty list to scrap all prices in page 2
Brand_price1=[]
#scrapting all the tags brand names
price3=driver6.find_elements_by_class_name("product-discountedPrice")

#displaying 50 tags extracted into text form page 2
for i in price3:
    prce3=i.text
    Brand_price1.append(prce3)
Brand_price1

['Rs. 9891',
 'Rs. 7739',
 'Rs. 7199',
 'Rs. 8499',
 'Rs. 8499',
 'Rs. 8999',
 'Rs. 8499',
 'Rs. 9891',
 'Rs. 9211',
 'Rs. 8499',
 'Rs. 7160',
 'Rs. 8550',
 'Rs. 9349',
 'Rs. 7699',
 'Rs. 7799',
 'Rs. 10710',
 'Rs. 8991',
 'Rs. 8991',
 'Rs. 7699']

In [39]:
#creating an empty list to scrap all summaries 
product_desc1=[]
#scrapting all the tags having product summary in page 2
proddd=driver6.find_elements_by_class_name("product-product")

#displaying 50 tags extracted into text
for i in proddd:
    desc1=i.text
    product_desc1.append(desc1)
product_desc1

['Men Textured Leather Driving Shoes',
 'Men Solar Glide 5 Running Shoe',
 'Men Solid Leather Formal Loafers',
 'Women 680 Running Shoes',
 'Women Breeze Running Shoes',
 'Men Leather Sneakers',
 'Men Flexi Sneakers',
 'Men Charged Breeze Running',
 'Men Running Shoes',
 'Unisex Boston Super Grip Clogs',
 'Unisex KING Pro 21 Football',
 'Women Woven Running Shoes',
 'Unisex Leather Trainers',
 'Unisex KING Top FG Shoes',
 'W omen TriBase Reign 4 Running',
 'Men Leather Sneakers',
 'Men Textured Leather Loafers',
 'Men Solid Leather Formal Derbys',
 'Men Leather Monks',
 'Men FACET OUTDRY Trekking Shoe',
 'Block Pumps with Bows',
 'Men Solid Sneakers',
 'Men Textured Leather Driving Shoes',
 'Men Leather Loafers',
 'Men Solid Loafers',
 'Men Black Leather Loafers',
 'Men ARISHI Running Shoes',
 'Men Textile Badminton Shoes',
 'Men Leather Derbys',
 'Women Supernova Running Shoes',
 'Men Solid Formal Slip-Ons',
 'Women Ballerinas Flats',
 'Women Kosmo Rider DC5 Sneakers',
 'Women Flash Running Shoes',
 'Women Leather Block Heels',
 'Men Voyage Nitro Running Shoes',
 'Men Basketball Shoes',
 'Women Woven Running Shoes',
 'Men Leather Driving Shoes',
 'Women Eternity NITRO Shoes',
 'Women Trekking Shoes',
 'Women Charged Breeze Running',
 'Men Leather Chelsea Boots',
 'Men Slip-On Formal Moccasins',
 'Men Textured Leather Loafers',
 'Men Formal Derbys',
 'Men Textured Formal Leather Loafers',
 'Men Textured Leather Loafers',
 'Embellish Mid-Top Heeled Boots',
 'Men Leather Formal Loafers']

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [46]:
#connecting to the webdriver
driver6= webdriver.Chrome(r"C:\Users\Asus\Desktop\webdriver\chromedriver.exe")

driver6=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

#opening myntra.com website in automated window 
driver6.get('https://www.amazon.in/')

#finding the element to search for shoes
search_feild_product_name=driver6.find_element_by_class_name('nav-input')
search_feild_product_name.send_keys('Laptops')

In [47]:
#to display the results for laptops in amazon
Next_page33=driver6.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
Next_page33.click()

In [55]:
#setting filters to display filters of intel i7
filter1=driver6.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[5]/span/a/span')
filter1.click()

In [64]:
#creating an empty list to scrap all brand names
lap_names1=[]
#scrapting all the tags brand names
lap=driver6.find_elements_by_class_name("a-size-mini")

#displaying 10 tags extracted above into text 
for i in lap:
    lap1=i.text
    lap_names1.append(lap1)
lap_names1[0:10]

['HP Pavilion 11th Gen Intel Core i7 Processor 15.6 inches FHD Gaming Laptop (16GB/512GB SSD/Windows 11/NVIDIA RTX 3050 Graphics/MS Office/ Shadow Black & Ultra Violet/2.23Kg), 15-dk2096TX',
 'ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-12700H 12th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/512GB SSD/Windows 11/Gray/2.2 Kg), FX507ZE-HN038W',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'HP Pavilion 14, 11th Gen Intel Core i7-16GB RAM/1TB SSD 14 inch(35.6 cm) Laptop/Intel Iris Xe Graphics/Backlit Keyboard/Alexa/B&O Audio/Fast Charge/FPR/Win 11/MS Office, 14-dv1029TU,Natural Silver',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS',
 'Mi Notebook Ultra 3.2K Resolution Display Intel Core i7-11370H 11th Gen 15.6-inch(39.62 cm) Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphic/Win 10/MS Office 21/Backlit KB/FP Sensor/1.7Kg)',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/B&O/Win 11/FPR/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa/MS Office/Silver/1.52Kg) 14-dy1047TU',
 'HP Pavilion 11th Gen Intel Core i7 Processor 15.6 inches FHD Gaming Laptop (16GB/512GB SSD/Windows 11/NVIDIA RTX 3050 Graphics/MS Office/ Shadow Black & Ultra Violet/2.23Kg), 15-dk2096TX',
 'LG Gram Intel Evo 11th Gen Core i7 17 inches Ultra-Light Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.35 kg, 17Z90P-G.AH85A2, Black)']

In [65]:
#creating an empty list to scrap all prices for laptops
price_lap=[]
#scrapting all the tags brand names
lap_price=driver6.find_elements_by_class_name("a-price-whole")

#displaying 10 tags extracted above into text 
for i in lap_price:
    lap2=i.text
    price_lap.append(lap2)
price_lap[0:10]

['87,990',
 '1,16,990',
 '86,990',
 '57,990',
 '86,490',
 '87,990',
 '77,990',
 '85,990',
 '87,990',
 '87,990']

In [69]:
#setting filters to display filters of intel i9
filter2=driver6.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[6]/span/a/span')
filter2.click()

In [70]:
#creating an empty list to scrap all brand names for i9
lap_names2=[]
#scrapting all the tags brand names
lap2=driver6.find_elements_by_class_name("a-size-medium")

#displaying 10 tags extracted above into text 
for i in lap2:
    lap3=i.text
    lap_names2.append(lap3)
lap_names2[0:10]

['Looking for Laptops? Shop from a wide selection of laptops from HP, Dell, Lenovo & Apple.',
 'Acer Predator Helios 300 11th Gen Intel Core i9-11900H 15.6" (39.62cms) FHD IPS Gaming Laptop (16 GB/1TB SSD/Win 11 Home/6 GB Graphics/NVIDIA GeForce RTX 3060/360 Hz, Black, 2.3 kg) PH315-54',
 'ASUS ROG Zephyrus M16 (2022), 16-inch (40.64 cms) 2K QHD 165Hz/3ms, Core i9-12900H 12th Gen, RTX 3080 Ti 16GB Graphics, Gaming Laptop (32GB/2TB SSD/Win 11/Office 2021/Black/2 Kg), GU603ZX-K8024WS',
 'ASUS ROG Strix Scar 15 (2022), 15.6-inch (39.62 cms) 2K WQHD 240Hz/3ms, Core i9-12900H 12th Gen, RTX 3070 Ti 8GB Graphics, Gaming Laptop (32GB/2TB SSD/Win 11/Office 2021/Black/2.3 Kg), G533ZW-LN106WS',
 'ASUS ROG Strix Scar 15 (2022), 15.6" (39.62 cms) 2K WQHD 240Hz/3ms, Intel Core i9-12900H 12th Gen, RTX 3070 Ti 8GB Graphics, Gaming Laptop (32GB/1TB SSD/Win 11/Office 2021/Black/2.3 kg) G533ZW-LN136WS',
 'HP Envy 15- 11th Gen Intel Core i9/32GB/1TB SSD/15.6 inch(39.6 cm) 400 nits,4K AMOLED Touch, TUV + Win 11 Pro 64/NVIDIA GeForce RTX 3060 6GB Graphics/Alexa/FPR /B&O/2.14kg,15-ep1087TX, Natural Silver',
 'Dell G7 7500 15.6inch FHD 300 Hz Display Gaming Laptop (10th Gen i9-10885H / 16 GB / 1TB SSD / NVIDIA RTX 2070 8GB Graphics / 1Yr Premium Warranty / Win 10 + MS Office H&S 2019) D560233WIN9B, Black',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 240Hz, Intel Core i9-11900H 11th Gen, GeForce RTX 3060 6GB Graphics, Gaming Laptop(16GB/1TB SSD/Office 2019/Windows 10/Gray/2.3 Kg), FX566HM-AZ096TS',
 'Predator Helios 500 Gaming Laptop (11th Gen Intel Core I9/17.3" 4K UHD Display/64GB DDR4 RAM/2TB SSD/1TB HDD/RTX 3080 Graphics/Per Key RGB Backlit Keyboard) | PH517-52',
 '(Renewed) HP Omen 15-dh0139TX Gaming Laptop (9th Gen i9-9880H/16GB/1TB HDD + 512GB SSD/Win 10/8GB NVIDIA RTX 2080 Graphics) & Z3700 Wireless Mouse']

In [72]:
# creating an empty list to scrap all prices for laptops for i9
price_lap1=[]
#scrapting all the tags brand names
lap_price3=driver6.find_elements_by_class_name("a-price-whole")

#displaying 10 tags extracted above into text 
for i in lap_price3:
    lap3=i.text
    price_lap1.append(lap3)
price_lap1[0:10]

['1,39,990',
 '3,31,990',
 '2,85,390',
 '2,32,394',
 '2,02,990',
 '2,05,990',
 '1,77,885',
 '3,79,990',
 '1,38,000',
 '3,29,990']

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image

In [97]:
#connecting to the webdriver
driver6= webdriver.Chrome(r"C:\Users\Asus\Desktop\webdriver\chromedriver.exe")

driver6=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

#opening myntra.com website in automated window 
driver6.get('https://www.ambitionbox.com/')

#to display the jobs tab for in abmitionbox
amb_jobs=driver6.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
amb_jobs.click()

#finding the element to search and entering "Data Scientist"
search_feild_designation=driver6.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
search_feild_designation.send_keys('Data Scientist')

#clicking on search to display results
amb_se=driver6.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button')
amb_se.click()

In [98]:
#clicking on location tab to filter location to Noida
filt=driver6.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
filt.click()

In [100]:
#finding the element
search_feild_location=driver6.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search_feild_location.send_keys('Noida')

#selecting Noida and searching for 10 results
filtr=driver6.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
filtr.click()

In [110]:
#creating an empty list to scrap 10 company names
comp_desc=[]
#scrapting all the tags having names
comp1=driver6.find_elements_by_class_name("company")

#displaying 10 tags extracted into text
for i in comp1:
    desc2=i.text
    comp_desc.append(desc2)
comp_desc[0:10]

['EXL Services.com ( I ) Pvt. Ltd.',
 'GENPACT India Private Limited',
 'EXL Services.com ( I ) Pvt. Ltd.',
 'GENPACT India Private Limited',
 'TECHNIP GLOBAL BUSINESS SERVICES PRIVATE LIMITED',
 'Tech Mahindra Ltd',
 'GENPACT India Private Limited',
 'Bristlecone India Limited',
 'Zyoin',
 'Ashkom Media India Private Limited']

In [122]:
#creating an empty list to scrap 10 details of reviews
days_ago=[]
#scrapting all the tags having reviews
day=driver6.find_elements_by_class_name("body-small")

#displaying 10 tags extracted into text
for i in day:
    days=i.text
    days_ago.append(days)
days_ago[0:10]

['4.0', '3.9', '4.0', '3.9', '3.7', '4.0', '3.8', '4.1', '3.7', '3.5']

In [123]:
#printing the length of each list 
print(len(days_ago),len(comp_desc))

10 11

In [ ]:
# Note: For Q9 i was unable to extract the days ago and also the lengh of the data shows incorrect. eg(comp_desc has 10 names, but when length is taken it shows 11)

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.

In [124]:
#connecting to the webdriver
driver6= webdriver.Chrome(r"C:\Users\Asus\Desktop\webdriver\chromedriver.exe")

driver6=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

#opening myntra.com website in automated window 
driver6.get('https://www.ambitionbox.com/')

#to display the salary tab for in abmitionbox
amb_salary=driver6.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
amb_salary.click()

#finding the element to search and entering "Data Scientist"
search_feild_designation=driver6.find_element_by_xpath('/html/body/div/div/div/div[2]/div/div/div/div[1]/span/input')
search_feild_designation.send_keys('Data Scientist')

#clicking on search to display results
amb_sal=driver6.find_element_by_xpath('/html/body/div[1]/div/div/div[2]/div/div/div/button/span')
amb_sal.click()

In [127]:
#creating an empty list to scrap 10 company names
comp_desc2=[]
#scrapting all the tags having names
comp2=driver6.find_elements_by_class_name("name")

#displaying 10 tags extracted into text
for i in comp2:
    desc3=i.text
    comp_desc2.append(desc3)
comp_desc2[0:10]

['Walmart\nbased on 11 salaries',
 'Ab Inbev\nbased on 32 salaries',
 'Reliance Jio\nbased on 10 salaries',
 'ZS\nbased on 15 salaries',
 'Optum\nbased on 27 salaries',
 'Fractal Analytics\nbased on 81 salaries',
 'Tiger Analytics\nbased on 46 salaries',
 'UnitedHealth\nbased on 53 salaries',
 'Verizon\nbased on 14 salaries',
 'Ganit Business Solutions\nbased on 13 salaries']

In [128]:
#creating an empty list to scrap expreience required
exp_rqd=[]
#scrapting all the tags having names
experience=driver6.find_elements_by_class_name("salaries")

#displaying 10 tags extracted into text
for i in experience:
    exp=i.text
    exp_rqd.append(exp)
exp_rqd[0:10]

['Data Scientist\n . \n3 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n4 yrs exp',
 'Data Scientist\n . \n2 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp',
 'Data Scientist\n . \n4 yrs exp',
 'Data Scientist\n . \n4 yrs exp']

In [139]:
#creating an empty list to scrap max salary
max_sal=[]
#scrapting all the tags having the maximum salary
maximum=driver6.find_elements_by_class_name("value")

#displaying 10 tags extracted into text
for i in maximum:
    exp1=i.text
    max_sal.append(exp1)
max_sal[0:10]

['₹ 25.0L',
 '₹ 35.0L',
 '₹ 15.0L',
 '₹ 25.5L',
 '₹ 5.6L',
 '₹ 26.2L',
 '₹ 9.8L',
 '₹ 20.0L',
 '₹ 11.0L',
 '₹ 22.0L']

In [132]:
#creating an empty list to scrap average max salary
avg_sal=[]
#scrapting all the tags having the averager salary
average=driver6.find_elements_by_class_name("averageCtc")

#displaying 10 tags extracted into text
for i in average:
    avg=i.text
    avg_sal.append(avg)
avg_sal[0:10]

['₹ 29.7L',
 '₹ 20.5L',
 '₹ 18.9L',
 '₹ 15.9L',
 '₹ 15.2L',
 '₹ 15.2L',
 '₹ 14.8L',
 '₹ 14.0L',
 '₹ 12.7L',
 '₹ 12.4L']

In [133]:
#creating an empty list to scrap minimmum salary
min_sal=[]
#scrapting all the tags having min salary
mini=driver6.find_elements_by_class_name("value")

#displaying 10 tags extracted into text
for i in mini:
    minimum=i.text
    min_sal.append(minimum)
min_sal[0:10]

['₹ 25.0L',
 '₹ 35.0L',
 '₹ 15.0L',
 '₹ 25.5L',
 '₹ 5.6L',
 '₹ 26.2L',
 '₹ 9.8L',
 '₹ 20.0L',
 '₹ 11.0L',
 '₹ 22.0L']

In [141]:
#printing the length of each list 
print(len(comp_desc2),len(exp_rqd),len(avg_sal),len(max_sal),len(min_sal))

25 10 10 20 20