# WEB SCRAPING – ASSIGNMENT 4

# Importing the required libraries

In [2]:
#importing libraries
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
from selenium import webdriver
import requests
import re
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

import warnings
warnings.filterwarnings('ignore')

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia.

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [91]:
#Connecting to the webdriver
driver=webdriver.Chrome(r"C:\Users\Asus\Desktop\webdriver\chromedriver.exe")

In [92]:
# Connecting to wikipedia.org
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [93]:
# Creating empty lists to scrap the data
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

# Scraping the data from the webpage

In [94]:
#Using Try and except Block

try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[1]")[:30]:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')

In [95]:
# Scraping video names 

try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[2]")[:30]:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')

In [96]:
#Scraping data of artist name

try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[3]")[:30]:
        Artist.append(i.text)
except NoSuchElementException:        
    Artist.append('-')

In [97]:
#Scraping upload dates

try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[5]")[:30]:
        Upload_date.append(i.text)
except NoSuchElementException:        
    Upload_date.append('-')

In [98]:
#Scraping data of views

try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[4]")[:30]:
        Views.append(i.text)
except NoSuchElementException:
    Views.append('-')

In [99]:
#printing the length of each list 
print(len(Rank),len(Name),len(Artist),len(Upload_date),len(Views))

30 30 30 30 30

In [100]:
#Creating a DataFrame

Youtube=pd.DataFrame({})
Youtube['Rank'] = Rank
Youtube['Name'] = Name
Youtube['Artist'] = Artist
Youtube['Uploaded Date'] = Upload_date
Youtube['Views'] = Views

In [101]:
#Printing the data frame
Youtube

,Rank,Name,Artist,Uploaded Date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.80
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.87
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.37
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.74
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.54
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.44
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.67
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.60
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.58
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,"January 31, 2012",4.50
10,11.,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.45
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.12
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",3.95
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.71
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.60
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.59
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.55
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.46
18,19.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.38
19,20.,"""Girls Like You""[38]",Maroon 5,"May 31, 2018",3.30
20,21.,"""Faded""[39]",Alan Walker,"December 3, 2015",3.29
21,22.,"""Dark Horse""[40]",Katy Perry,"February 20, 2014",3.29
22,23.,"""Baa Baa Black Sheep""[41]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.26
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.24
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.22
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.22
26,27.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.18
27,28.,"""Shake It Off""[46]",Taylor Swift,"August 18, 2014",3.18
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,"June 4, 2010",3.16
29,30.,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.09

# 2. Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time

In [102]:
#Connecting to the webdriver
driver=webdriver.Chrome(r"C:\Users\Asus\Desktop\webdriver\chromedriver.exe")

In [103]:
# Getting the webpage of bcci.tv
url = "https://www.bcci.tv/."
driver.get(url)

In [104]:
#Getting the data for international fixture and clicking on it
driver.find_element_by_xpath("/html/body/nav/div[1]/div[2]/ul[1]/li[2]").click()

In [105]:
#Getting International Fixtures
driver.find_element_by_xpath("/html/body/div[2]/div[1]/div/ul/li[1]").click()

In [107]:
#Searching for India
search=driver.find_element_by_xpath("/html/body/nav/div[2]/form/div/button")
time.sleep(2)
search.send_keys('India')

In [108]:
#Creating empty lists
Match_title=[]
ODI=[]
Place=[]
Date=[]
Time=[]

In [109]:
#scrapping the data for Match title
try:
    for i in driver.find_elements_by_xpath("//span[@class='ng-binding']"):
        Match_title.append(i.text)
except NoSuchElementException:
    Match_title.append('-')

In [110]:
#Scraping data for ODI
try:
    for i in driver.find_elements_by_xpath("//div[@class='fix-place ng-binding ng-scope']"):
        ODI.append(i.text.split('-')[0])
except NoSuchElementException:
    ODI.append('-')

In [111]:
#scraping the data for place
try:
    for i in driver.find_elements_by_xpath("//div[@class='fix-place ng-binding ng-scope']"):
        Place.append(i.text.split('-')[-1])
except NoSuchElementException:
    Place.append('-')

In [112]:
#scraping the data for date
try:
    for i in driver.find_elements_by_xpath("//h5[@class='ng-binding']"):
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')

In [113]:
#scraping the data for time
try:
    for i in driver.find_elements_by_xpath("//h5[@class='text-right ng-binding']"):
        Time.append(i.text)
except NoSuchElementException:
    Date.append('-')

In [114]:
#printing the length of each list 
print(len(ODI),len(Match_title),len(Place),len(Date),len(Time))

8 8 8 8 8

In [115]:
data=list(zip(ODI, Match_title,Place, Date, Time))

In [116]:
#Making a dataframe
df=pd.DataFrame(data,columns=['ODI','Match_Series','Place','Date','Time'])

In [117]:
df #printing the dataframe

,ODI,Match_Series,Place,Date,Time
0,1st T20I,INDIA WOMEN TOUR OF SRI LANKA T20 SERIES 2022,"Rangiri Dambulla International Stadium, Dambulla",23 JUN 2022,2:00 PM IST
1,2nd T20I,INDIA WOMEN TOUR OF SRI LANKA T20 SERIES 2022,"Rangiri Dambulla International Stadium, Dambulla",25 JUN 2022,2:00 PM IST
2,1st T20I,INDIA TOUR OF IRELAND T20 SERIES 2022,"The Village, Dublin",26 JUN 2022,9:00 PM IST
3,3rd T20I,INDIA WOMEN TOUR OF SRI LANKA T20 SERIES 2022,"Rangiri Dambulla International Stadium, Dambulla",27 JUN 2022,2:00 PM IST
4,2nd T20I,INDIA TOUR OF IRELAND T20 SERIES 2022,"The Village, Dublin",28 JUN 2022,9:00 PM IST
5,1st ODI,INDIA WOMEN TOUR OF SRI LANKA ODI SERIES 2022,"Pallekele International Cricket Stadium, Pall...",1 JUL 2022,10:00 AM IST
6,5th Test,INDIA TOUR OF ENGLAND TEST SERIES 2021,"Edgbaston, Birmingham",1 JUL 2022,3:30 PM IST
7,2nd ODI,INDIA WOMEN TOUR OF SRI LANKA ODI SERIES 2022,"Pallekele International Cricket Stadium, Pall...",4 JUL 2022,10:00 AM IST

# 3. Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description

In [122]:
#Connecting to the webdriver
driver=webdriver.Chrome(r"C:\Users\Asus\Desktop\webdriver\chromedriver.exe")

In [123]:
# Getting the webpage of mentioned url 
url = "https://www.guru99.com/"
driver.get(url)

In [126]:
#Navigating to the search bar and searching for selenium exception
ser_bar = driver.find_element_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[1]/div/table/tbody/tr/td[1]/input")
ser_bar.send_keys("selenium exception handling")
ser_but = driver.find_element_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[2]/button").click()
time.sleep(2)

In [127]:
#Url of selenium exception handling page
urls = driver.find_element_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a")
page_url = urls.get_attribute("href")

driver.get(page_url)
time.sleep(3)

In [129]:
#Scraping data of names of exceptions

#creating an empty list to store scraped data
Name = []
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']//tr//td[1]")[1:]:
    Name.append(i.text)

In [130]:
#Scraping data of descriptions of exceptions  

#creating an empty list 
Description = []
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']//tr//td[2]")[1:]:
    Description.append(i.text)

In [131]:
#Creating a dataframe
Guru99=pd.DataFrame({})
Guru99['Name of Exception'] = Name
Guru99['Description of Exception'] = Description

In [132]:
#printing the dataframe
Description

[]

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.

urls = driver.find_element_by_xpath("//div[@class='dropdown-content']//a[3]")
ineco_page = urls.get_attribute("href")
#Going to indian economy page
driver.get(ineco_page)  
time.sleep(5)url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)

In [133]:
#Connecting to the webdriver
driver=webdriver.Chrome(r"C:\Users\Asus\Desktop\webdriver\chromedriver.exe")

In [134]:
# Getting the webpage of mentioned url 
url = "http://statisticstimes.com/"
driver.get(url)

In [135]:
#Clicking on economy section
economy = driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/button").click()

In [136]:
urls = driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
ineco_page = urls.get_attribute("href")

#Going to indian economy page
driver.get(ineco_page)  
time.sleep(3)

In [137]:
#Creating empty lists
Rank = []
State = []
GSDP_1 = []
GSDP_2 = []
Share = []
GDP = []

In [138]:
#get the url of page containing GDP of indian states
sta_GDP = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
GDP_url = sta_GDP.get_attribute("href")

driver.get(GDP_url)
time.sleep(5)

In [139]:
# Scraping the data

#Scraping data of rank
for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[1]"):
    Rank.append(i.text)

In [140]:
#Scraping data of state name
for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[2]"):
    State.append(i.text)

In [141]:
# Scraping data of GSDP at current price 
for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[3]"):
    GSDP_1.append(i.text)

In [142]:
#Scraping data of GSDP at current price (18-19)
for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[4]"):
    GSDP_2.append(i.text)

In [143]:
#Scraping data of Share(18-19)
for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[5]"):
    Share.append(i.text)

In [144]:
#Scraping data of GDP($ billion)
for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[6]"):
    GDP.append(i.text)

In [145]:
#DataFraming
data=list(zip(Rank,State,GSDP_1,GSDP_2,Share,GDP))

In [146]:
#creating the dataframe
df=pd.DataFrame(data,columns=['Rank','Indian_State','GSDP(19-20)','GSDP(18-19)','Share','GDP'])

In [147]:
df

   Rank               Indian_State GSDP(19-20) GSDP(18-19)   Share      GDP
0     1                Maharashtra           -   2,632,792  13.94%  399.921
1     2                 Tamil Nadu   1,845,853   1,630,208   8.63%  247.629
2     3              Uttar Pradesh   1,687,818   1,584,764   8.39%  240.726
3     4                    Gujarat           -   1,502,899   7.96%  228.290
4     5                  Karnataka   1,631,977   1,493,127   7.91%  226.806
5     6                West Bengal   1,253,832   1,089,898   5.77%  165.556
6     7                  Rajasthan   1,020,989     942,586   4.99%  143.179
7     8             Andhra Pradesh     972,782     862,957   4.57%  131.083
8     9                  Telangana     969,604     861,031   4.56%  130.791
9    10             Madhya Pradesh     906,672     809,592   4.29%  122.977
10   11                     Kerala           -     781,653   4.14%  118.733
11   12                      Delhi     856,112     774,870   4.10%  117.703
12   13                    Haryana     831,610     734,163   3.89%  111.519
13   14                      Bihar     611,804     530,363   2.81%   80.562
14   15                     Punjab     574,760     526,376   2.79%   79.957
15   16                     Odisha     521,275     487,805   2.58%   74.098
16   17                      Assam           -     315,881   1.67%   47.982
17   18               Chhattisgarh     329,180     304,063   1.61%   46.187
18   19                  Jharkhand     328,598     297,204   1.57%   45.145
19   20                Uttarakhand           -     245,895   1.30%   37.351
20   21            Jammu & Kashmir           -     155,956   0.83%   23.690
21   22           Himachal Pradesh     165,472     153,845   0.81%   23.369
22   23                        Goa      80,449      73,170   0.39%   11.115
23   24                    Tripura      55,984      49,845   0.26%    7.571
24   25                 Chandigarh           -      42,114   0.22%    6.397
25   26                 Puducherry      38,253      34,433   0.18%    5.230
26   27                  Meghalaya      36,572      33,481   0.18%    5.086
27   28                     Sikkim      32,496      28,723   0.15%    4.363
28   29                    Manipur      31,790      27,870   0.15%    4.233
29   30                   Nagaland           -      27,283   0.14%    4.144
30   31          Arunachal Pradesh           -      24,603   0.13%    3.737
31   32                    Mizoram      26,503      22,287   0.12%    3.385
32   33  Andaman & Nicobar Islands           -           -       -        -

# 5. Scrape the details of trending repositories on Github.com.

#getting the desired webpage.
url='https://github.com/'
driver.get(url)
time.sleep(2)url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [148]:
#Connecting to the webdriver
driver=webdriver.Chrome(r"C:\Users\Asus\Desktop\webdriver\chromedriver.exe")

In [151]:
#getting the webpage
url='https://github.com/'
driver.get(url)
time.sleep(2)

In [153]:
#Clicking on the explore button
explore = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary").click()

In [154]:
#Selecting the popular options
trend_url = driver.find_element_by_xpath("/html/body/div[1]/header/div[1]/div[2]/nav/ul/li[4]/details/div[1]/ul[1]/li[3]/a")
urls = trend_url.get_attribute("href")
driver.get(urls)

In [155]:
#Creating empty lists
URLs = []
repository_title = []
Description = []
Contributors = []
Language = []
lang = []

In [156]:
#scraping data from each repository
repository = driver.find_elements_by_xpath("//h1[@class = 'h3 lh-condensed']//a")
for i in repository:
    URLs.append(i.get_attribute("href"))

In [157]:
#Scraping Repository Title data
title = driver.find_elements_by_xpath("//h1[@class = 'h3 lh-condensed']")
for i in title:
    repository_title.append(i.text)

In [158]:
# Scraping data from all repository page
for i in URLs:
    driver.get(i)
    time.sleep(3)

In [159]:
#Scraping Repository Description data
try:
    desc = driver.find_element_by_xpath("//p[@class='f4 mt-3']")
    Description.append(desc.text)
except NoSuchElementException:
    Description.append('-')

In [160]:
# Scraping Contributors Count data
try:
    contributor = driver.find_element_by_xpath("//*[contains(text(),'    Contributors ')]")
    Contributors.append(contributor.text.replace('Contributors',''))
except NoSuchElementException:
    Contributors.append('-')

In [161]:
# Scraping Languages used data
try:
    for i in driver.find_elements_by_xpath("//span[@class='color-text-primary text-bold mr-1']"):
        lang.append(i.text)
        Language.append(lang)
except NoSuchElementException:
    Language.append('-')

In [163]:
#Making a dataframe
Github=pd.DataFrame({})
Github['Repository title'] = repository_title
Github['Repository description'] = Description
Github['Contributors count'] = Contributors

In [164]:
Github

   Repository title Repository description Contributors count
0               NaN                      -                  -

# 6. Scrape the details of top 100 songs on billiboard.com.

Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [165]:
#Connecting to the webdriver
driver=webdriver.Chrome(r"C:\Users\Asus\Desktop\webdriver\chromedriver.exe")

In [166]:
# Getting the webpage of mentioned url 
url = "https:/www.billboard.com/"
driver.get(url)

In [167]:
#Clicking on charts tab
driver.find_element_by_xpath("/html/body/div[3]/header/div[1]/div/div/div[2]/div/nav/ul/li[1]/a").click()

In [168]:
#Clicking on hot 100 tab
driver.find_element_by_xpath("/html/body/div[3]/header/div[2]/div/nav/ul/li[1]/a").click()

In [169]:
# Creating empty lists
Song_Name = []
Artist_Name = []
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

In [170]:
# Scraping data of song names
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']"):
    Song_Name.append(i.text)

In [171]:
# Scraping data of artist names
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']"):
    Artist_Name.append(i.text)

In [172]:
# Scraping data of last week ranks
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']"):
    Last_week_rank.append(i.text)

In [173]:
# Scraping data of peak rank
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']"):
    Peak_rank.append(i.text)

In [174]:
# Scraping data of weeks on board
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']"):
    Weeks_on_board.append(i.text)

In [175]:
# Creating dataframe for scraped data
billboard=pd.DataFrame({})
billboard['Name'] = Song_Name
billboard['Artist'] = Artist_Name
billboard['Last week rank'] = Last_week_rank
billboard['Peak rank'] = Peak_rank
billboard['Weeks on board'] = Weeks_on_board

In [176]:
billboard

Empty DataFrame
Columns: [Name, Artist, Last week rank, Peak rank, Weeks on board]
Index: []

# 7. Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

In [4]:
#Connecting to the webdriver
driver=webdriver.Chrome(r"C:\Users\Asus\Desktop\webdriver\chromedriver.exe")

In [5]:
# Getting the webpage of mentioned url 
url = "https://www.naukri.com/"
driver.get(url)

In [10]:
# Fetching search button, sending keys and clicking on it
search = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div[1]/div[1]/div/div/div/input") 
search.send_keys("Data science ")           
btn = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div[1]/div[6]").click()     
time.sleep(3)

In [13]:
#Creating empty lists
Name = []
Designation = []
Company = []
Skills = []
Location = []

In [14]:
#Scraping data of Names
for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"):
    Name.append(i.text)
time.sleep(3)

In [24]:
#Scraping data of Designation
for i in driver.find_elements_by_xpath("/html/body/div[1]/div[3]/div[2]/section[2]/div[2]/article[2]/div[1]/div[1]/a"):
    Designation.append(i.text)
time.sleep(3)

In [23]:
#Scraping data of company name
for i in driver.find_elements_by_xpath("/html/body/div[1]/div[3]/div[2]/section[2]/div[2]/article[2]/div[1]/div[1]/div/a[1]"):
    Company.append(i.text)
time.sleep(3)

In [22]:
#scraping data of Skills 
for i in driver.find_elements_by_xpath("/html/body/div[1]/div[3]/div[2]/section[2]/div[2]/article[1]/ul"):
    try:
        if i.text == "Not Specified": raise NoSuchElementException
        Skills.append(i.text)
    except NoSuchElementException:
        Skills.append('-')
    time.sleep(3)

In [21]:
#Scraping data of locations
for i in driver.find_elements_by_xpath("/html/body/div[1]/div[3]/div[2]/section[2]/div[2]/article[1]/div[1]/div/ul/li[3]/span"):
    Location.append(i.text)
time.sleep(3)

In [25]:
# Creating dataframe for scraped data
Naukri=pd.DataFrame({})
Naukri['Name'] = Name[:50]
Naukri['Designation'] = Designation[:50]
Naukri['Company'] = Company[:50]
Naukri['Skills'] = Skills[:50]
Naukri['Location'] = Location[:50]

In [26]:
#printing the dataframe
Naukri

,Name,Designation,Company,Skills,Location
0,NaN,Data Science Analyst,Shell,data analysis\nbig data analytics\nConjoint\nT...,"Chennai, Bangalore/Bengaluru, Mumbai (All Areas)"

# 8. Scrape the details of Highest selling novels

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [27]:
#Connecting to the webdriver
driver=webdriver.Chrome(r"C:\Users\Asus\Desktop\webdriver\chromedriver.exe")

In [28]:
# Getting the webpage of mentioned url 
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)

In [29]:
#create an empty lists to store the scraping data
Book_Name=[] 
Author_Name=[] 
Volumes_Sold=[]
Publisher=[] 
Genre=[]

In [30]:
#create a function
book = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in book:
    Book_Name.append(i.text)
author = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in author:
    Author_Name.append(i.text)
vol = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in vol:
    Volumes_Sold.append(i.text)
pub = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in pub:
    Publisher.append(i.text)
gen = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in gen:
    Genre.append(i.text)

In [31]:
# create the dataframe from the scraped data
Novel=pd.DataFrame({})
Novel['Book Name']=Book_Name
Novel['Author Name']= Author_Name
Novel['Volumes Sold']=Volumes_Sold
Novel['Publisher']=Publisher
Novel['Genre']=Genre
Novel

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [32]:
#Connecting to the webdriver
driver=webdriver.Chrome(r"C:\Users\Asus\Desktop\webdriver\chromedriver.exe")

In [33]:
# Getting the webpage of mentioned url 
url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)

In [34]:
#Creating empty lists.
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [35]:
#Scraping data of Names
for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a"):
    Name.append(i.text)

In [36]:
#Scraping data of Year span
for i in driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)

In [37]:
#Scraping data of genre
for i in driver.find_elements_by_xpath("//span[@class='genre']"):
    Genre.append(i.text)

In [38]:
#Scraping data of Run time
for i in driver.find_elements_by_xpath("//span[@class='runtime']"):
    Run_time.append(i.text)

In [39]:
#Scraping data of Ratings
for i in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)

In [40]:
#Scraping data of votes
for i in driver.find_elements_by_xpath("//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [41]:
#DATA FRAMEING
IMDB=pd.DataFrame({})
IMDB['Name'] = Name
IMDB['Year Span'] = Year_span
IMDB['Genre'] = Genre
IMDB['Run Time'] = Run_time
IMDB['Ratings'] = Ratings
IMDB['Votes'] = Votes
IMDB

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,998,743"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,048,023"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"951,105"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"284,272"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"244,060"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.4,"48,950"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"59,660"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"190,955"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,382"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"229,479"

# 10. Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute

In [50]:
#Connecting to the webdriver
driver=webdriver.Chrome(r"C:\Users\Asus\Desktop\webdriver\chromedriver.exe")

In [51]:
# Getting the webpage of mentioned url 
url = "https://archive.ics.uci.edu/"
driver.get(url)

In [52]:
#Finding view all dataset button
view_dataset = driver.find_element_by_xpath("//tbody[1]//tr/td[2]/span[2]/a")    
page_url = view_dataset.get_attribute("href")
driver.get(page_url)
time.sleep(5)

In [53]:
#Getting page urls containing list of all datasets
all_lst = driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a")  
lst_url = all_lst.get_attribute("href")           
driver.get(lst_url)
time.sleep(5)

In [54]:
#fetching url for each dataset
data_url = driver.find_elements_by_xpath("//p[@class='normal']//b/a")

In [55]:
urls = []     
for i in data_url:
    urls.append(i.get_attribute("href"))

In [56]:
#Creating empty list
Data_name = []
Data_type = []
Task = []
Attr_type = []
Instances = []
n_attributes = []
Year = []

In [ ]:
#Scraping Dataset name
    try: 
        ds_name = driver.find_element_by_xpath("//span[@class='heading']")
        Data_name.append(ds_name.text)
    except NoSuchElementException:
        Data_name.append('-')
    time.sleep(1)

In [ ]:
  #Scraping data type
    try:
        dtype = driver.find_element_by_xpath("//table[@border='1']//tbody/tr/td[2]")
        if dtype.text == "N/A": raise NoSuchElementException
        Data_type.append(dtype.text)
    except NoSuchElementException:
        Data_type.append('-')
    time.sleep(1)

In [ ]:
#Scraping Attribute type
    try:
        atype = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[2]")
        if atype.text == "N/A": raise NoSuchElementException
        Attr_type.append(atype.text)
    except NoSuchElementException:
        Attr_type.append('-')
    time.sleep(1)

In [ ]:
 #scraping Task
    try:
        task = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[3]/td[2]")
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    time.sleep(1)

In [ ]:
    #Scraping No of instances
    try:
        inst = driver.find_element_by_xpath("//table[@border='1']//tbody/tr/td[4]")
        if inst.text == "N/A": raise NoSuchElementException
        Instances.append(inst.text)
    except NoSuchElementException:
        Instances.append('-')
    time.sleep(1)

In [ ]:
  #Scraping  No of attribute
    try:
        attr = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[4]")
        if attr.text == "N/A": raise NoSuchElementException
        n_attributes.append(attr.text)
    except NoSuchElementException:
        n_attributes.append('-')
    time.sleep(1)

In [ ]:
  #scraping year
    try:
        year = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[6]")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')
    time.sleep(1)

In [ ]:
    #DATA FRAMEING
UCI=pd.DataFrame({})
UCI['Data Name'] = Data_name
UCI['Data Type'] = Data_type
UCI['Task'] = Task
UCI['Attribute type'] = Attr_type
UCI['No of instance'] = Instances
UCI['No of attributes'] = n_attributes
UCI['Year'] = Year

In [ ]:
UCI