# Flight Price Web Scrapping:

ANKUSH C Intership Batch:25

In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import selenium.webdriver
from datetime import date
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from dateutil.relativedelta import relativedelta
import csv
import linecache
import sys

In [2]:
def PrintException():
    exc_type, exc_obj, tb = sys.exc_info()
    f = tb.tb_frame
    lineno = tb.tb_lineno
    filename = f.f_code.co_filename
    linecache.checkcache(filename)
    line = linecache.getline(filename, lineno, f.f_globals)
    print('EXCEPTION IN ({}, LINE {} "{}"): {}'.format(filename, lineno, line.strip(), exc_obj))

In [3]:
def scrap(origin,destin,trDate):
    global none
    baseDataUrl = "https://www.makemytrip.com/flight/search?itinerary="+ origin +"-"+ destin +"-"+ trDate +"&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E"

    try:
        driver = selenium.webdriver.Chrome(r"C:\Users\POOJA C\Downloads\chromedriver_win32\chromedriver.exe") 
        print ("Requesting URL: " + baseDataUrl)

        driver.get(baseDataUrl)  
        print ("Webpage found ...")

        element_xpath = '//*[@id="left-side--wrapper"]/div[2]'

        
        element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))

        print ("Scrolling document upto bottom ...")
        for j in range(1, 100):
            driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

        
        body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

        print("Closing Chrome ...")
        driver.quit()

        print("Getting data from DOM ...")
        soupBody = BeautifulSoup(body)
        
        spanFlightName = soupBody.find_all("span", 'boldFont blackText airlineName')
        print("spanFlightName  = " + str(len(spanFlightName)))

        Time = soupBody.find_all("p", {"class":"blackText fontSize18 blackFont appendBottom2 makeFlex hrtlCenter"})			# Tags with Departure Time
        print("Time Count in Scraping  = " + str(len(Time)))

        City = soupBody.findAll("p", {"class": "darkText"})
        print("City Count in Scraping  = " + str(len(City)))

        spanFlightCost = soupBody.findAll("p", {"class": "blackText fontSize18 blackFont white-space-no-wrap"})			# Tags with Flight Cost
        print("spanFlightCost Count in Scraping  = " + str(len(spanFlightCost)))

        pFlightStops = soupBody.findAll("p", {"class": "flightsLayoverInfo"})
        print("pFlightStops Count in Scraping  = " + str(len(pFlightStops)))
        
        transform(spanFlightName,trDate,City,Time,spanFlightCost,pFlightStops)



   
    except :
        PrintException()
        print(trDate," scraping complete")
        
        none =True

In [4]:
dates=(pd.date_range(start='24/11/2021', end='30/11/2021'))
New_date=[]
for i,date in enumerate(dates):
    day=str(date.day).zfill(2)   
    month=str(date.month).zfill(2)
    year=str(date.year)
    date=day+'/'+month+'/'+year  
    New_date.append(date)
print(New_date)

['24/11/2021', '25/11/2021', '26/11/2021', '27/11/2021', '28/11/2021', '29/11/2021', '30/11/2021']

In [5]:
#Lists to store scraped data
Airline=[]
Journey_date=[]
From=[]
To=[]
Price=[]
Dtime=[]
Atime=[]
Stops=[]

flight_data = pd.DataFrame(np.nan, index=[0], columns=['Airline', 'Journey_date','From','To','Dtime','Atime','Stops','Price'])
flight_data.to_csv('Flight.csv')
 
def transform(spanFlightName,trDate,City,Time,spanFlightCost,pFlightStops):
    
    Airline.clear()
    Journey_date.clear()
    Price.clear()
    Stops.clear()
    From.clear()
    Dtime.clear()
    To.clear()
    Atime.clear()
    
    global flight_data
    print("Transaform Function Running.... ")
    for i in range(0,len(spanFlightName)):
        
        Airline.append(spanFlightName[i].string)
        Journey_date.append(trDate)
        Price.append(spanFlightCost[i].string)
        Stops.append(pFlightStops[i].string)
        
      
    for j in range(0,len(Time)):
        
        if(j%2==0):
            
            From.append(City[j].string)
            Dtime.append(Time[j].string)
        else:
            
            To.append(City[j].string)
            Atime.append(Time[j].string) 

            
            
    temp = {'Airline':Airline,
            'Journey_date':Journey_date,
            'From':From,
            'To':To,
            'Dtime':Dtime,
            'Atime':Atime,
            'Stops':Stops,
            'Price':Price}
    df=pd.DataFrame(temp)
    df.to_csv('Flight.csv', mode='a', header=False)
    flight_data = pd.concat([flight_data,df])
    flight_data=flight_data.reset_index(drop=True)
    display(flight_data)
    print('Lenght : ',len(flight_data))

In [6]:
list_of_dest=['GOI','AMD','TIR','BLR','BOM','DEL']
for i in range(0,len(list_of_dest)):
    orgin=list_of_dest[i]
    for_to=list_of_dest
    print("--------------")
    for j in range(0,len(for_to)):
        destin=for_to[j]
        none = False
        print("origin = "+orgin)
        print("destin = "+destin+'\n')
        if orgin!=destin:
            for i,date in enumerate(New_date) :
                if none !=True:
                    scrap(orgin,destin,date)
                    print(" ")
                else:
                    break
            else: 
                print( "-----Skiped-----")
                print(" ")

--------------
origin = GOI
destin = GOI

origin = GOI
destin = AMD

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
5,Go First,24/11/2021,Goa,Ahmedabad,06:40,20:25,1 stop via Mumbai,"₹ 5,315"
6,Go First,24/11/2021,Goa,Ahmedabad,18:15,00:05,1 stop via Mumbai,"₹ 5,315"
7,Go First,24/11/2021,Goa,Ahmedabad,17:00,00:05,1 stop via Mumbai,"₹ 5,315"
8,Go First,24/11/2021,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
9,Go First,24/11/2021,Goa,Ahmedabad,17:40,07:30,1 stop via New Delhi,"₹ 5,315"
10,Go First,24/11/2021,Goa,Ahmedabad,23:55,08:50,1 stop via Mumbai,"₹ 5,315"
11,IndiGo,24/11/2021,Goa,Ahmedabad,07:25,09:00,Non stop,"₹ 5,316"
12,IndiGo,24/11/2021,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
13,IndiGo,24/11/2021,Goa,Ahmedabad,14:35,20:45,1 stop via Bengaluru,"₹ 5,316"
14,IndiGo,24/11/2021,Goa,Ahmedabad,23:30,07:35,1 stop via Bengaluru,"₹ 5,316"
15,IndiGo,24/11/2021,Goa,Ahmedabad,21:45,07:35,1 stop via Bengaluru,"₹ 5,316"
16,IndiGo,24/11/2021,Goa,Ahmedabad,03:30,09:05,1 stop via Nagpur,"₹ 5,773"
17,Go First,24/11/2021,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,893"
18,"AirAsia, Go First",24/11/2021,Goa,Ahmedabad,01:05,13:40,"2 stop via Mumbai,Chandigarh","₹ 7,899"
19,IndiGo,24/11/2021,Goa,Ahmedabad,02:30,07:35,1 stop via Bengaluru,"₹ 8,057"
20,IndiGo,24/11/2021,Goa,Ahmedabad,18:30,01:20,1 stop via Mumbai,"₹ 8,057"
21,"Spicejet, Go First",24/11/2021,Goa,Ahmedabad,17:35,00:05,1 stop via Mumbai,"₹ 8,527"
22,"IndiGo, Go First",24/11/2021,Goa,Ahmedabad,18:30,00:05,1 stop via Mumbai,"₹ 8,633"
23,"Vistara, Go First",24/11/2021,Goa,Ahmedabad,13:20,20:25,1 stop via Mumbai,"₹ 8,634"

Lenght :  24

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 50
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
5,Go First,24/11/2021,Goa,Ahmedabad,06:40,20:25,1 stop via Mumbai,"₹ 5,315"
6,Go First,24/11/2021,Goa,Ahmedabad,18:15,00:05,1 stop via Mumbai,"₹ 5,315"
7,Go First,24/11/2021,Goa,Ahmedabad,17:00,00:05,1 stop via Mumbai,"₹ 5,315"
8,Go First,24/11/2021,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
9,Go First,24/11/2021,Goa,Ahmedabad,17:40,07:30,1 stop via New Delhi,"₹ 5,315"
10,Go First,24/11/2021,Goa,Ahmedabad,23:55,08:50,1 stop via Mumbai,"₹ 5,315"
11,IndiGo,24/11/2021,Goa,Ahmedabad,07:25,09:00,Non stop,"₹ 5,316"
12,IndiGo,24/11/2021,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
13,IndiGo,24/11/2021,Goa,Ahmedabad,14:35,20:45,1 stop via Bengaluru,"₹ 5,316"
14,IndiGo,24/11/2021,Goa,Ahmedabad,23:30,07:35,1 stop via Bengaluru,"₹ 5,316"
15,IndiGo,24/11/2021,Goa,Ahmedabad,21:45,07:35,1 stop via Bengaluru,"₹ 5,316"
16,IndiGo,24/11/2021,Goa,Ahmedabad,03:30,09:05,1 stop via Nagpur,"₹ 5,773"
17,Go First,24/11/2021,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,893"
18,"AirAsia, Go First",24/11/2021,Goa,Ahmedabad,01:05,13:40,"2 stop via Mumbai,Chandigarh","₹ 7,899"
19,IndiGo,24/11/2021,Goa,Ahmedabad,02:30,07:35,1 stop via Bengaluru,"₹ 8,057"
20,IndiGo,24/11/2021,Goa,Ahmedabad,18:30,01:20,1 stop via Mumbai,"₹ 8,057"
21,"Spicejet, Go First",24/11/2021,Goa,Ahmedabad,17:35,00:05,1 stop via Mumbai,"₹ 8,527"
22,"IndiGo, Go First",24/11/2021,Goa,Ahmedabad,18:30,00:05,1 stop via Mumbai,"₹ 8,633"
23,"Vistara, Go First",24/11/2021,Goa,Ahmedabad,13:20,20:25,1 stop via Mumbai,"₹ 8,634"
24,Spicejet,25/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
25,Spicejet,25/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
26,Go First,25/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
27,Go First,25/11/2021,Goa,Ahmedabad,06:40,20:25,1 stop via Mumbai,"₹ 5,315"
28,Go First,25/11/2021,Goa,Ahmedabad,18:15,00:05,1 stop via Mumbai,"₹ 5,315"
29,Go First,25/11/2021,Goa,Ahmedabad,17:00,00:05,1 stop via Mumbai,"₹ 5,315"
30,Go First,25/11/2021,Goa,Ahmedabad,23:45,07:30,1 stop via New Delhi,"₹ 5,315"
31,Go First,25/11/2021,Goa,Ahmedabad,17:40,07:30,1 stop via New Delhi,"₹ 5,315"
32,IndiGo,25/11/2021,Goa,Ahmedabad,07:25,08:55,Non stop,"₹ 5,316"
33,IndiGo,25/11/2021,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
34,IndiGo,25/11/2021,Goa,Ahmedabad,02:30,07:35,1 stop via Bengaluru,"₹ 5,316"
35,IndiGo,25/11/2021,Goa,Ahmedabad,08:05,19:05,1 stop via Bengaluru,"₹ 5,316"
36,IndiGo,25/11/2021,Goa,Ahmedabad,14:35,20:45,1 stop via Bengaluru,"₹ 5,316"
37,IndiGo,25/11/2021,Goa,Ahmedabad,20:10,06:45,1 stop via Chennai,"₹ 5,316"
38,IndiGo,25/11/2021,Goa,Ahmedabad,23:30,07:35,1 stop via Bengaluru,"₹ 5,316"
39,IndiGo,25/11/2021,Goa,Ahmedabad,21:45,07:35,1 stop via Bengaluru,"₹ 5,316"
40,IndiGo,25/11/2021,Goa,Ahmedabad,02:05,07:50,1 stop via Mumbai,"₹ 5,773"
41,IndiGo,25/11/2021,Goa,Ahmedabad,02:10,07:40,1 stop via Hyderabad,"₹ 6,686"
42,"Go First, IndiGo",25/11/2021,Goa,Ahmedabad,13:15,18:35,1 stop via Mumbai,"₹ 8,213"
43,"Air India, Go First",25/11/2021,Goa,Ahmedabad,15:20,20:25,1 stop via Mumbai,"₹ 8,214"
44,"AirAsia, IndiGo",25/11/2021,Goa,Ahmedabad,01:05,07:50,1 stop via Mumbai,"₹ 8,215"
45,"Spicejet, IndiGo",25/11/2021,Goa,Ahmedabad,08:05,14:55,1 stop via Mumbai,"₹ 8,371"
46,Go First,25/11/2021,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 8,465"
47,"Spicejet, Go First",25/11/2021,Goa,Ahmedabad,17:35,00:05,1 stop via Mumbai,"₹ 8,737"

Lenght :  48

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
65,IndiGo,26/11/2021,Goa,Ahmedabad,08:05,15:15,1 stop via Bengaluru,"₹ 7,143"
66,Air India,26/11/2021,Goa,Ahmedabad,15:20,19:05,1 stop via Mumbai,"₹ 7,533"
67,IndiGo,26/11/2021,Goa,Ahmedabad,06:55,14:55,1 stop via Mumbai,"₹ 7,941"
68,IndiGo,26/11/2021,Goa,Ahmedabad,02:10,07:40,1 stop via Hyderabad,"₹ 8,057"
69,IndiGo,26/11/2021,Goa,Ahmedabad,18:30,01:20,1 stop via Mumbai,"₹ 8,970"

Lenght :  70

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
87,IndiGo,27/11/2021,Goa,Ahmedabad,03:30,09:05,1 stop via Nagpur,"₹ 8,513"
88,Go First,27/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 9,379"
89,IndiGo,27/11/2021,Goa,Ahmedabad,14:40,21:30,1 stop via Indore,"₹ 9,427"
90,Vistara,27/11/2021,Goa,Ahmedabad,12:15,19:40,1 stop via New Delhi,"₹ 11,254"
91,IndiGo,27/11/2021,Goa,Ahmedabad,17:55,22:15,1 stop via Hyderabad,"₹ 11,711"

Lenght :  92

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 27
Time Count in Scraping  = 54
City Count in Scraping  = 56
spanFlightCost Count in Scraping  = 27
pFlightStops Count in Scraping  = 27
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
114,IndiGo,28/11/2021,Goa,Ahmedabad,17:55,22:15,1 stop via Hyderabad,"₹ 14,345"
115,IndiGo,28/11/2021,Goa,Ahmedabad,12:00,19:05,1 stop via Bengaluru,"₹ 15,092"
116,IndiGo,28/11/2021,Goa,Ahmedabad,02:10,07:40,1 stop via Hyderabad,"₹ 16,340"
117,IndiGo,28/11/2021,Goa,Ahmedabad,14:35,20:45,1 stop via Bengaluru,"₹ 16,562"
118,Vistara,28/11/2021,Goa,Ahmedabad,14:30,19:40,1 stop via New Delhi,"₹ 23,640"

Lenght :  119

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
132,IndiGo,29/11/2021,Goa,Ahmedabad,14:30,22:15,1 stop via Hyderabad,"₹ 10,797"
133,IndiGo,29/11/2021,Goa,Ahmedabad,02:05,07:50,1 stop via Mumbai,"₹ 10,829"
134,Go First,29/11/2021,Goa,Ahmedabad,17:00,00:05,1 stop via Mumbai,"₹ 10,953"
135,Go First,29/11/2021,Goa,Ahmedabad,18:15,00:05,1 stop via Mumbai,"₹ 12,633"
136,IndiGo,29/11/2021,Goa,Ahmedabad,18:30,01:20,1 stop via Mumbai,"₹ 12,929"

Lenght :  137

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
152,IndiGo,30/11/2021,Goa,Ahmedabad,03:30,09:05,1 stop via Nagpur,"₹ 7,600"
153,Go First,30/11/2021,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 7,677"
154,Go First,30/11/2021,Goa,Ahmedabad,06:40,10:45,1 stop via Mumbai,"₹ 8,433"
155,IndiGo,30/11/2021,Goa,Ahmedabad,14:35,20:45,1 stop via Bengaluru,"₹ 8,513"
156,IndiGo,30/11/2021,Goa,Ahmedabad,02:10,07:40,1 stop via Hyderabad,"₹ 8,970"

Lenght :  157

-----Skiped-----

origin = GOI
destin = TIR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 7
Time Count in Scraping  = 14
City Count in Scraping  = 14
spanFlightCost Count in Scraping  = 7
pFlightStops Count in Scraping  = 7
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
159,IndiGo,24/11/2021,Goa,Tirupati,02:30,11:45,1 stop via Bengaluru,"₹ 8,151"
160,IndiGo,24/11/2021,Goa,Tirupati,07:35,13:30,1 stop via Hyderabad,"₹ 8,307"
161,Air India,24/11/2021,Goa,Tirupati,21:00,09:10,1 stop via Mumbai,"₹ 8,362"
162,"Spicejet, IndiGo",24/11/2021,Goa,Tirupati,06:20,13:30,1 stop via Hyderabad,"₹ 8,717"
163,"AirAsia, IndiGo",24/11/2021,Goa,Tirupati,07:35,11:45,1 stop via Bengaluru,"₹ 9,025"

Lenght :  164

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 20
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
169,IndiGo,25/11/2021,Goa,Tirupati,07:35,13:30,1 stop via Hyderabad,"₹ 9,620"
170,Air India,25/11/2021,Goa,Tirupati,21:00,09:10,1 stop via Mumbai,"₹ 9,727"
171,Air India,25/11/2021,Goa,Tirupati,14:10,09:10,"3 stop via New Delhi,Aurangabad,Mumbai","₹ 18,337"
172,Air India,25/11/2021,Goa,Tirupati,14:10,09:10,"2 stop via New Delhi,Mumbai","₹ 18,337"
173,Air India,25/11/2021,Goa,Tirupati,14:10,09:10,"2 stop via New Delhi,Mumbai","₹ 18,337"

Lenght :  174

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
182,IndiGo,26/11/2021,Goa,Tirupati,02:10,07:20,1 stop via Hyderabad,"₹ 8,990"
183,IndiGo,26/11/2021,Goa,Tirupati,21:20,07:20,1 stop via Hyderabad,"₹ 9,620"
184,Air India,26/11/2021,Goa,Tirupati,23:00,13:35,"2 stop via Mumbai,Hyderabad","₹ 10,882"
185,Air India,26/11/2021,Goa,Tirupati,21:00,13:35,"2 stop via Mumbai,Hyderabad","₹ 10,882"
186,Air India,26/11/2021,Goa,Tirupati,01:15,13:35,"2 stop via New Delhi,Hyderabad","₹ 12,996"

Lenght :  187

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 20
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
192,IndiGo,27/11/2021,Goa,Tirupati,03:20,13:30,"2 stop via New Delhi,Hyderabad","₹ 9,956"
193,IndiGo,27/11/2021,Goa,Tirupati,00:50,13:30,"2 stop via New Delhi,Hyderabad","₹ 9,956"
194,IndiGo,27/11/2021,Goa,Tirupati,02:10,07:20,1 stop via Hyderabad,"₹ 10,250"
195,IndiGo,27/11/2021,Goa,Tirupati,07:20,13:30,1 stop via Hyderabad,"₹ 10,827"
196,IndiGo,27/11/2021,Goa,Tirupati,14:30,19:25,1 stop via Hyderabad,"₹ 14,922"

Lenght :  197

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
203,Air India,28/11/2021,Goa,Tirupati,23:00,09:10,1 stop via Mumbai,"₹ 14,872"
204,IndiGo,28/11/2021,Goa,Tirupati,07:35,13:30,1 stop via Hyderabad,"₹ 15,237"
205,Air India,28/11/2021,Goa,Tirupati,21:00,13:35,"2 stop via Bengaluru,Hyderabad","₹ 15,660"
206,Air India,28/11/2021,Goa,Tirupati,01:15,13:35,"2 stop via New Delhi,Hyderabad","₹ 22,852"
207,Air India,28/11/2021,Goa,Tirupati,14:10,09:10,"2 stop via New Delhi,Mumbai","₹ 31,147"

Lenght :  208

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
219,Air India,29/11/2021,Goa,Tirupati,23:00,13:35,"2 stop via Mumbai,Hyderabad","₹ 13,717"
220,IndiGo,29/11/2021,Goa,Tirupati,07:35,13:30,1 stop via Hyderabad,"₹ 15,029"
221,Air India,29/11/2021,Goa,Tirupati,21:00,13:35,"2 stop via Mumbai,Hyderabad","₹ 15,135"
222,"Vistara, IndiGo",29/11/2021,Goa,Tirupati,14:40,07:20,"2 stop via Bengaluru,Hyderabad","₹ 15,640"
223,"Vistara, IndiGo",29/11/2021,Goa,Tirupati,14:40,07:20,"2 stop via Bengaluru,Hyderabad","₹ 15,640"

Lenght :  224

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
234,"Spicejet, TruJet",30/11/2021,Goa,Tirupati,06:20,20:45,1 stop via Hyderabad,"₹ 12,285"
235,"Spicejet, Air India",30/11/2021,Goa,Tirupati,06:20,13:35,1 stop via Hyderabad,"₹ 12,288"
236,"Vistara, TruJet",30/11/2021,Goa,Tirupati,08:25,20:45,"2 stop via New Delhi,Hyderabad","₹ 17,898"
237,Air India,30/11/2021,Goa,Tirupati,15:20,13:35,"3 stop via Mumbai,New Delhi,Hyderabad","₹ 18,862"
238,Air India,30/11/2021,Goa,Tirupati,14:10,09:10,"2 stop via New Delhi,Mumbai","₹ 28,522"

Lenght :  239

-----Skiped-----

origin = GOI
destin = BLR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
255,AirAsia,24/11/2021,Goa,Bengaluru,20:05,23:15,1 stop via Hyderabad,"₹ 4,477"
256,Vistara,24/11/2021,Goa,Bengaluru,14:40,16:00,Non stop,"₹ 4,687"
257,AirAsia,24/11/2021,Goa,Bengaluru,17:55,20:55,1 stop via Hyderabad,"₹ 5,421"
258,AirAsia,24/11/2021,Goa,Bengaluru,17:55,23:15,1 stop via Hyderabad,"₹ 5,421"
259,IndiGo,24/11/2021,Goa,Bengaluru,08:05,09:15,Non stop,"₹ 6,051"

Lenght :  260

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
277,AirAsia,25/11/2021,Goa,Bengaluru,07:35,08:25,Non stop,"₹ 4,477"
278,AirAsia,25/11/2021,Goa,Bengaluru,22:30,23:50,Non stop,"₹ 4,477"
279,AirAsia,25/11/2021,Goa,Bengaluru,17:55,20:55,1 stop via Hyderabad,"₹ 4,477"
280,AirAsia,25/11/2021,Goa,Bengaluru,20:05,23:15,1 stop via Hyderabad,"₹ 4,477"
281,Vistara,25/11/2021,Goa,Bengaluru,14:40,16:00,Non stop,"₹ 4,687"

Lenght :  282

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
294,AirAsia,26/11/2021,Goa,Bengaluru,07:35,08:25,Non stop,"₹ 4,477"
295,Air India,26/11/2021,Goa,Bengaluru,21:00,22:30,Non stop,"₹ 4,477"
296,AirAsia,26/11/2021,Goa,Bengaluru,22:30,23:50,Non stop,"₹ 4,477"
297,AirAsia,26/11/2021,Goa,Bengaluru,20:05,23:15,1 stop via Hyderabad,"₹ 4,477"
298,Vistara,26/11/2021,Goa,Bengaluru,14:40,16:00,Non stop,"₹ 4,897"

Lenght :  299

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
312,IndiGo,27/11/2021,Goa,Bengaluru,21:45,23:05,Non stop,"₹ 4,791"
313,AirAsia,27/11/2021,Goa,Bengaluru,17:55,20:55,1 stop via Hyderabad,"₹ 5,421"
314,AirAsia,27/11/2021,Goa,Bengaluru,17:55,23:15,1 stop via Hyderabad,"₹ 5,421"
315,IndiGo,27/11/2021,Goa,Bengaluru,14:35,16:00,Non stop,"₹ 5,736"
316,IndiGo,27/11/2021,Goa,Bengaluru,18:55,20:05,Non stop,"₹ 6,471"

Lenght :  317

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
335,IndiGo,28/11/2021,Goa,Bengaluru,21:45,23:05,Non stop,"₹ 10,041"
336,Go First,28/11/2021,Goa,Bengaluru,11:00,22:45,1 stop via Mumbai,"₹ 10,219"
337,IndiGo,28/11/2021,Goa,Bengaluru,12:00,13:20,Non stop,"₹ 10,671"
338,Go First,28/11/2021,Goa,Bengaluru,06:40,16:10,1 stop via Mumbai,"₹ 11,951"
339,IndiGo,28/11/2021,Goa,Bengaluru,08:05,09:15,Non stop,"₹ 12,141"

Lenght :  340

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 26
Time Count in Scraping  = 52
City Count in Scraping  = 54
spanFlightCost Count in Scraping  = 26
pFlightStops Count in Scraping  = 26
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
361,Vistara,29/11/2021,Goa,Bengaluru,21:55,07:50,1 stop via Mumbai,"₹ 11,460"
362,Air India,29/11/2021,Goa,Bengaluru,23:00,11:10,1 stop via Mumbai,"₹ 11,512"
363,Go First,29/11/2021,Goa,Bengaluru,17:00,22:45,1 stop via Mumbai,"₹ 11,793"
364,IndiGo,29/11/2021,Goa,Bengaluru,08:05,09:15,Non stop,"₹ 12,141"
365,IndiGo,29/11/2021,Goa,Bengaluru,18:55,20:05,Non stop,"₹ 12,141"

Lenght :  366

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
381,AirAsia,30/11/2021,Goa,Bengaluru,17:55,20:55,1 stop via Hyderabad,"₹ 5,001"
382,AirAsia,30/11/2021,Goa,Bengaluru,07:35,08:25,Non stop,"₹ 5,104"
383,Go First,30/11/2021,Goa,Bengaluru,14:00,15:10,Non stop,"₹ 5,157"
384,IndiGo,30/11/2021,Goa,Bengaluru,18:55,20:05,Non stop,"₹ 5,421"
385,Vistara,30/11/2021,Goa,Bengaluru,14:40,16:00,Non stop,"₹ 5,685"

Lenght :  386

-----Skiped-----

origin = GOI
destin = BOM

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
399,Air India,24/11/2021,Goa,Mumbai,21:00,22:25,Non stop,"₹ 3,952"
400,Spicejet,24/11/2021,Goa,Mumbai,17:35,18:50,Non stop,"₹ 4,265"
401,IndiGo,24/11/2021,Goa,Mumbai,18:30,19:40,Non stop,"₹ 4,371"
402,Vistara,24/11/2021,Goa,Mumbai,13:20,14:45,Non stop,"₹ 4,372"
403,Spicejet,24/11/2021,Goa,Mumbai,13:30,14:45,Non stop,"₹ 4,475"

Lenght :  404

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
417,Vistara,25/11/2021,Goa,Mumbai,21:55,23:10,Non stop,"₹ 3,795"
418,Air India,25/11/2021,Goa,Mumbai,15:20,16:35,Non stop,"₹ 3,952"
419,Spicejet,25/11/2021,Goa,Mumbai,17:35,18:50,Non stop,"₹ 4,475"
420,Air India,25/11/2021,Goa,Mumbai,21:00,22:25,Non stop,"₹ 5,002"
421,Vistara,25/11/2021,Goa,Mumbai,13:20,14:45,Non stop,"₹ 5,055"

Lenght :  422

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 31
Time Count in Scraping  = 62
City Count in Scraping  = 64
spanFlightCost Count in Scraping  = 31
pFlightStops Count in Scraping  = 31
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
448,AirAsia,26/11/2021,Goa,Mumbai,08:20,20:40,1 stop via New Delhi,"₹ 6,574"
449,AirAsia,26/11/2021,Goa,Mumbai,20:05,06:45,"2 stop via Hyderabad,Bengaluru","₹ 7,204"
450,Air India,26/11/2021,Goa,Mumbai,21:00,08:35,1 stop via Bengaluru,"₹ 9,202"
451,Air India,26/11/2021,Goa,Mumbai,17:30,23:55,"2 stop via Mysore,Hyderabad","₹ 9,255"
452,Vistara,26/11/2021,Goa,Mumbai,14:40,20:45,1 stop via Bengaluru,"₹ 9,622"

Lenght :  453

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
464,IndiGo,27/11/2021,Goa,Mumbai,18:30,19:40,Non stop,"₹ 4,371"
465,Spicejet,27/11/2021,Goa,Mumbai,17:35,18:50,Non stop,"₹ 4,791"
466,Go First,27/11/2021,Goa,Mumbai,17:00,18:20,Non stop,"₹ 5,001"
467,Air India,27/11/2021,Goa,Mumbai,21:00,22:25,Non stop,"₹ 5,580"
468,Go First,27/11/2021,Goa,Mumbai,13:15,14:35,Non stop,"₹ 5,631"

Lenght :  469

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
483,Spicejet,28/11/2021,Goa,Mumbai,17:35,18:50,Non stop,"₹ 9,831"
484,Go First,28/11/2021,Goa,Mumbai,18:15,19:40,Non stop,"₹ 9,831"
485,IndiGo,28/11/2021,Goa,Mumbai,18:30,19:40,Non stop,"₹ 9,831"
486,Vistara,28/11/2021,Goa,Mumbai,21:55,23:10,Non stop,"₹ 9,832"
487,Air India,28/11/2021,Goa,Mumbai,23:00,00:10,Non stop,"₹ 9,832"

Lenght :  488

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
505,Spicejet,29/11/2021,Goa,Mumbai,05:25,06:40,Non stop,"₹ 8,465"
506,IndiGo,29/11/2021,Goa,Mumbai,18:30,19:40,Non stop,"₹ 8,676"
507,Go First,29/11/2021,Goa,Mumbai,06:40,07:50,Non stop,"₹ 8,885"
508,Go First,29/11/2021,Goa,Mumbai,18:15,19:40,Non stop,"₹ 8,885"
509,Air India,29/11/2021,Goa,Mumbai,21:00,22:25,Non stop,"₹ 9,045"

Lenght :  510

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
528,Go First,30/11/2021,Goa,Mumbai,17:40,00:40,1 stop via New Delhi,"₹ 6,326"
529,Spicejet,30/11/2021,Goa,Mumbai,17:35,18:50,Non stop,"₹ 6,575"
530,Go First,30/11/2021,Goa,Mumbai,13:15,14:35,Non stop,"₹ 7,205"
531,Go First,30/11/2021,Goa,Mumbai,17:00,18:20,Non stop,"₹ 7,205"
532,Go First,30/11/2021,Goa,Mumbai,18:15,19:40,Non stop,"₹ 7,205"

Lenght :  533

-----Skiped-----

origin = GOI
destin = DEL

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 37
Time Count in Scraping  = 74
City Count in Scraping  = 74
spanFlightCost Count in Scraping  = 37
pFlightStops Count in Scraping  = 37
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
565,Vistara,24/11/2021,Goa,New Delhi,08:25,11:00,Non stop,"₹ 7,627"
566,AirAsia,24/11/2021,Goa,New Delhi,15:30,18:10,Non stop,"₹ 7,627"
567,AirAsia,24/11/2021,Goa,New Delhi,23:05,01:45,Non stop,"₹ 7,627"
568,Spicejet,24/11/2021,Goa,New Delhi,17:35,23:55,1 stop via Mumbai,"₹ 7,636"
569,Vistara,24/11/2021,Goa,New Delhi,14:30,17:05,Non stop,"₹ 7,732"

Lenght :  570

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 40
Time Count in Scraping  = 80
City Count in Scraping  = 82
spanFlightCost Count in Scraping  = 40
pFlightStops Count in Scraping  = 40
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
605,Air India,25/11/2021,Goa,New Delhi,01:15,03:40,Non stop,"₹ 7,627"
606,AirAsia,25/11/2021,Goa,New Delhi,08:20,10:55,Non stop,"₹ 7,627"
607,Vistara,25/11/2021,Goa,New Delhi,08:25,11:00,Non stop,"₹ 7,627"
608,AirAsia,25/11/2021,Goa,New Delhi,23:05,01:45,Non stop,"₹ 7,627"
609,Vistara,25/11/2021,Goa,New Delhi,14:30,17:05,Non stop,"₹ 7,732"

Lenght :  610

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 39
Time Count in Scraping  = 78
City Count in Scraping  = 80
spanFlightCost Count in Scraping  = 39
pFlightStops Count in Scraping  = 39
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
644,AirAsia,26/11/2021,Goa,New Delhi,08:20,10:55,Non stop,"₹ 7,627"
645,Vistara,26/11/2021,Goa,New Delhi,08:25,11:00,Non stop,"₹ 7,627"
646,AirAsia,26/11/2021,Goa,New Delhi,23:05,01:45,Non stop,"₹ 7,627"
647,Spicejet,26/11/2021,Goa,New Delhi,15:05,17:45,Non stop,"₹ 7,731"
648,AirAsia,26/11/2021,Goa,New Delhi,15:30,18:10,Non stop,"₹ 7,834"

Lenght :  649

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 35
Time Count in Scraping  = 70
City Count in Scraping  = 72
spanFlightCost Count in Scraping  = 35
pFlightStops Count in Scraping  = 35
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
679,IndiGo,27/11/2021,Goa,New Delhi,02:10,07:15,1 stop via Hyderabad,"₹ 8,272"
680,Spicejet,27/11/2021,Goa,New Delhi,17:35,23:55,1 stop via Mumbai,"₹ 8,320"
681,AirAsia,27/11/2021,Goa,New Delhi,15:30,18:10,Non stop,"₹ 8,464"
682,AirAsia,27/11/2021,Goa,New Delhi,16:35,19:20,Non stop,"₹ 8,464"
683,IndiGo,27/11/2021,Goa,New Delhi,15:20,17:50,Non stop,"₹ 8,466"

Lenght :  684

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 27
Time Count in Scraping  = 54
City Count in Scraping  = 56
spanFlightCost Count in Scraping  = 27
pFlightStops Count in Scraping  = 27
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
706,AirAsia,28/11/2021,Goa,New Delhi,08:20,10:55,Non stop,"₹ 12,748"
707,AirAsia,28/11/2021,Goa,New Delhi,20:05,02:55,"2 stop via Hyderabad,Bengaluru","₹ 13,034"
708,Spicejet,28/11/2021,Goa,New Delhi,17:35,23:55,1 stop via Mumbai,"₹ 13,360"
709,AirAsia,28/11/2021,Goa,New Delhi,16:35,19:20,Non stop,"₹ 13,504"
710,Spicejet,28/11/2021,Goa,New Delhi,19:30,22:10,Non stop,"₹ 13,505"

Lenght :  711

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 29
Time Count in Scraping  = 58
City Count in Scraping  = 60
spanFlightCost Count in Scraping  = 29
pFlightStops Count in Scraping  = 29
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
735,IndiGo,29/11/2021,Goa,New Delhi,14:30,19:55,1 stop via Hyderabad,"₹ 12,146"
736,Vistara,29/11/2021,Goa,New Delhi,08:25,11:00,Non stop,"₹ 12,247"
737,Go First,29/11/2021,Goa,New Delhi,06:40,12:10,1 stop via Mumbai,"₹ 12,633"
738,Go First,29/11/2021,Goa,New Delhi,17:00,22:25,1 stop via Mumbai,"₹ 12,633"
739,Spicejet,29/11/2021,Goa,New Delhi,15:05,17:45,Non stop,"₹ 12,665"

Lenght :  740

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 32
Time Count in Scraping  = 64
City Count in Scraping  = 66
spanFlightCost Count in Scraping  = 32
pFlightStops Count in Scraping  = 32
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
767,IndiGo,30/11/2021,Goa,New Delhi,14:05,16:35,Non stop,"₹ 8,886"
768,IndiGo,30/11/2021,Goa,New Delhi,14:35,20:45,1 stop via Bengaluru,"₹ 8,918"
769,IndiGo,30/11/2021,Goa,New Delhi,14:40,21:20,1 stop via Indore,"₹ 8,918"
770,Go First,30/11/2021,Goa,New Delhi,17:40,20:20,Non stop,"₹ 8,991"
771,Spicejet,30/11/2021,Goa,New Delhi,19:30,22:10,Non stop,"₹ 8,991"

Lenght :  772

-----Skiped-----

--------------
origin = AMD
destin = GOI

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
784,Go First,24/11/2021,Ahmedabad,Goa,09:25,17:45,1 stop via Mumbai,"₹ 9,440"
785,IndiGo,24/11/2021,Ahmedabad,Goa,21:55,06:25,1 stop via Mumbai,"₹ 10,259"
786,IndiGo,24/11/2021,Ahmedabad,Goa,15:45,23:00,1 stop via Bengaluru,"₹ 10,999"
787,"IndiGo, Vistara",24/11/2021,Ahmedabad,Goa,04:45,12:45,1 stop via Mumbai,"₹ 11,477"
788,"IndiGo, Vistara",24/11/2021,Ahmedabad,Goa,07:05,12:45,1 stop via Mumbai,"₹ 12,737"

Lenght :  789

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
806,"IndiGo, AirAsia",25/11/2021,Ahmedabad,Goa,19:05,00:35,1 stop via Mumbai,"₹ 8,958"
807,Go First,25/11/2021,Ahmedabad,Goa,18:10,20:10,Non stop,"₹ 9,050"
808,Air India,25/11/2021,Ahmedabad,Goa,19:00,00:35,1 stop via New Delhi,"₹ 9,160"
809,IndiGo,25/11/2021,Ahmedabad,Goa,09:50,14:55,1 stop via Pune,"₹ 9,172"
810,IndiGo,25/11/2021,Ahmedabad,Goa,15:45,21:15,1 stop via Bengaluru,"₹ 10,542"

Lenght :  811

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
824,IndiGo,26/11/2021,Ahmedabad,Goa,21:55,06:25,1 stop via Mumbai,"₹ 8,579"
825,Go First,26/11/2021,Ahmedabad,Goa,00:35,06:10,1 stop via Mumbai,"₹ 8,652"
826,IndiGo,26/11/2021,Ahmedabad,Goa,18:45,23:35,1 stop via Hyderabad,"₹ 9,629"
827,Air India,26/11/2021,Ahmedabad,Goa,19:00,00:35,1 stop via New Delhi,"₹ 9,738"
828,Spicejet,26/11/2021,Ahmedabad,Goa,06:50,13:00,1 stop via Pune,"₹ 10,678"

Lenght :  829

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
844,IndiGo,27/11/2021,Ahmedabad,Goa,15:45,21:15,1 stop via Bengaluru,"₹ 8,258"
845,IndiGo,27/11/2021,Ahmedabad,Goa,05:15,06:55,Non stop,"₹ 8,841"
846,IndiGo,27/11/2021,Ahmedabad,Goa,19:05,01:35,1 stop via Mumbai,"₹ 8,894"
847,Air India,27/11/2021,Ahmedabad,Goa,19:00,00:35,1 stop via New Delhi,"₹ 9,160"
848,Spicejet,27/11/2021,Ahmedabad,Goa,08:05,12:50,1 stop via Mumbai,"₹ 10,490"

Lenght :  849

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
862,IndiGo,28/11/2021,Ahmedabad,Goa,18:10,03:00,1 stop via Nagpur,"₹ 8,684"
863,Air India,28/11/2021,Ahmedabad,Goa,19:00,00:35,1 stop via New Delhi,"₹ 9,160"
864,IndiGo,28/11/2021,Ahmedabad,Goa,19:05,01:35,1 stop via Mumbai,"₹ 9,314"
865,IndiGo,28/11/2021,Ahmedabad,Goa,15:45,21:15,1 stop via Bengaluru,"₹ 9,839"
866,IndiGo,28/11/2021,Ahmedabad,Goa,08:35,14:05,1 stop via Bengaluru,"₹ 10,311"

Lenght :  867

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
885,IndiGo,29/11/2021,Ahmedabad,Goa,23:40,07:35,1 stop via Bengaluru,"₹ 5,518"
886,IndiGo,29/11/2021,Ahmedabad,Goa,05:15,06:55,Non stop,"₹ 5,586"
887,Spicejet,29/11/2021,Ahmedabad,Goa,05:50,07:45,Non stop,"₹ 5,796"
888,IndiGo,29/11/2021,Ahmedabad,Goa,11:00,19:40,1 stop via Chennai,"₹ 5,975"
889,IndiGo,29/11/2021,Ahmedabad,Goa,19:35,02:00,1 stop via Bengaluru,"₹ 5,975"

Lenght :  890

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
906,IndiGo,30/11/2021,Ahmedabad,Goa,18:45,23:35,1 stop via Hyderabad,"₹ 5,975"
907,Spicejet,30/11/2021,Ahmedabad,Goa,05:50,07:45,Non stop,"₹ 6,426"
908,Spicejet,30/11/2021,Ahmedabad,Goa,06:50,13:00,1 stop via Pune,"₹ 7,318"
909,Go First,30/11/2021,Ahmedabad,Goa,00:35,06:10,1 stop via Mumbai,"₹ 7,970"
910,Go First,30/11/2021,Ahmedabad,Goa,11:15,16:30,1 stop via Mumbai,"₹ 8,600"

Lenght :  911

-----Skiped-----

origin = AMD
destin = AMD

origin = AMD
destin = TIR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-TIR-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 20
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
916,Air India,24/11/2021,Ahmedabad,Tirupati,21:30,13:35,"2 stop via New Delhi,Hyderabad","₹ 13,213"
917,Air India,24/11/2021,Ahmedabad,Tirupati,19:35,13:35,"2 stop via New Delhi,Hyderabad","₹ 13,213"
918,IndiGo,24/11/2021,Ahmedabad,Tirupati,08:50,19:25,"2 stop via Mumbai,Hyderabad","₹ 14,753"
919,IndiGo,24/11/2021,Ahmedabad,Tirupati,22:45,07:20,1 stop via Hyderabad,"₹ 15,402"
920,Air India,24/11/2021,Ahmedabad,Tirupati,19:35,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,717"

Lenght :  921

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-TIR-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
927,Air India,25/11/2021,Ahmedabad,Tirupati,21:30,13:35,"2 stop via New Delhi,Hyderabad","₹ 12,289"
928,Air India,25/11/2021,Ahmedabad,Tirupati,19:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 12,289"
929,Air India,25/11/2021,Ahmedabad,Tirupati,21:30,13:35,"2 stop via New Delhi,Hyderabad","₹ 12,741"
930,IndiGo,25/11/2021,Ahmedabad,Tirupati,08:20,13:30,1 stop via Hyderabad,"₹ 13,617"
931,"IndiGo, Air India",25/11/2021,Ahmedabad,Tirupati,08:20,13:35,1 stop via Hyderabad,"₹ 13,714"

Lenght :  932

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-TIR-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
939,"IndiGo, Spicejet",26/11/2021,Ahmedabad,Tirupati,08:20,14:05,1 stop via Hyderabad,"₹ 9,724"
940,"IndiGo, Air India",26/11/2021,Ahmedabad,Tirupati,08:20,13:35,1 stop via Hyderabad,"₹ 9,934"
941,Air India,26/11/2021,Ahmedabad,Tirupati,19:55,13:35,"2 stop via Mumbai,Hyderabad","₹ 11,467"
942,Air India,26/11/2021,Ahmedabad,Tirupati,19:35,13:35,"2 stop via New Delhi,Hyderabad","₹ 12,097"
943,Air India,26/11/2021,Ahmedabad,Tirupati,21:30,13:35,"2 stop via New Delhi,Hyderabad","₹ 12,289"

Lenght :  944

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-TIR-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 7
Time Count in Scraping  = 14
City Count in Scraping  = 14
spanFlightCost Count in Scraping  = 7
pFlightStops Count in Scraping  = 7
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
946,IndiGo,27/11/2021,Ahmedabad,Tirupati,07:05,19:25,"2 stop via Mumbai,Hyderabad","₹ 15,745"
947,IndiGo,27/11/2021,Ahmedabad,Tirupati,08:50,19:25,"2 stop via Mumbai,Hyderabad","₹ 15,850"
948,Air India,27/11/2021,Ahmedabad,Tirupati,22:40,13:35,"2 stop via New Delhi,Hyderabad","₹ 20,287"
949,Air India,27/11/2021,Ahmedabad,Tirupati,21:30,13:35,"2 stop via New Delhi,Hyderabad","₹ 20,287"
950,Air India,27/11/2021,Ahmedabad,Tirupati,19:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 20,287"

Lenght :  951

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-TIR-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 20
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
956,IndiGo,28/11/2021,Ahmedabad,Tirupati,22:45,07:20,1 stop via Hyderabad,"₹ 10,677"
957,Air India,28/11/2021,Ahmedabad,Tirupati,21:30,13:35,"2 stop via New Delhi,Hyderabad","₹ 12,783"
958,Air India,28/11/2021,Ahmedabad,Tirupati,19:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 12,783"
959,Spicejet,28/11/2021,Ahmedabad,Tirupati,06:50,18:35,1 stop via Pune,"₹ 14,643"
960,"IndiGo, Air India",28/11/2021,Ahmedabad,Tirupati,05:35,09:10,"3 stop via Indore,Hyderabad,Mumbai","₹ 19,332"

Lenght :  961

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-TIR-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
970,"IndiGo, Spicejet",29/11/2021,Ahmedabad,Tirupati,08:20,13:50,1 stop via Hyderabad,"₹ 10,243"
971,"IndiGo, Spicejet",29/11/2021,Ahmedabad,Tirupati,08:20,14:05,1 stop via Hyderabad,"₹ 10,243"
972,"IndiGo, Air India",29/11/2021,Ahmedabad,Tirupati,08:20,13:35,1 stop via Hyderabad,"₹ 10,244"
973,Air India,29/11/2021,Ahmedabad,Tirupati,21:30,13:35,"2 stop via New Delhi,Hyderabad","₹ 10,588"
974,Air India,29/11/2021,Ahmedabad,Tirupati,19:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 10,588"

Lenght :  975

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-TIR-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
984,"IndiGo, TruJet",30/11/2021,Ahmedabad,Tirupati,05:55,20:45,"2 stop via Bengaluru,Hyderabad","₹ 9,128"
985,"IndiGo, TruJet",30/11/2021,Ahmedabad,Tirupati,05:55,20:45,"2 stop via Bengaluru,Hyderabad","₹ 9,128"
986,Air India,30/11/2021,Ahmedabad,Tirupati,21:30,13:35,"2 stop via New Delhi,Hyderabad","₹ 9,160"
987,"IndiGo, TruJet",30/11/2021,Ahmedabad,Tirupati,06:20,20:45,"2 stop via New Delhi,Hyderabad","₹ 9,585"
988,IndiGo,30/11/2021,Ahmedabad,Tirupati,08:20,13:30,1 stop via Hyderabad,"₹ 10,042"

Lenght :  989

-----Skiped-----

origin = AMD
destin = BLR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1005,"Go First, IndiGo",24/11/2021,Ahmedabad,Bengaluru,00:35,06:40,1 stop via Mumbai,"₹ 9,323"
1006,IndiGo,24/11/2021,Ahmedabad,Bengaluru,21:20,03:45,1 stop via Goa,"₹ 9,471"
1007,Go First,24/11/2021,Ahmedabad,Bengaluru,11:15,16:10,1 stop via Mumbai,"₹ 9,860"
1008,Go First,24/11/2021,Ahmedabad,Bengaluru,09:20,11:25,Non stop,"₹ 10,258"
1009,IndiGo,24/11/2021,Ahmedabad,Bengaluru,07:05,11:20,1 stop via Mumbai,"₹ 10,416"

Lenght :  1010

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1022,IndiGo,25/11/2021,Ahmedabad,Bengaluru,08:35,10:55,Non stop,"₹ 5,901"
1023,IndiGo,25/11/2021,Ahmedabad,Bengaluru,15:45,18:05,Non stop,"₹ 5,901"
1024,IndiGo,25/11/2021,Ahmedabad,Bengaluru,23:40,01:55,Non stop,"₹ 5,901"
1025,Spicejet,25/11/2021,Ahmedabad,Bengaluru,06:50,16:25,1 stop via Pune,"₹ 5,901"
1026,Spicejet,25/11/2021,Ahmedabad,Bengaluru,18:55,09:00,1 stop via Goa,"₹ 5,901"

Lenght :  1027

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1038,IndiGo,26/11/2021,Ahmedabad,Bengaluru,05:55,08:15,Non stop,"₹ 5,901"
1039,IndiGo,26/11/2021,Ahmedabad,Bengaluru,08:35,10:55,Non stop,"₹ 5,901"
1040,IndiGo,26/11/2021,Ahmedabad,Bengaluru,19:35,21:35,Non stop,"₹ 5,901"
1041,IndiGo,26/11/2021,Ahmedabad,Bengaluru,23:40,01:55,Non stop,"₹ 5,901"
1042,Spicejet,26/11/2021,Ahmedabad,Bengaluru,06:50,16:25,1 stop via Pune,"₹ 5,901"

Lenght :  1043

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1051,IndiGo,27/11/2021,Ahmedabad,Bengaluru,05:55,08:15,Non stop,"₹ 5,901"
1052,IndiGo,27/11/2021,Ahmedabad,Bengaluru,19:35,21:35,Non stop,"₹ 5,901"
1053,IndiGo,27/11/2021,Ahmedabad,Bengaluru,23:40,01:55,Non stop,"₹ 5,901"
1054,IndiGo,27/11/2021,Ahmedabad,Bengaluru,08:35,10:55,Non stop,"₹ 6,006"
1055,IndiGo,27/11/2021,Ahmedabad,Bengaluru,15:45,18:05,Non stop,"₹ 6,006"

Lenght :  1056

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1062,IndiGo,28/11/2021,Ahmedabad,Bengaluru,05:55,08:15,Non stop,"₹ 5,901"
1063,IndiGo,28/11/2021,Ahmedabad,Bengaluru,19:35,21:35,Non stop,"₹ 5,901"
1064,IndiGo,28/11/2021,Ahmedabad,Bengaluru,23:40,01:55,Non stop,"₹ 5,901"
1065,IndiGo,28/11/2021,Ahmedabad,Bengaluru,15:45,18:05,Non stop,"₹ 6,006"
1066,Go First,28/11/2021,Ahmedabad,Bengaluru,09:20,11:25,Non stop,"₹ 6,478"

Lenght :  1067

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 27
Time Count in Scraping  = 54
City Count in Scraping  = 56
spanFlightCost Count in Scraping  = 27
pFlightStops Count in Scraping  = 27
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1089,IndiGo,29/11/2021,Ahmedabad,Bengaluru,21:55,02:50,1 stop via Mumbai,"₹ 9,156"
1090,IndiGo,29/11/2021,Ahmedabad,Bengaluru,21:20,03:45,1 stop via Goa,"₹ 9,156"
1091,Air India,29/11/2021,Ahmedabad,Bengaluru,21:30,08:55,1 stop via New Delhi,"₹ 9,160"
1092,IndiGo,29/11/2021,Ahmedabad,Bengaluru,11:00,15:40,1 stop via Chennai,"₹ 10,311"
1093,Go First,29/11/2021,Ahmedabad,Bengaluru,09:20,11:25,Non stop,"₹ 10,599"

Lenght :  1094

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1103,Go First,30/11/2021,Ahmedabad,Bengaluru,17:35,08:40,1 stop via New Delhi,"₹ 5,900"
1104,IndiGo,30/11/2021,Ahmedabad,Bengaluru,05:55,08:15,Non stop,"₹ 5,901"
1105,IndiGo,30/11/2021,Ahmedabad,Bengaluru,08:35,10:55,Non stop,"₹ 5,901"
1106,IndiGo,30/11/2021,Ahmedabad,Bengaluru,15:45,18:05,Non stop,"₹ 5,901"
1107,IndiGo,30/11/2021,Ahmedabad,Bengaluru,19:35,21:35,Non stop,"₹ 5,901"

Lenght :  1108

-----Skiped-----

origin = AMD
destin = BOM

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1121,Go First,24/11/2021,Ahmedabad,Mumbai,20:05,21:25,Non stop,"₹ 4,904"
1122,Go First,24/11/2021,Ahmedabad,Mumbai,11:15,12:30,Non stop,"₹ 5,270"
1123,IndiGo,24/11/2021,Ahmedabad,Mumbai,07:05,08:25,Non stop,"₹ 5,481"
1124,Go First,24/11/2021,Ahmedabad,Mumbai,09:25,10:40,Non stop,"₹ 5,690"
1125,IndiGo,24/11/2021,Ahmedabad,Mumbai,08:50,10:05,Non stop,"₹ 6,426"

Lenght :  1126

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1141,IndiGo,25/11/2021,Ahmedabad,Mumbai,07:05,08:25,Non stop,"₹ 4,221"
1142,IndiGo,25/11/2021,Ahmedabad,Mumbai,15:25,16:40,Non stop,"₹ 4,221"
1143,IndiGo,25/11/2021,Ahmedabad,Mumbai,21:55,23:10,Non stop,"₹ 4,221"
1144,Air India,25/11/2021,Ahmedabad,Mumbai,19:55,21:15,Non stop,"₹ 4,537"
1145,IndiGo,25/11/2021,Ahmedabad,Mumbai,08:50,10:05,Non stop,"₹ 4,694"

Lenght :  1146

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1161,IndiGo,26/11/2021,Ahmedabad,Mumbai,21:55,23:10,Non stop,"₹ 4,221"
1162,Air India,26/11/2021,Ahmedabad,Mumbai,19:55,21:15,Non stop,"₹ 4,222"
1163,IndiGo,26/11/2021,Ahmedabad,Mumbai,08:50,10:05,Non stop,"₹ 4,431"
1164,Go First,26/11/2021,Ahmedabad,Mumbai,11:15,12:30,Non stop,"₹ 5,270"
1165,Go First,26/11/2021,Ahmedabad,Mumbai,20:05,21:25,Non stop,"₹ 5,270"

Lenght :  1166

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1177,IndiGo,27/11/2021,Ahmedabad,Mumbai,21:55,23:10,Non stop,"₹ 4,221"
1178,IndiGo,27/11/2021,Ahmedabad,Mumbai,15:25,16:40,Non stop,"₹ 4,326"
1179,IndiGo,27/11/2021,Ahmedabad,Mumbai,08:50,10:05,Non stop,"₹ 4,536"
1180,Go First,27/11/2021,Ahmedabad,Mumbai,09:25,10:40,Non stop,"₹ 4,904"
1181,IndiGo,27/11/2021,Ahmedabad,Mumbai,19:05,20:20,Non stop,"₹ 5,061"

Lenght :  1182

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1191,IndiGo,28/11/2021,Ahmedabad,Mumbai,21:55,23:10,Non stop,"₹ 4,536"
1192,IndiGo,28/11/2021,Ahmedabad,Mumbai,19:05,20:20,Non stop,"₹ 5,481"
1193,Go First,28/11/2021,Ahmedabad,Mumbai,09:25,10:40,Non stop,"₹ 5,690"
1194,Go First,28/11/2021,Ahmedabad,Mumbai,20:05,21:25,Non stop,"₹ 5,690"
1195,Air India,28/11/2021,Ahmedabad,Mumbai,19:55,21:15,Non stop,"₹ 5,797"

Lenght :  1196

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1211,IndiGo,29/11/2021,Ahmedabad,Mumbai,19:05,20:20,Non stop,"₹ 4,326"
1212,IndiGo,29/11/2021,Ahmedabad,Mumbai,07:05,08:25,Non stop,"₹ 4,536"
1213,IndiGo,29/11/2021,Ahmedabad,Mumbai,21:55,23:10,Non stop,"₹ 4,536"
1214,Go First,29/11/2021,Ahmedabad,Mumbai,11:15,12:30,Non stop,"₹ 5,690"
1215,Go First,29/11/2021,Ahmedabad,Mumbai,09:25,10:40,Non stop,"₹ 7,148"

Lenght :  1216

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1234,IndiGo,30/11/2021,Ahmedabad,Mumbai,15:25,16:40,Non stop,"₹ 4,221"
1235,IndiGo,30/11/2021,Ahmedabad,Mumbai,21:55,23:10,Non stop,"₹ 4,221"
1236,Air India,30/11/2021,Ahmedabad,Mumbai,19:55,21:15,Non stop,"₹ 4,222"
1237,IndiGo,30/11/2021,Ahmedabad,Mumbai,08:50,10:05,Non stop,"₹ 4,326"
1238,IndiGo,30/11/2021,Ahmedabad,Mumbai,19:05,20:20,Non stop,"₹ 4,326"

Lenght :  1239

-----Skiped-----

origin = AMD
destin = DEL

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1257,Vistara,24/11/2021,Ahmedabad,New Delhi,20:15,22:00,Non stop,"₹ 5,062"
1258,Air India,24/11/2021,Ahmedabad,New Delhi,21:30,23:05,Non stop,"₹ 5,062"
1259,IndiGo,24/11/2021,Ahmedabad,New Delhi,08:45,10:30,Non stop,"₹ 5,376"
1260,IndiGo,24/11/2021,Ahmedabad,New Delhi,07:20,09:00,Non stop,"₹ 5,639"
1261,Vistara,24/11/2021,Ahmedabad,New Delhi,08:50,10:30,Non stop,"₹ 5,955"

Lenght :  1262

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 52
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1282,IndiGo,25/11/2021,Ahmedabad,New Delhi,20:30,22:00,Non stop,"₹ 5,061"
1283,IndiGo,25/11/2021,Ahmedabad,New Delhi,22:40,00:20,Non stop,"₹ 5,061"
1284,Vistara,25/11/2021,Ahmedabad,New Delhi,08:50,10:30,Non stop,"₹ 5,062"
1285,Air India,25/11/2021,Ahmedabad,New Delhi,19:00,20:25,Non stop,"₹ 5,062"
1286,Air India,25/11/2021,Ahmedabad,New Delhi,19:35,21:50,Non stop,"₹ 5,062"

Lenght :  1287

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 26
Time Count in Scraping  = 52
City Count in Scraping  = 54
spanFlightCost Count in Scraping  = 26
pFlightStops Count in Scraping  = 26
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1308,IndiGo,26/11/2021,Ahmedabad,New Delhi,22:40,00:20,Non stop,"₹ 5,061"
1309,Vistara,26/11/2021,Ahmedabad,New Delhi,08:50,10:30,Non stop,"₹ 5,062"
1310,Vistara,26/11/2021,Ahmedabad,New Delhi,10:55,12:35,Non stop,"₹ 5,062"
1311,Air India,26/11/2021,Ahmedabad,New Delhi,19:35,21:50,Non stop,"₹ 5,062"
1312,Air India,26/11/2021,Ahmedabad,New Delhi,21:30,23:05,Non stop,"₹ 5,062"

Lenght :  1313

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 52
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1333,IndiGo,27/11/2021,Ahmedabad,New Delhi,22:40,00:20,Non stop,"₹ 5,061"
1334,Vistara,27/11/2021,Ahmedabad,New Delhi,08:50,10:30,Non stop,"₹ 5,062"
1335,Air India,27/11/2021,Ahmedabad,New Delhi,19:00,20:25,Non stop,"₹ 5,062"
1336,Vistara,27/11/2021,Ahmedabad,New Delhi,20:15,22:00,Non stop,"₹ 5,062"
1337,Air India,27/11/2021,Ahmedabad,New Delhi,21:30,23:05,Non stop,"₹ 5,062"

Lenght :  1338

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1351,IndiGo,28/11/2021,Ahmedabad,New Delhi,22:40,00:20,Non stop,"₹ 5,061"
1352,Air India,28/11/2021,Ahmedabad,New Delhi,19:00,20:25,Non stop,"₹ 5,062"
1353,Vistara,28/11/2021,Ahmedabad,New Delhi,20:15,22:00,Non stop,"₹ 5,062"
1354,Air India,28/11/2021,Ahmedabad,New Delhi,21:30,23:05,Non stop,"₹ 5,062"
1355,IndiGo,28/11/2021,Ahmedabad,New Delhi,10:45,12:20,Non stop,"₹ 5,376"

Lenght :  1356

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 52
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1376,IndiGo,29/11/2021,Ahmedabad,New Delhi,22:40,00:20,Non stop,"₹ 5,061"
1377,Vistara,29/11/2021,Ahmedabad,New Delhi,08:50,10:30,Non stop,"₹ 5,062"
1378,Air India,29/11/2021,Ahmedabad,New Delhi,19:00,20:25,Non stop,"₹ 5,062"
1379,Air India,29/11/2021,Ahmedabad,New Delhi,19:35,21:50,Non stop,"₹ 5,062"
1380,Vistara,29/11/2021,Ahmedabad,New Delhi,20:15,22:00,Non stop,"₹ 5,062"

Lenght :  1381

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 52
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1401,Vistara,30/11/2021,Ahmedabad,New Delhi,08:50,10:30,Non stop,"₹ 5,062"
1402,Vistara,30/11/2021,Ahmedabad,New Delhi,10:55,12:35,Non stop,"₹ 5,062"
1403,Air India,30/11/2021,Ahmedabad,New Delhi,19:00,20:25,Non stop,"₹ 5,062"
1404,Air India,30/11/2021,Ahmedabad,New Delhi,19:35,21:50,Non stop,"₹ 5,062"
1405,Vistara,30/11/2021,Ahmedabad,New Delhi,20:15,22:00,Non stop,"₹ 5,062"

Lenght :  1406

-----Skiped-----

--------------
origin = TIR
destin = GOI

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-GOI-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1413,IndiGo,24/11/2021,Tirupati,Goa,19:55,06:25,"2 stop via Hyderabad,Mumbai","₹ 9,245"
1414,"Spicejet, AirAsia",24/11/2021,Tirupati,Goa,11:30,19:35,1 stop via Hyderabad,"₹ 9,455"
1415,"Spicejet, IndiGo",24/11/2021,Tirupati,Goa,11:30,17:25,1 stop via Hyderabad,"₹ 9,457"
1416,IndiGo,24/11/2021,Tirupati,Goa,10:55,17:25,1 stop via Hyderabad,"₹ 9,570"
1417,"IndiGo, AirAsia",24/11/2021,Tirupati,Goa,14:00,19:35,1 stop via Hyderabad,"₹ 9,769"

Lenght :  1418

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-GOI-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1426,IndiGo,25/11/2021,Tirupati,Goa,14:00,23:35,1 stop via Hyderabad,"₹ 13,770"
1427,"Spicejet, IndiGo",25/11/2021,Tirupati,Goa,11:30,17:25,1 stop via Hyderabad,"₹ 13,971"
1428,"Air India, IndiGo",25/11/2021,Tirupati,Goa,14:15,20:50,1 stop via Hyderabad,"₹ 13,972"
1429,Air India,25/11/2021,Tirupati,Goa,10:00,14:45,1 stop via Mumbai,"₹ 15,084"
1430,"Spicejet, IndiGo",25/11/2021,Tirupati,Goa,18:55,23:35,1 stop via Hyderabad,"₹ 15,126"

Lenght :  1431

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-GOI-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1441,Air India,26/11/2021,Tirupati,Goa,10:00,20:30,1 stop via Mumbai,"₹ 13,037"
1442,"Spicejet, Air India",26/11/2021,Tirupati,Goa,08:00,17:00,"2 stop via Hyderabad,Mysore","₹ 13,289"
1443,"Spicejet, IndiGo",26/11/2021,Tirupati,Goa,11:30,17:25,1 stop via Hyderabad,"₹ 15,546"
1444,"Spicejet, AirAsia",26/11/2021,Tirupati,Goa,11:30,17:25,1 stop via Hyderabad,"₹ 15,546"
1445,"Air India, AirAsia",26/11/2021,Tirupati,Goa,14:15,19:35,1 stop via Hyderabad,"₹ 15,547"

Lenght :  1446

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-GOI-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1452,"IndiGo, Go First",27/11/2021,Tirupati,Goa,10:55,21:50,1 stop via Hyderabad,"₹ 10,085"
1453,"Air India, Go First",27/11/2021,Tirupati,Goa,14:15,21:50,1 stop via Hyderabad,"₹ 11,031"
1454,"Spicejet, Air India",27/11/2021,Tirupati,Goa,08:00,17:00,"2 stop via Hyderabad,Mysore","₹ 11,294"
1455,"Spicejet, AirAsia",27/11/2021,Tirupati,Goa,11:30,17:25,1 stop via Hyderabad,"₹ 11,871"
1456,"IndiGo, AirAsia",27/11/2021,Tirupati,Goa,14:00,19:35,1 stop via Hyderabad,"₹ 11,973"

Lenght :  1457

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-GOI-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1465,"Spicejet, AirAsia",28/11/2021,Tirupati,Goa,11:30,17:25,1 stop via Hyderabad,"₹ 8,615"
1466,"Spicejet, IndiGo",28/11/2021,Tirupati,Goa,08:00,14:00,1 stop via Hyderabad,"₹ 9,771"
1467,Air India,28/11/2021,Tirupati,Goa,14:15,00:35,"2 stop via Hyderabad,New Delhi","₹ 9,785"
1468,IndiGo,28/11/2021,Tirupati,Goa,14:00,20:50,1 stop via Hyderabad,"₹ 11,250"
1469,IndiGo,28/11/2021,Tirupati,Goa,14:00,23:35,1 stop via Hyderabad,"₹ 11,250"

Lenght :  1470

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-GOI-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-3-580af74baa5a>, LINE 15 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message:

29/11/2021  scraping complete

origin = TIR
destin = AMD

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-AMD-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1478,IndiGo,24/11/2021,Tirupati,Ahmedabad,14:00,18:05,1 stop via Hyderabad,"₹ 16,290"
1479,IndiGo,24/11/2021,Tirupati,Ahmedabad,10:55,18:05,1 stop via Hyderabad,"₹ 16,710"
1480,Air India,24/11/2021,Tirupati,Ahmedabad,14:15,09:10,"2 stop via Hyderabad,New Delhi","₹ 22,854"
1481,Air India,24/11/2021,Tirupati,Ahmedabad,10:00,09:10,"2 stop via Mumbai,New Delhi","₹ 24,534"
1482,Air India,24/11/2021,Tirupati,Ahmedabad,10:00,09:10,"2 stop via Mumbai,New Delhi","₹ 24,534"

Lenght :  1483

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-AMD-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 9
Time Count in Scraping  = 18
City Count in Scraping  = 18
spanFlightCost Count in Scraping  = 9
pFlightStops Count in Scraping  = 9
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1487,IndiGo,25/11/2021,Tirupati,Ahmedabad,14:00,18:05,1 stop via Hyderabad,"₹ 9,518"
1488,"Spicejet, IndiGo",25/11/2021,Tirupati,Ahmedabad,08:00,18:05,"2 stop via Hyderabad,Pune","₹ 9,635"
1489,"Spicejet, IndiGo",25/11/2021,Tirupati,Ahmedabad,11:30,18:05,1 stop via Hyderabad,"₹ 9,981"
1490,IndiGo,25/11/2021,Tirupati,Ahmedabad,14:00,22:00,"2 stop via Hyderabad,New Delhi","₹ 12,762"
1491,IndiGo,25/11/2021,Tirupati,Ahmedabad,19:55,07:50,"2 stop via Hyderabad,Mumbai","₹ 14,757"

Lenght :  1492

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-AMD-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 20
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1497,IndiGo,26/11/2021,Tirupati,Ahmedabad,14:00,18:05,1 stop via Hyderabad,"₹ 9,619"
1498,IndiGo,26/11/2021,Tirupati,Ahmedabad,10:55,18:05,1 stop via Hyderabad,"₹ 9,619"
1499,"Spicejet, IndiGo",26/11/2021,Tirupati,Ahmedabad,11:30,18:05,1 stop via Hyderabad,"₹ 10,291"
1500,IndiGo,26/11/2021,Tirupati,Ahmedabad,14:00,22:00,"2 stop via Hyderabad,New Delhi","₹ 10,468"
1501,"Air India, IndiGo",26/11/2021,Tirupati,Ahmedabad,14:15,22:15,1 stop via Hyderabad,"₹ 10,507"

Lenght :  1502

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-AMD-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 7
Time Count in Scraping  = 14
City Count in Scraping  = 14
spanFlightCost Count in Scraping  = 7
pFlightStops Count in Scraping  = 7
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1504,IndiGo,27/11/2021,Tirupati,Ahmedabad,14:00,22:00,"2 stop via Hyderabad,New Delhi","₹ 10,468"
1505,"Spicejet, IndiGo",27/11/2021,Tirupati,Ahmedabad,11:30,18:05,1 stop via Hyderabad,"₹ 10,607"
1506,"Spicejet, IndiGo",27/11/2021,Tirupati,Ahmedabad,08:00,18:05,1 stop via Hyderabad,"₹ 11,131"
1507,IndiGo,27/11/2021,Tirupati,Ahmedabad,19:55,07:50,"2 stop via Hyderabad,Mumbai","₹ 11,565"
1508,"Air India, IndiGo",27/11/2021,Tirupati,Ahmedabad,14:15,22:15,1 stop via Hyderabad,"₹ 15,232"

Lenght :  1509

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-AMD-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 7
Time Count in Scraping  = 14
City Count in Scraping  = 14
spanFlightCost Count in Scraping  = 7
pFlightStops Count in Scraping  = 7
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1511,IndiGo,28/11/2021,Tirupati,Ahmedabad,14:00,18:05,1 stop via Hyderabad,"₹ 9,727"
1512,"Spicejet, IndiGo",28/11/2021,Tirupati,Ahmedabad,11:30,18:05,1 stop via Hyderabad,"₹ 10,137"
1513,"Spicejet, IndiGo",28/11/2021,Tirupati,Ahmedabad,08:00,18:05,1 stop via Hyderabad,"₹ 10,137"
1514,Spicejet,28/11/2021,Tirupati,Ahmedabad,14:25,10:05,1 stop via Pune,"₹ 10,716"
1515,"Air India, IndiGo",28/11/2021,Tirupati,Ahmedabad,14:15,22:15,1 stop via Hyderabad,"₹ 12,973"

Lenght :  1516

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-AMD-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1524,"Air India, IndiGo",29/11/2021,Tirupati,Ahmedabad,14:15,23:10,"2 stop via Hyderabad,Bengaluru","₹ 8,722"
1525,"Spicejet, IndiGo",29/11/2021,Tirupati,Ahmedabad,11:30,20:25,"2 stop via Hyderabad,Mumbai","₹ 8,931"
1526,"Air India, IndiGo",29/11/2021,Tirupati,Ahmedabad,14:15,22:15,1 stop via Hyderabad,"₹ 9,298"
1527,"Spicejet, IndiGo",29/11/2021,Tirupati,Ahmedabad,11:30,18:05,1 stop via Hyderabad,"₹ 9,507"
1528,IndiGo,29/11/2021,Tirupati,Ahmedabad,19:55,07:50,"2 stop via Hyderabad,Mumbai","₹ 10,468"

Lenght :  1529

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-AMD-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1535,"Air India, IndiGo",30/11/2021,Tirupati,Ahmedabad,14:15,23:10,"2 stop via Hyderabad,Bengaluru","₹ 8,722"
1536,"Spicejet, IndiGo",30/11/2021,Tirupati,Ahmedabad,11:30,18:05,1 stop via Hyderabad,"₹ 9,297"
1537,"Air India, IndiGo",30/11/2021,Tirupati,Ahmedabad,14:15,22:15,1 stop via Hyderabad,"₹ 9,298"
1538,IndiGo,30/11/2021,Tirupati,Ahmedabad,14:00,22:00,"2 stop via Hyderabad,New Delhi","₹ 10,468"
1539,IndiGo,30/11/2021,Tirupati,Ahmedabad,14:00,23:50,"2 stop via Hyderabad,New Delhi","₹ 10,468"

Lenght :  1540

-----Skiped-----

origin = TIR
destin = TIR

origin = TIR
destin = BLR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BLR-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1546,Air India,24/11/2021,Tirupati,Bengaluru,10:00,08:55,"2 stop via Mumbai,New Delhi","₹ 13,932"
1547,Air India,24/11/2021,Tirupati,Bengaluru,10:00,08:55,"2 stop via Mumbai,New Delhi","₹ 13,932"
1548,Air India,24/11/2021,Tirupati,Bengaluru,10:00,08:55,"2 stop via Mumbai,New Delhi","₹ 13,932"
1549,Air India,24/11/2021,Tirupati,Bengaluru,10:00,08:55,"2 stop via Mumbai,New Delhi","₹ 13,932"
1550,Air India,24/11/2021,Tirupati,Bengaluru,10:00,08:55,"3 stop via Mumbai,Aurangabad,New Delhi","₹ 13,932"

Lenght :  1551

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BLR-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1559,Air India,25/11/2021,Tirupati,Bengaluru,10:00,08:55,"3 stop via Mumbai,Aurangabad,New Delhi","₹ 13,932"
1560,Air India,25/11/2021,Tirupati,Bengaluru,10:00,08:55,"2 stop via Mumbai,New Delhi","₹ 13,932"
1561,Air India,25/11/2021,Tirupati,Bengaluru,14:15,23:55,"2 stop via Hyderabad,New Delhi","₹ 14,454"
1562,Air India,25/11/2021,Tirupati,Bengaluru,14:15,08:55,"2 stop via Hyderabad,New Delhi","₹ 14,454"
1563,Air India,25/11/2021,Tirupati,Bengaluru,14:15,08:55,"2 stop via Hyderabad,New Delhi","₹ 16,029"

Lenght :  1564

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BLR-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1570,Air India,26/11/2021,Tirupati,Bengaluru,10:00,08:55,"2 stop via Mumbai,New Delhi","₹ 13,932"
1571,Air India,26/11/2021,Tirupati,Bengaluru,14:15,08:55,"2 stop via Hyderabad,New Delhi","₹ 14,454"
1572,Air India,26/11/2021,Tirupati,Bengaluru,14:15,11:10,"2 stop via Hyderabad,Mumbai","₹ 15,294"
1573,Air India,26/11/2021,Tirupati,Bengaluru,14:15,08:55,"2 stop via Hyderabad,New Delhi","₹ 16,029"
1574,Air India,26/11/2021,Tirupati,Bengaluru,10:00,12:30,"2 stop via Mumbai,New Delhi","₹ 16,358"

Lenght :  1575

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BLR-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 9
Time Count in Scraping  = 18
City Count in Scraping  = 18
spanFlightCost Count in Scraping  = 9
pFlightStops Count in Scraping  = 9
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1579,Air India,27/11/2021,Tirupati,Bengaluru,14:15,22:15,1 stop via Hyderabad,"₹ 7,314"
1580,Air India,27/11/2021,Tirupati,Bengaluru,10:00,18:30,1 stop via Mumbai,"₹ 9,834"
1581,Air India,27/11/2021,Tirupati,Bengaluru,14:15,08:55,"2 stop via Hyderabad,New Delhi","₹ 19,599"
1582,Air India,27/11/2021,Tirupati,Bengaluru,14:15,23:55,"2 stop via Hyderabad,New Delhi","₹ 23,904"
1583,Air India,27/11/2021,Tirupati,Bengaluru,14:15,12:30,"2 stop via Hyderabad,New Delhi","₹ 27,054"

Lenght :  1584

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BLR-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 8
Time Count in Scraping  = 16
City Count in Scraping  = 16
spanFlightCost Count in Scraping  = 8
pFlightStops Count in Scraping  = 8
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1587,Air India,28/11/2021,Tirupati,Bengaluru,14:15,08:55,"2 stop via Hyderabad,New Delhi","₹ 15,819"
1588,Air India,28/11/2021,Tirupati,Bengaluru,14:15,11:10,"2 stop via Hyderabad,Mumbai","₹ 16,029"
1589,Air India,28/11/2021,Tirupati,Bengaluru,14:15,12:50,"3 stop via Hyderabad,New Delhi,Jaipur","₹ 18,864"
1590,Air India,28/11/2021,Tirupati,Bengaluru,14:15,11:10,"3 stop via Hyderabad,New Delhi,Mumbai","₹ 19,074"
1591,Air India,28/11/2021,Tirupati,Bengaluru,14:15,08:55,"2 stop via Hyderabad,New Delhi","₹ 19,704"

Lenght :  1592

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BLR-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1600,Air India,29/11/2021,Tirupati,Bengaluru,10:00,08:55,"2 stop via Mumbai,New Delhi","₹ 13,932"
1601,Air India,29/11/2021,Tirupati,Bengaluru,10:00,08:55,"2 stop via Mumbai,New Delhi","₹ 13,932"
1602,Air India,29/11/2021,Tirupati,Bengaluru,10:00,12:05,"2 stop via Mumbai,New Delhi","₹ 13,932"
1603,Air India,29/11/2021,Tirupati,Bengaluru,14:15,23:55,"2 stop via Hyderabad,New Delhi","₹ 14,454"
1604,Air India,29/11/2021,Tirupati,Bengaluru,14:15,08:55,"2 stop via Hyderabad,New Delhi","₹ 14,454"

Lenght :  1605

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BLR-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 8
Time Count in Scraping  = 16
City Count in Scraping  = 16
spanFlightCost Count in Scraping  = 8
pFlightStops Count in Scraping  = 8
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1608,IndiGo,30/11/2021,Tirupati,Bengaluru,16:20,17:35,Non stop,"₹ 3,429"
1609,Air India,30/11/2021,Tirupati,Bengaluru,14:15,08:55,"2 stop via Hyderabad,New Delhi","₹ 14,454"
1610,Air India,30/11/2021,Tirupati,Bengaluru,14:15,08:55,"2 stop via Hyderabad,New Delhi","₹ 16,029"
1611,Air India,30/11/2021,Tirupati,Bengaluru,14:15,12:30,"2 stop via Hyderabad,New Delhi","₹ 16,029"
1612,Air India,30/11/2021,Tirupati,Bengaluru,14:15,11:10,"3 stop via Hyderabad,New Delhi,Mumbai","₹ 17,709"

Lenght :  1613

-----Skiped-----

origin = TIR
destin = BOM

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1620,IndiGo,24/11/2021,Tirupati,Mumbai,10:55,16:35,1 stop via Hyderabad,"₹ 7,850"
1621,"Spicejet, Air India",24/11/2021,Tirupati,Mumbai,18:55,23:55,1 stop via Hyderabad,"₹ 7,987"
1622,"Spicejet, Air India",24/11/2021,Tirupati,Mumbai,11:30,23:55,1 stop via Hyderabad,"₹ 8,197"
1623,"Spicejet, IndiGo",24/11/2021,Tirupati,Mumbai,11:30,16:35,1 stop via Hyderabad,"₹ 11,295"
1624,"Spicejet, Vistara",24/11/2021,Tirupati,Mumbai,08:00,14:30,1 stop via Hyderabad,"₹ 12,764"

Lenght :  1625

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1632,"Air India, IndiGo",25/11/2021,Tirupati,Mumbai,14:15,23:25,1 stop via Hyderabad,"₹ 7,882"
1633,"Spicejet, IndiGo",25/11/2021,Tirupati,Mumbai,11:30,16:35,1 stop via Hyderabad,"₹ 8,354"
1634,"Air India, IndiGo",25/11/2021,Tirupati,Mumbai,14:15,19:15,1 stop via Hyderabad,"₹ 12,081"
1635,Air India,25/11/2021,Tirupati,Mumbai,14:15,08:45,"3 stop via Hyderabad,New Delhi,Goa","₹ 12,567"
1636,"IndiGo, Vistara",25/11/2021,Tirupati,Mumbai,07:40,23:00,"2 stop via Vijayawada,Hyderabad","₹ 12,870"

Lenght :  1637

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1642,IndiGo,26/11/2021,Tirupati,Mumbai,14:00,23:25,1 stop via Hyderabad,"₹ 6,936"
1643,IndiGo,26/11/2021,Tirupati,Mumbai,19:55,05:50,1 stop via Hyderabad,"₹ 6,936"
1644,Air India,26/11/2021,Tirupati,Mumbai,14:15,23:55,1 stop via Hyderabad,"₹ 7,314"
1645,IndiGo,26/11/2021,Tirupati,Mumbai,14:00,19:15,1 stop via Hyderabad,"₹ 8,763"
1646,IndiGo,26/11/2021,Tirupati,Mumbai,19:55,23:25,1 stop via Hyderabad,"₹ 9,782"

Lenght :  1647

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1655,"Spicejet, IndiGo",27/11/2021,Tirupati,Mumbai,08:00,19:15,1 stop via Hyderabad,"₹ 9,194"
1656,"Spicejet, Vistara",27/11/2021,Tirupati,Mumbai,08:00,14:30,1 stop via Hyderabad,"₹ 9,456"
1657,"Air India, Vistara",27/11/2021,Tirupati,Mumbai,14:15,23:00,1 stop via Hyderabad,"₹ 11,032"
1658,"Air India, IndiGo",27/11/2021,Tirupati,Mumbai,14:15,19:15,1 stop via Hyderabad,"₹ 11,505"
1659,"IndiGo, Vistara",27/11/2021,Tirupati,Mumbai,07:40,23:00,"2 stop via Vijayawada,Hyderabad","₹ 11,767"

Lenght :  1660

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 9
Time Count in Scraping  = 18
City Count in Scraping  = 18
spanFlightCost Count in Scraping  = 9
pFlightStops Count in Scraping  = 9
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1664,IndiGo,28/11/2021,Tirupati,Mumbai,19:55,23:25,1 stop via Hyderabad,"₹ 9,362"
1665,IndiGo,28/11/2021,Tirupati,Mumbai,10:55,16:35,1 stop via Hyderabad,"₹ 9,728"
1666,Air India,28/11/2021,Tirupati,Mumbai,14:15,23:55,1 stop via Hyderabad,"₹ 11,304"
1667,IndiGo,28/11/2021,Tirupati,Mumbai,19:55,05:50,1 stop via Hyderabad,"₹ 12,458"
1668,Air India,28/11/2021,Tirupati,Mumbai,14:15,09:45,"3 stop via Hyderabad,New Delhi,Bhopal","₹ 13,608"

Lenght :  1669

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1674,IndiGo,29/11/2021,Tirupati,Mumbai,19:55,05:50,1 stop via Hyderabad,"₹ 5,109"
1675,TruJet,29/11/2021,Tirupati,Mumbai,20:00,12:30,"2 stop via Hyderabad,Nanded","₹ 5,890"
1676,IndiGo,29/11/2021,Tirupati,Mumbai,16:20,21:35,1 stop via Bengaluru,"₹ 6,023"
1677,Air India,29/11/2021,Tirupati,Mumbai,14:15,23:55,1 stop via Hyderabad,"₹ 7,314"
1678,IndiGo,29/11/2021,Tirupati,Mumbai,19:55,23:25,1 stop via Hyderabad,"₹ 7,472"

Lenght :  1679

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1687,Air India,30/11/2021,Tirupati,Mumbai,14:15,09:05,"2 stop via Hyderabad,New Delhi","₹ 10,635"
1688,Air India,30/11/2021,Tirupati,Mumbai,14:15,10:10,"2 stop via Hyderabad,New Delhi","₹ 10,635"
1689,Air India,30/11/2021,Tirupati,Mumbai,14:15,11:15,"2 stop via Hyderabad,New Delhi","₹ 10,635"
1690,Air India,30/11/2021,Tirupati,Mumbai,14:15,12:50,"2 stop via Hyderabad,New Delhi","₹ 10,635"
1691,Air India,30/11/2021,Tirupati,Mumbai,14:15,08:35,"2 stop via Hyderabad,Bengaluru","₹ 12,039"

Lenght :  1692

-----Skiped-----

origin = TIR
destin = DEL

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1700,"Air India, IndiGo",24/11/2021,Tirupati,New Delhi,14:15,19:55,1 stop via Hyderabad,"₹ 11,347"
1701,IndiGo,24/11/2021,Tirupati,New Delhi,14:00,19:55,1 stop via Hyderabad,"₹ 11,355"
1702,IndiGo,24/11/2021,Tirupati,New Delhi,19:55,05:10,"2 stop via Hyderabad,Mumbai","₹ 11,992"
1703,"Spicejet, IndiGo",24/11/2021,Tirupati,New Delhi,11:30,18:10,1 stop via Hyderabad,"₹ 12,082"
1704,Spicejet,24/11/2021,Tirupati,New Delhi,14:25,10:40,1 stop via Pune,"₹ 12,599"

Lenght :  1705

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1714,"Spicejet, IndiGo",25/11/2021,Tirupati,New Delhi,11:30,18:10,1 stop via Hyderabad,"₹ 10,296"
1715,IndiGo,25/11/2021,Tirupati,New Delhi,14:00,18:10,1 stop via Hyderabad,"₹ 10,412"
1716,Air India,25/11/2021,Tirupati,New Delhi,10:00,18:15,1 stop via Mumbai,"₹ 10,674"
1717,"Spicejet, Air India",25/11/2021,Tirupati,New Delhi,08:00,13:50,1 stop via Hyderabad,"₹ 10,821"
1718,IndiGo,25/11/2021,Tirupati,New Delhi,19:55,07:15,1 stop via Hyderabad,"₹ 11,294"

Lenght :  1719

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1727,Air India,26/11/2021,Tirupati,New Delhi,14:15,23:00,1 stop via Hyderabad,"₹ 8,994"
1728,Spicejet,26/11/2021,Tirupati,New Delhi,11:30,08:40,1 stop via Hyderabad,"₹ 10,171"
1729,Spicejet,26/11/2021,Tirupati,New Delhi,08:00,08:40,1 stop via Hyderabad,"₹ 10,171"
1730,IndiGo,26/11/2021,Tirupati,New Delhi,14:00,18:10,1 stop via Hyderabad,"₹ 10,412"
1731,Air India,26/11/2021,Tirupati,New Delhi,10:00,18:15,1 stop via Mumbai,"₹ 10,674"

Lenght :  1732

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1744,Spicejet,27/11/2021,Tirupati,New Delhi,08:00,08:40,1 stop via Hyderabad,"₹ 10,255"
1745,IndiGo,27/11/2021,Tirupati,New Delhi,14:00,19:55,1 stop via Hyderabad,"₹ 10,648"
1746,Air India,27/11/2021,Tirupati,New Delhi,14:15,23:00,1 stop via Hyderabad,"₹ 12,144"
1747,IndiGo,27/11/2021,Tirupati,New Delhi,19:55,05:10,"2 stop via Hyderabad,Mumbai","₹ 12,638"
1748,IndiGo,27/11/2021,Tirupati,New Delhi,19:55,07:05,"2 stop via Hyderabad,Mumbai","₹ 12,638"

Lenght :  1749

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1756,IndiGo,28/11/2021,Tirupati,New Delhi,10:55,16:30,1 stop via Hyderabad,"₹ 9,990"
1757,IndiGo,28/11/2021,Tirupati,New Delhi,14:00,19:55,1 stop via Hyderabad,"₹ 10,620"
1758,IndiGo,28/11/2021,Tirupati,New Delhi,16:20,22:10,1 stop via Bengaluru,"₹ 10,937"
1759,Spicejet,28/11/2021,Tirupati,New Delhi,14:25,10:40,1 stop via Pune,"₹ 12,564"
1760,Air India,28/11/2021,Tirupati,New Delhi,14:15,23:00,1 stop via Hyderabad,"₹ 12,669"

Lenght :  1761

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1768,IndiGo,29/11/2021,Tirupati,New Delhi,16:20,22:10,1 stop via Bengaluru,"₹ 7,419"
1769,IndiGo,29/11/2021,Tirupati,New Delhi,19:55,07:15,1 stop via Hyderabad,"₹ 7,419"
1770,Spicejet,29/11/2021,Tirupati,New Delhi,18:55,08:40,1 stop via Hyderabad,"₹ 8,133"
1771,Spicejet,29/11/2021,Tirupati,New Delhi,08:00,08:40,1 stop via Hyderabad,"₹ 8,449"
1772,Air India,29/11/2021,Tirupati,New Delhi,14:15,23:00,1 stop via Hyderabad,"₹ 8,994"

Lenght :  1773

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1781,IndiGo,30/11/2021,Tirupati,New Delhi,14:00,22:25,1 stop via Hyderabad,"₹ 7,419"
1782,IndiGo,30/11/2021,Tirupati,New Delhi,10:55,22:25,1 stop via Hyderabad,"₹ 7,419"
1783,IndiGo,30/11/2021,Tirupati,New Delhi,14:00,23:45,1 stop via Hyderabad,"₹ 7,419"
1784,IndiGo,30/11/2021,Tirupati,New Delhi,14:00,00:45,1 stop via Hyderabad,"₹ 7,419"
1785,Air India,30/11/2021,Tirupati,New Delhi,14:15,23:00,1 stop via Hyderabad,"₹ 8,994"

Lenght :  1786

-----Skiped-----

--------------
origin = BLR
destin = GOI

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1800,AirAsia,24/11/2021,Bengaluru,Goa,07:35,17:25,1 stop via Hyderabad,"₹ 4,969"
1801,IndiGo,24/11/2021,Bengaluru,Goa,19:50,21:15,Non stop,"₹ 5,283"
1802,IndiGo,24/11/2021,Bengaluru,Goa,06:15,07:35,Non stop,"₹ 6,333"
1803,IndiGo,24/11/2021,Bengaluru,Goa,17:10,18:25,Non stop,"₹ 6,333"
1804,Vistara,24/11/2021,Bengaluru,Goa,12:45,14:05,Non stop,"₹ 6,597"

Lenght :  1805

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1817,IndiGo,25/11/2021,Bengaluru,Goa,19:50,21:15,Non stop,"₹ 8,643"
1818,IndiGo,25/11/2021,Bengaluru,Goa,17:10,18:25,Non stop,"₹ 9,273"
1819,Go First,25/11/2021,Bengaluru,Goa,15:45,17:10,Non stop,"₹ 9,340"
1820,Air India,25/11/2021,Bengaluru,Goa,06:45,14:45,1 stop via Mumbai,"₹ 11,584"
1821,IndiGo,25/11/2021,Bengaluru,Goa,06:15,07:35,Non stop,"₹ 12,003"

Lenght :  1822

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1838,Air India,26/11/2021,Bengaluru,Goa,19:10,06:50,1 stop via Mumbai,"₹ 9,694"
1839,IndiGo,26/11/2021,Bengaluru,Goa,06:15,07:35,Non stop,"₹ 9,903"
1840,Vistara,26/11/2021,Bengaluru,Goa,12:45,14:05,Non stop,"₹ 10,062"
1841,Go First,26/11/2021,Bengaluru,Goa,06:30,20:10,1 stop via Ahmedabad,"₹ 10,610"
1842,IndiGo,26/11/2021,Bengaluru,Goa,12:45,14:05,Non stop,"₹ 12,003"

Lenght :  1843

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 27
Time Count in Scraping  = 54
City Count in Scraping  = 56
spanFlightCost Count in Scraping  = 27
pFlightStops Count in Scraping  = 27
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1865,Go First,27/11/2021,Bengaluru,Goa,05:45,17:45,1 stop via Mumbai,"₹ 8,925"
1866,Go First,27/11/2021,Bengaluru,Goa,08:10,17:45,1 stop via Mumbai,"₹ 9,503"
1867,Air India,27/11/2021,Bengaluru,Goa,09:00,17:00,1 stop via Mysore,"₹ 9,771"
1868,Vistara,27/11/2021,Bengaluru,Goa,06:40,11:40,1 stop via Mumbai,"₹ 10,797"
1869,Go First,27/11/2021,Bengaluru,Goa,05:45,12:45,1 stop via Mumbai,"₹ 10,921"

Lenght :  1870

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1886,IndiGo,28/11/2021,Bengaluru,Goa,21:45,23:00,Non stop,"₹ 4,338"
1887,AirAsia,28/11/2021,Bengaluru,Goa,05:25,07:00,Non stop,"₹ 4,339"
1888,Vistara,28/11/2021,Bengaluru,Goa,12:45,14:05,Non stop,"₹ 4,339"
1889,Air India,28/11/2021,Bengaluru,Goa,19:00,20:30,Non stop,"₹ 4,339"
1890,AirAsia,28/11/2021,Bengaluru,Goa,20:45,22:00,Non stop,"₹ 4,339"

Lenght :  1891

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 29
Time Count in Scraping  = 58
City Count in Scraping  = 60
spanFlightCost Count in Scraping  = 29
pFlightStops Count in Scraping  = 29
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1915,Air India,29/11/2021,Bengaluru,Goa,07:35,17:00,"2 stop via Hyderabad,Mysore","₹ 9,012"
1916,Air India,29/11/2021,Bengaluru,Goa,19:10,06:50,1 stop via Mumbai,"₹ 9,064"
1917,Go First,29/11/2021,Bengaluru,Goa,15:45,17:10,Non stop,"₹ 9,340"
1918,Go First,29/11/2021,Bengaluru,Goa,08:10,12:45,1 stop via Mumbai,"₹ 9,975"
1919,Go First,29/11/2021,Bengaluru,Goa,05:45,12:45,1 stop via Mumbai,"₹ 9,975"

Lenght :  1920

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1937,AirAsia,30/11/2021,Bengaluru,Goa,05:25,07:00,Non stop,"₹ 4,339"
1938,Air India,30/11/2021,Bengaluru,Goa,19:00,20:30,Non stop,"₹ 4,339"
1939,AirAsia,30/11/2021,Bengaluru,Goa,20:45,22:00,Non stop,"₹ 4,339"
1940,AirAsia,30/11/2021,Bengaluru,Goa,16:25,19:35,1 stop via Hyderabad,"₹ 4,339"
1941,Vistara,30/11/2021,Bengaluru,Goa,12:45,14:05,Non stop,"₹ 4,392"

Lenght :  1942

-----Skiped-----

origin = BLR
destin = AMD

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 35
Time Count in Scraping  = 70
City Count in Scraping  = 70
spanFlightCost Count in Scraping  = 35
pFlightStops Count in Scraping  = 35
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1972,IndiGo,24/11/2021,Bengaluru,Ahmedabad,23:45,07:40,1 stop via Hyderabad,"₹ 11,163"
1973,IndiGo,24/11/2021,Bengaluru,Ahmedabad,15:20,22:55,1 stop via Jaipur,"₹ 11,164"
1974,IndiGo,24/11/2021,Bengaluru,Ahmedabad,09:50,14:50,1 stop via Kochi,"₹ 11,268"
1975,IndiGo,24/11/2021,Bengaluru,Ahmedabad,05:50,14:50,1 stop via Kochi,"₹ 11,399"
1976,IndiGo,24/11/2021,Bengaluru,Ahmedabad,11:20,18:05,1 stop via Pune,"₹ 11,793"

Lenght :  1977

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1987,IndiGo,25/11/2021,Bengaluru,Ahmedabad,10:20,14:50,1 stop via Kochi,"₹ 6,018"
1988,IndiGo,25/11/2021,Bengaluru,Ahmedabad,16:45,19:05,Non stop,"₹ 6,123"
1989,IndiGo,25/11/2021,Bengaluru,Ahmedabad,05:15,07:35,Non stop,"₹ 6,281"
1990,Go First,25/11/2021,Bengaluru,Ahmedabad,06:30,08:40,Non stop,"₹ 6,595"
1991,IndiGo,25/11/2021,Bengaluru,Ahmedabad,22:55,06:45,1 stop via Chennai,"₹ 7,483"

Lenght :  1992

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1999,Go First,26/11/2021,Bengaluru,Ahmedabad,17:00,07:30,"2 stop via Ranchi,New Delhi","₹ 6,017"
2000,IndiGo,26/11/2021,Bengaluru,Ahmedabad,05:15,07:35,Non stop,"₹ 6,018"
2001,IndiGo,26/11/2021,Bengaluru,Ahmedabad,13:00,15:15,Non stop,"₹ 6,018"
2002,IndiGo,26/11/2021,Bengaluru,Ahmedabad,18:35,20:45,Non stop,"₹ 6,018"
2003,IndiGo,26/11/2021,Bengaluru,Ahmedabad,20:55,23:10,Non stop,"₹ 6,018"

Lenght :  2004

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 31
Time Count in Scraping  = 62
City Count in Scraping  = 64
spanFlightCost Count in Scraping  = 31
pFlightStops Count in Scraping  = 31
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2030,Go First,27/11/2021,Bengaluru,Ahmedabad,06:30,08:40,Non stop,"₹ 10,599"
2031,IndiGo,27/11/2021,Bengaluru,Ahmedabad,13:05,18:05,1 stop via Hyderabad,"₹ 10,790"
2032,IndiGo,27/11/2021,Bengaluru,Ahmedabad,09:50,14:50,1 stop via Kochi,"₹ 11,006"
2033,IndiGo,27/11/2021,Bengaluru,Ahmedabad,16:50,21:25,1 stop via Mumbai,"₹ 11,531"
2034,Vistara,27/11/2021,Bengaluru,Ahmedabad,08:00,19:40,1 stop via New Delhi,"₹ 11,696"

Lenght :  2035

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2041,IndiGo,28/11/2021,Bengaluru,Ahmedabad,05:15,07:35,Non stop,"₹ 6,018"
2042,IndiGo,28/11/2021,Bengaluru,Ahmedabad,16:45,19:05,Non stop,"₹ 6,018"
2043,IndiGo,28/11/2021,Bengaluru,Ahmedabad,18:35,20:45,Non stop,"₹ 6,018"
2044,IndiGo,28/11/2021,Bengaluru,Ahmedabad,20:55,23:10,Non stop,"₹ 6,018"
2045,Spicejet,28/11/2021,Bengaluru,Ahmedabad,09:45,10:05,1 stop via Pune,"₹ 6,018"

Lenght :  2046

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2054,IndiGo,29/11/2021,Bengaluru,Ahmedabad,05:15,07:35,Non stop,"₹ 6,018"
2055,IndiGo,29/11/2021,Bengaluru,Ahmedabad,16:45,19:05,Non stop,"₹ 6,018"
2056,IndiGo,29/11/2021,Bengaluru,Ahmedabad,18:35,20:45,Non stop,"₹ 6,018"
2057,IndiGo,29/11/2021,Bengaluru,Ahmedabad,20:55,23:10,Non stop,"₹ 6,018"
2058,Spicejet,29/11/2021,Bengaluru,Ahmedabad,09:45,10:05,1 stop via Pune,"₹ 6,018"

Lenght :  2059

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2068,Go First,30/11/2021,Bengaluru,Ahmedabad,20:00,08:50,1 stop via Mumbai,"₹ 6,017"
2069,IndiGo,30/11/2021,Bengaluru,Ahmedabad,05:15,07:35,Non stop,"₹ 6,018"
2070,IndiGo,30/11/2021,Bengaluru,Ahmedabad,13:00,15:15,Non stop,"₹ 6,018"
2071,IndiGo,30/11/2021,Bengaluru,Ahmedabad,16:45,19:05,Non stop,"₹ 6,018"
2072,IndiGo,30/11/2021,Bengaluru,Ahmedabad,18:35,20:45,Non stop,"₹ 6,018"

Lenght :  2073

-----Skiped-----

origin = BLR
destin = TIR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-TIR-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2083,Air India,24/11/2021,Bengaluru,Tirupati,06:10,09:10,"2 stop via New Delhi,Mumbai","₹ 14,002"
2084,Air India,24/11/2021,Bengaluru,Tirupati,06:10,09:10,"3 stop via New Delhi,Aurangabad,Mumbai","₹ 14,002"
2085,Air India,24/11/2021,Bengaluru,Tirupati,13:20,09:10,"2 stop via New Delhi,Mumbai","₹ 14,580"
2086,Air India,24/11/2021,Bengaluru,Tirupati,10:25,09:10,"2 stop via New Delhi,Mumbai","₹ 14,580"
2087,Air India,24/11/2021,Bengaluru,Tirupati,06:10,09:10,"2 stop via New Delhi,Mumbai","₹ 14,580"

Lenght :  2088

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-TIR-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 8
Time Count in Scraping  = 16
City Count in Scraping  = 16
spanFlightCost Count in Scraping  = 8
pFlightStops Count in Scraping  = 8
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2091,IndiGo,25/11/2021,Bengaluru,Tirupati,06:35,16:20,1 stop via Madurai,"₹ 5,357"
2092,IndiGo,25/11/2021,Bengaluru,Tirupati,06:20,10:35,1 stop via Vijayawada,"₹ 5,976"
2093,IndiGo,25/11/2021,Bengaluru,Tirupati,09:20,13:30,1 stop via Hyderabad,"₹ 5,976"
2094,IndiGo,25/11/2021,Bengaluru,Tirupati,07:10,13:30,1 stop via Hyderabad,"₹ 5,976"
2095,IndiGo,25/11/2021,Bengaluru,Tirupati,06:10,13:30,1 stop via Hyderabad,"₹ 5,976"

Lenght :  2096

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-TIR-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 2
Time Count in Scraping  = 4
City Count in Scraping  = 4
spanFlightCost Count in Scraping  = 2
pFlightStops Count in Scraping  = 2
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2093,IndiGo,25/11/2021,Bengaluru,Tirupati,09:20,13:30,1 stop via Hyderabad,"₹ 5,976"
2094,IndiGo,25/11/2021,Bengaluru,Tirupati,07:10,13:30,1 stop via Hyderabad,"₹ 5,976"
2095,IndiGo,25/11/2021,Bengaluru,Tirupati,06:10,13:30,1 stop via Hyderabad,"₹ 5,976"
2096,IndiGo,26/11/2021,Bengaluru,Tirupati,10:25,11:45,Non stop,"₹ 3,708"
2097,Star Air,26/11/2021,Bengaluru,Tirupati,08:40,11:30,1 stop via Kalaburagi,"₹ 9,498"

Lenght :  2098

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-TIR-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2104,IndiGo,27/11/2021,Bengaluru,Tirupati,07:10,13:30,1 stop via Hyderabad,"₹ 5,666"
2105,IndiGo,27/11/2021,Bengaluru,Tirupati,06:10,13:30,1 stop via Hyderabad,"₹ 5,666"
2106,IndiGo,27/11/2021,Bengaluru,Tirupati,13:05,19:25,1 stop via Hyderabad,"₹ 8,454"
2107,IndiGo,27/11/2021,Bengaluru,Tirupati,10:15,19:25,1 stop via Hyderabad,"₹ 8,454"
2108,IndiGo,27/11/2021,Bengaluru,Tirupati,09:20,19:25,1 stop via Hyderabad,"₹ 8,454"

Lenght :  2109

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-TIR-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 20
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2114,IndiGo,28/11/2021,Bengaluru,Tirupati,06:35,16:20,1 stop via Madurai,"₹ 7,698"
2115,IndiGo,28/11/2021,Bengaluru,Tirupati,09:20,13:30,1 stop via Hyderabad,"₹ 7,749"
2116,IndiGo,28/11/2021,Bengaluru,Tirupati,07:10,13:30,1 stop via Hyderabad,"₹ 7,749"
2117,IndiGo,28/11/2021,Bengaluru,Tirupati,13:05,19:25,1 stop via Hyderabad,"₹ 7,959"
2118,IndiGo,28/11/2021,Bengaluru,Tirupati,10:15,19:25,1 stop via Hyderabad,"₹ 8,169"

Lenght :  2119

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-TIR-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 9
Time Count in Scraping  = 18
City Count in Scraping  = 18
spanFlightCost Count in Scraping  = 9
pFlightStops Count in Scraping  = 9
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2123,Air India,29/11/2021,Bengaluru,Tirupati,19:00,13:35,"3 stop via Goa,New Delhi,Hyderabad","₹ 13,162"
2124,Air India,29/11/2021,Bengaluru,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 14,524"
2125,Air India,29/11/2021,Bengaluru,Tirupati,11:50,13:35,"3 stop via Bhubaneswar,New Delhi,Hyderabad","₹ 14,842"
2126,Air India,29/11/2021,Bengaluru,Tirupati,11:50,13:35,"4 stop via Bhubaneswar,Surat,New Delhi,Hyderabad","₹ 15,420"
2127,Air India,29/11/2021,Bengaluru,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,939"

Lenght :  2128

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-TIR-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 8
Time Count in Scraping  = 16
City Count in Scraping  = 16
spanFlightCost Count in Scraping  = 8
pFlightStops Count in Scraping  = 8
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2131,IndiGo,30/11/2021,Bengaluru,Tirupati,06:20,10:35,1 stop via Vijayawada,"₹ 4,118"
2132,IndiGo,30/11/2021,Bengaluru,Tirupati,09:20,19:25,1 stop via Hyderabad,"₹ 4,118"
2133,IndiGo,30/11/2021,Bengaluru,Tirupati,09:20,13:30,1 stop via Hyderabad,"₹ 4,427"
2134,IndiGo,30/11/2021,Bengaluru,Tirupati,07:10,13:30,1 stop via Hyderabad,"₹ 4,427"
2135,IndiGo,30/11/2021,Bengaluru,Tirupati,06:10,13:30,1 stop via Hyderabad,"₹ 4,427"

Lenght :  2136

-----Skiped-----

origin = BLR
destin = BLR

origin = BLR
destin = BOM

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 35
Time Count in Scraping  = 70
City Count in Scraping  = 70
spanFlightCost Count in Scraping  = 35
pFlightStops Count in Scraping  = 35
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2166,AirAsia,24/11/2021,Bengaluru,Mumbai,05:35,07:15,Non stop,"₹ 5,179"
2167,Air India,24/11/2021,Bengaluru,Mumbai,06:45,08:35,Non stop,"₹ 5,179"
2168,AirAsia,24/11/2021,Bengaluru,Mumbai,18:50,20:35,Non stop,"₹ 5,179"
2169,Air India,24/11/2021,Bengaluru,Mumbai,19:10,21:05,Non stop,"₹ 5,179"
2170,Vistara,24/11/2021,Bengaluru,Mumbai,06:40,08:15,Non stop,"₹ 5,180"

Lenght :  2171

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 37
Time Count in Scraping  = 74
City Count in Scraping  = 76
spanFlightCost Count in Scraping  = 37
pFlightStops Count in Scraping  = 37
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2203,Air India,25/11/2021,Bengaluru,Mumbai,06:45,08:35,Non stop,"₹ 5,179"
2204,AirAsia,25/11/2021,Bengaluru,Mumbai,18:50,20:35,Non stop,"₹ 5,179"
2205,Vistara,25/11/2021,Bengaluru,Mumbai,06:40,08:15,Non stop,"₹ 5,180"
2206,Vistara,25/11/2021,Bengaluru,Mumbai,08:30,10:15,Non stop,"₹ 5,180"
2207,Vistara,25/11/2021,Bengaluru,Mumbai,19:00,20:45,Non stop,"₹ 5,180"

Lenght :  2208

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 38
Time Count in Scraping  = 76
City Count in Scraping  = 78
spanFlightCost Count in Scraping  = 38
pFlightStops Count in Scraping  = 38
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2241,AirAsia,26/11/2021,Bengaluru,Mumbai,05:35,07:15,Non stop,"₹ 5,179"
2242,Air India,26/11/2021,Bengaluru,Mumbai,06:45,08:35,Non stop,"₹ 5,179"
2243,AirAsia,26/11/2021,Bengaluru,Mumbai,18:50,20:35,Non stop,"₹ 5,179"
2244,Air India,26/11/2021,Bengaluru,Mumbai,19:10,21:05,Non stop,"₹ 5,179"
2245,Vistara,26/11/2021,Bengaluru,Mumbai,06:40,08:15,Non stop,"₹ 5,180"

Lenght :  2246

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 36
Time Count in Scraping  = 72
City Count in Scraping  = 74
spanFlightCost Count in Scraping  = 36
pFlightStops Count in Scraping  = 36
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2277,AirAsia,27/11/2021,Bengaluru,Mumbai,05:35,07:15,Non stop,"₹ 5,179"
2278,Air India,27/11/2021,Bengaluru,Mumbai,06:45,08:35,Non stop,"₹ 5,179"
2279,AirAsia,27/11/2021,Bengaluru,Mumbai,18:50,20:35,Non stop,"₹ 5,179"
2280,Vistara,27/11/2021,Bengaluru,Mumbai,06:40,08:15,Non stop,"₹ 5,180"
2281,Vistara,27/11/2021,Bengaluru,Mumbai,19:00,20:45,Non stop,"₹ 5,180"

Lenght :  2282

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 26
Time Count in Scraping  = 52
City Count in Scraping  = 54
spanFlightCost Count in Scraping  = 26
pFlightStops Count in Scraping  = 26
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2303,AirAsia,28/11/2021,Bengaluru,Mumbai,05:35,07:15,Non stop,"₹ 5,179"
2304,Air India,28/11/2021,Bengaluru,Mumbai,19:10,21:05,Non stop,"₹ 5,179"
2305,Vistara,28/11/2021,Bengaluru,Mumbai,06:40,08:15,Non stop,"₹ 5,180"
2306,Vistara,28/11/2021,Bengaluru,Mumbai,08:30,10:15,Non stop,"₹ 5,180"
2307,Vistara,28/11/2021,Bengaluru,Mumbai,21:40,23:25,Non stop,"₹ 5,180"

Lenght :  2308

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 43
Time Count in Scraping  = 86
City Count in Scraping  = 88
spanFlightCost Count in Scraping  = 43
pFlightStops Count in Scraping  = 43
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2346,Air India,29/11/2021,Bengaluru,Mumbai,19:10,21:05,Non stop,"₹ 5,179"
2347,Vistara,29/11/2021,Bengaluru,Mumbai,06:40,08:15,Non stop,"₹ 5,180"
2348,Vistara,29/11/2021,Bengaluru,Mumbai,18:25,20:15,Non stop,"₹ 5,180"
2349,Vistara,29/11/2021,Bengaluru,Mumbai,19:00,20:45,Non stop,"₹ 5,180"
2350,Vistara,29/11/2021,Bengaluru,Mumbai,19:55,21:50,Non stop,"₹ 5,180"

Lenght :  2351

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 40
Time Count in Scraping  = 80
City Count in Scraping  = 82
spanFlightCost Count in Scraping  = 40
pFlightStops Count in Scraping  = 40
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2386,IndiGo,30/11/2021,Bengaluru,Mumbai,18:45,23:25,1 stop via Hyderabad,"₹ 5,178"
2387,IndiGo,30/11/2021,Bengaluru,Mumbai,18:15,00:20,1 stop via Chennai,"₹ 5,178"
2388,AirAsia,30/11/2021,Bengaluru,Mumbai,04:50,06:45,Non stop,"₹ 5,179"
2389,AirAsia,30/11/2021,Bengaluru,Mumbai,05:35,07:15,Non stop,"₹ 5,179"
2390,Air India,30/11/2021,Bengaluru,Mumbai,06:45,08:35,Non stop,"₹ 5,179"

Lenght :  2391

-----Skiped-----

origin = BLR
destin = DEL

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 58
Time Count in Scraping  = 116
City Count in Scraping  = 116
spanFlightCost Count in Scraping  = 58
pFlightStops Count in Scraping  = 58
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2444,Vistara,24/11/2021,Bengaluru,New Delhi,21:10,23:45,Non stop,"₹ 7,489"
2445,AirAsia,24/11/2021,Bengaluru,New Delhi,22:10,01:00,Non stop,"₹ 7,489"
2446,Spicejet,24/11/2021,Bengaluru,New Delhi,05:55,08:40,Non stop,"₹ 7,593"
2447,IndiGo,24/11/2021,Bengaluru,New Delhi,11:55,14:50,Non stop,"₹ 8,328"
2448,Vistara,24/11/2021,Bengaluru,New Delhi,08:00,10:40,Non stop,"₹ 8,329"

Lenght :  2449

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 48
Time Count in Scraping  = 96
City Count in Scraping  = 96
spanFlightCost Count in Scraping  = 48
pFlightStops Count in Scraping  = 48
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2492,IndiGo,25/11/2021,Bengaluru,New Delhi,23:35,02:30,Non stop,"₹ 7,488"
2493,AirAsia,25/11/2021,Bengaluru,New Delhi,06:10,08:55,Non stop,"₹ 7,489"
2494,Air India,25/11/2021,Bengaluru,New Delhi,06:10,08:55,Non stop,"₹ 7,489"
2495,Vistara,25/11/2021,Bengaluru,New Delhi,08:00,10:40,Non stop,"₹ 7,489"
2496,Vistara,25/11/2021,Bengaluru,New Delhi,09:45,12:40,Non stop,"₹ 7,489"

Lenght :  2497

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 44
Time Count in Scraping  = 88
City Count in Scraping  = 90
spanFlightCost Count in Scraping  = 44
pFlightStops Count in Scraping  = 44
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2536,IndiGo,26/11/2021,Bengaluru,New Delhi,22:10,01:05,Non stop,"₹ 7,488"
2537,IndiGo,26/11/2021,Bengaluru,New Delhi,23:35,02:30,Non stop,"₹ 7,488"
2538,Air India,26/11/2021,Bengaluru,New Delhi,06:10,08:55,Non stop,"₹ 7,489"
2539,AirAsia,26/11/2021,Bengaluru,New Delhi,06:10,08:55,Non stop,"₹ 7,489"
2540,Vistara,26/11/2021,Bengaluru,New Delhi,07:00,09:40,Non stop,"₹ 7,489"

Lenght :  2541

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 61
Time Count in Scraping  = 122
City Count in Scraping  = 124
spanFlightCost Count in Scraping  = 61
pFlightStops Count in Scraping  = 61
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2597,Go First,27/11/2021,Bengaluru,New Delhi,07:40,10:30,Non stop,"₹ 9,639"
2598,Air India,27/11/2021,Bengaluru,New Delhi,13:20,15:50,Non stop,"₹ 9,694"
2599,Air India,27/11/2021,Bengaluru,New Delhi,10:25,13:00,Non stop,"₹ 10,534"
2600,Vistara,27/11/2021,Bengaluru,New Delhi,09:45,12:40,Non stop,"₹ 11,059"
2601,IndiGo,27/11/2021,Bengaluru,New Delhi,09:30,12:15,Non stop,"₹ 11,898"

Lenght :  2602

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 56
Time Count in Scraping  = 112
City Count in Scraping  = 114
spanFlightCost Count in Scraping  = 56
pFlightStops Count in Scraping  = 56
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2653,IndiGo,28/11/2021,Bengaluru,New Delhi,09:30,12:15,Non stop,"₹ 8,118"
2654,IndiGo,28/11/2021,Bengaluru,New Delhi,16:30,19:20,Non stop,"₹ 8,538"
2655,IndiGo,28/11/2021,Bengaluru,New Delhi,11:55,14:50,Non stop,"₹ 8,748"
2656,IndiGo,28/11/2021,Bengaluru,New Delhi,14:00,16:45,Non stop,"₹ 8,958"
2657,Vistara,28/11/2021,Bengaluru,New Delhi,11:30,14:10,Non stop,"₹ 9,379"

Lenght :  2658

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 66
Time Count in Scraping  = 132
City Count in Scraping  = 134
spanFlightCost Count in Scraping  = 66
pFlightStops Count in Scraping  = 66
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2719,Vistara,29/11/2021,Bengaluru,New Delhi,17:50,20:30,Non stop,"₹ 7,489"
2720,Air India,29/11/2021,Bengaluru,New Delhi,17:50,20:35,Non stop,"₹ 7,489"
2721,Vistara,29/11/2021,Bengaluru,New Delhi,18:50,21:35,Non stop,"₹ 7,489"
2722,Vistara,29/11/2021,Bengaluru,New Delhi,19:40,22:25,Non stop,"₹ 7,489"
2723,Air India,29/11/2021,Bengaluru,New Delhi,21:00,23:55,Non stop,"₹ 7,489"

Lenght :  2724

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 63
Time Count in Scraping  = 126
City Count in Scraping  = 128
spanFlightCost Count in Scraping  = 63
pFlightStops Count in Scraping  = 63
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2782,Air India,30/11/2021,Bengaluru,New Delhi,17:20,20:20,Non stop,"₹ 7,489"
2783,Vistara,30/11/2021,Bengaluru,New Delhi,17:50,20:30,Non stop,"₹ 7,489"
2784,Vistara,30/11/2021,Bengaluru,New Delhi,18:50,21:35,Non stop,"₹ 7,489"
2785,Vistara,30/11/2021,Bengaluru,New Delhi,19:40,22:25,Non stop,"₹ 7,489"
2786,Air India,30/11/2021,Bengaluru,New Delhi,21:00,23:55,Non stop,"₹ 7,489"

Lenght :  2787

-----Skiped-----

--------------
origin = BOM
destin = GOI

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2806,AirAsia,24/11/2021,Mumbai,Goa,13:05,19:35,"2 stop via Bengaluru,Hyderabad","₹ 5,996"
2807,AirAsia,24/11/2021,Mumbai,Goa,21:20,07:00,1 stop via Bengaluru,"₹ 6,781"
2808,Go First,24/11/2021,Mumbai,Goa,07:30,20:10,1 stop via Ahmedabad,"₹ 8,857"
2809,Air India,24/11/2021,Mumbai,Goa,19:05,20:30,Non stop,"₹ 10,091"
2810,Vistara,24/11/2021,Mumbai,Goa,07:00,14:05,1 stop via Bengaluru,"₹ 10,196"

Lenght :  2811

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2827,Go First,25/11/2021,Mumbai,Goa,11:30,12:45,Non stop,"₹ 8,462"
2828,Air India,25/11/2021,Mumbai,Goa,19:05,20:30,Non stop,"₹ 8,831"
2829,AirAsia,25/11/2021,Mumbai,Goa,21:20,07:00,1 stop via Bengaluru,"₹ 8,857"
2830,IndiGo,25/11/2021,Mumbai,Goa,16:55,18:00,Non stop,"₹ 8,883"
2831,Go First,25/11/2021,Mumbai,Goa,05:40,17:10,1 stop via Bengaluru,"₹ 8,883"

Lenght :  2832

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2848,AirAsia,26/11/2021,Mumbai,Goa,13:05,22:00,1 stop via Bengaluru,"₹ 10,196"
2849,Air India,26/11/2021,Mumbai,Goa,09:30,20:30,1 stop via Bengaluru,"₹ 11,666"
2850,Spicejet,26/11/2021,Mumbai,Goa,11:15,12:50,Non stop,"₹ 11,928"
2851,Go First,26/11/2021,Mumbai,Goa,11:30,12:45,Non stop,"₹ 11,928"
2852,IndiGo,26/11/2021,Mumbai,Goa,14:05,15:15,Non stop,"₹ 11,928"

Lenght :  2853

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2871,Air India,27/11/2021,Mumbai,Goa,13:25,14:45,Non stop,"₹ 6,258"
2872,AirAsia,27/11/2021,Mumbai,Goa,07:20,14:55,1 stop via New Delhi,"₹ 6,781"
2873,AirAsia,27/11/2021,Mumbai,Goa,13:05,22:00,1 stop via Bengaluru,"₹ 6,781"
2874,Spicejet,27/11/2021,Mumbai,Goa,11:15,12:50,Non stop,"₹ 6,782"
2875,Go First,27/11/2021,Mumbai,Goa,15:20,16:30,Non stop,"₹ 6,888"

Lenght :  2876

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 31
Time Count in Scraping  = 62
City Count in Scraping  = 64
spanFlightCost Count in Scraping  = 31
pFlightStops Count in Scraping  = 31
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2902,Go First,28/11/2021,Mumbai,Goa,06:05,17:10,1 stop via Bengaluru,"₹ 8,883"
2903,Vistara,28/11/2021,Mumbai,Goa,09:05,14:05,1 stop via Bengaluru,"₹ 8,988"
2904,Vistara,28/11/2021,Mumbai,Goa,07:00,14:05,1 stop via Bengaluru,"₹ 8,988"
2905,Vistara,28/11/2021,Mumbai,Goa,06:00,14:05,1 stop via Bengaluru,"₹ 8,988"
2906,Go First,28/11/2021,Mumbai,Goa,09:00,10:30,Non stop,"₹ 9,302"

Lenght :  2907

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2925,AirAsia,29/11/2021,Mumbai,Goa,21:20,07:50,1 stop via New Delhi,"₹ 4,264"
2926,Spicejet,29/11/2021,Mumbai,Goa,15:30,17:05,Non stop,"₹ 4,472"
2927,IndiGo,29/11/2021,Mumbai,Goa,16:55,18:00,Non stop,"₹ 4,788"
2928,AirAsia,29/11/2021,Mumbai,Goa,13:05,19:35,"2 stop via Bengaluru,Hyderabad","₹ 5,208"
2929,Go First,29/11/2021,Mumbai,Goa,11:30,12:45,Non stop,"₹ 5,312"

Lenght :  2930

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2948,Spicejet,30/11/2021,Mumbai,Goa,15:30,17:05,Non stop,"₹ 4,368"
2949,Go First,30/11/2021,Mumbai,Goa,15:20,16:30,Non stop,"₹ 4,578"
2950,Air India,30/11/2021,Mumbai,Goa,19:05,20:30,Non stop,"₹ 4,998"
2951,Air India,30/11/2021,Mumbai,Goa,13:25,14:45,Non stop,"₹ 5,208"
2952,AirAsia,30/11/2021,Mumbai,Goa,13:05,19:35,"2 stop via Bengaluru,Hyderabad","₹ 5,208"

Lenght :  2953

-----Skiped-----

origin = BOM
destin = AMD

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
2972,IndiGo,24/11/2021,Mumbai,Ahmedabad,06:35,07:50,Non stop,"₹ 9,618"
2973,IndiGo,24/11/2021,Mumbai,Ahmedabad,13:45,14:55,Non stop,"₹ 10,353"
2974,Go First,24/11/2021,Mumbai,Ahmedabad,09:55,17:40,1 stop via New Delhi,"₹ 10,537"
2975,Go First,24/11/2021,Mumbai,Ahmedabad,14:45,22:15,1 stop via New Delhi,"₹ 10,537"
2976,Go First,24/11/2021,Mumbai,Ahmedabad,07:30,08:50,Non stop,"₹ 10,878"

Lenght :  2977

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 30
Time Count in Scraping  = 60
City Count in Scraping  = 62
spanFlightCost Count in Scraping  = 30
pFlightStops Count in Scraping  = 30
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
3002,IndiGo,25/11/2021,Mumbai,Ahmedabad,06:35,07:50,Non stop,"₹ 8,988"
3003,Go First,25/11/2021,Mumbai,Ahmedabad,07:30,08:50,Non stop,"₹ 9,302"
3004,Air India,25/11/2021,Mumbai,Ahmedabad,17:45,19:05,Non stop,"₹ 10,353"
3005,Go First,25/11/2021,Mumbai,Ahmedabad,05:45,12:50,1 stop via Jaipur,"₹ 11,219"
3006,Go First,25/11/2021,Mumbai,Ahmedabad,09:25,10:45,Non stop,"₹ 11,928"

Lenght :  3007

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
3020,IndiGo,26/11/2021,Mumbai,Ahmedabad,19:15,20:25,Non stop,"₹ 4,473"
3021,IndiGo,26/11/2021,Mumbai,Ahmedabad,06:35,07:50,Non stop,"₹ 4,578"
3022,IndiGo,26/11/2021,Mumbai,Ahmedabad,13:45,14:55,Non stop,"₹ 4,578"
3023,IndiGo,26/11/2021,Mumbai,Ahmedabad,20:15,21:25,Non stop,"₹ 4,736"
3024,Go First,26/11/2021,Mumbai,Ahmedabad,07:30,08:50,Non stop,"₹ 7,210"

Lenght :  3025

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
3043,IndiGo,27/11/2021,Mumbai,Ahmedabad,17:30,18:35,Non stop,"₹ 4,263"
3044,IndiGo,27/11/2021,Mumbai,Ahmedabad,19:15,20:25,Non stop,"₹ 4,263"
3045,IndiGo,27/11/2021,Mumbai,Ahmedabad,20:15,21:25,Non stop,"₹ 4,368"
3046,Go First,27/11/2021,Mumbai,Ahmedabad,07:30,08:50,Non stop,"₹ 5,312"
3047,Go First,27/11/2021,Mumbai,Ahmedabad,08:00,17:05,1 stop via New Delhi,"₹ 10,537"

Lenght :  3048

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
3063,IndiGo,28/11/2021,Mumbai,Ahmedabad,06:35,07:50,Non stop,"₹ 4,263"
3064,IndiGo,28/11/2021,Mumbai,Ahmedabad,13:45,15:05,Non stop,"₹ 4,368"
3065,IndiGo,28/11/2021,Mumbai,Ahmedabad,19:15,20:25,Non stop,"₹ 4,368"
3066,IndiGo,28/11/2021,Mumbai,Ahmedabad,20:15,21:25,Non stop,"₹ 4,368"
3067,Air India,28/11/2021,Mumbai,Ahmedabad,17:45,19:05,Non stop,"₹ 5,838"

Lenght :  3068

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 50
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
3087,IndiGo,29/11/2021,Mumbai,Ahmedabad,06:35,07:50,Non stop,"₹ 4,578"
3088,IndiGo,29/11/2021,Mumbai,Ahmedabad,13:45,14:55,Non stop,"₹ 4,578"
3089,IndiGo,29/11/2021,Mumbai,Ahmedabad,17:30,18:35,Non stop,"₹ 4,578"
3090,Go First,29/11/2021,Mumbai,Ahmedabad,07:30,08:50,Non stop,"₹ 5,732"
3091,Go First,29/11/2021,Mumbai,Ahmedabad,09:25,10:45,Non stop,"₹ 6,888"

Lenght :  3092

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 28
Time Count in Scraping  = 56
City Count in Scraping  = 58
spanFlightCost Count in Scraping  = 28
pFlightStops Count in Scraping  = 28
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
3115,IndiGo,30/11/2021,Mumbai,Ahmedabad,13:45,14:55,Non stop,"₹ 4,263"
3116,IndiGo,30/11/2021,Mumbai,Ahmedabad,19:15,20:25,Non stop,"₹ 4,263"
3117,IndiGo,30/11/2021,Mumbai,Ahmedabad,20:15,21:25,Non stop,"₹ 4,263"
3118,IndiGo,30/11/2021,Mumbai,Ahmedabad,17:30,18:35,Non stop,"₹ 4,578"
3119,Go First,30/11/2021,Mumbai,Ahmedabad,09:25,10:45,Non stop,"₹ 5,312"

Lenght :  3120

-----Skiped-----

origin = BOM
destin = TIR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-TIR-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 9
Time Count in Scraping  = 18
City Count in Scraping  = 18
spanFlightCost Count in Scraping  = 9
pFlightStops Count in Scraping  = 9
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
3124,IndiGo,24/11/2021,Mumbai,Tirupati,01:15,11:45,1 stop via Bengaluru,"₹ 5,103"
3125,IndiGo,24/11/2021,Mumbai,Tirupati,16:20,19:25,1 stop via Hyderabad,"₹ 7,886"
3126,IndiGo,24/11/2021,Mumbai,Tirupati,06:15,13:30,1 stop via Hyderabad,"₹ 8,252"
3127,"Vistara, Spicejet",24/11/2021,Mumbai,Tirupati,06:20,14:05,1 stop via Hyderabad,"₹ 8,715"
3128,"Vistara, IndiGo",24/11/2021,Mumbai,Tirupati,06:20,13:30,1 stop via Hyderabad,"₹ 8,925"

Lenght :  3129

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-TIR-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 8
Time Count in Scraping  = 16
City Count in Scraping  = 18
spanFlightCost Count in Scraping  = 8
pFlightStops Count in Scraping  = 8
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
3132,IndiGo,25/11/2021,Mumbai,Tirupati,06:15,13:30,1 stop via Hyderabad,"₹ 6,473"
3133,IndiGo,25/11/2021,Mumbai,Tirupati,16:20,19:25,1 stop via Hyderabad,"₹ 6,731"
3134,"Vistara, IndiGo",25/11/2021,Mumbai,Tirupati,10:45,19:25,1 stop via Hyderabad,"₹ 8,085"
3135,"Vistara, IndiGo",25/11/2021,Mumbai,Tirupati,06:20,19:25,1 stop via Hyderabad,"₹ 8,085"
3136,"Vistara, Spicejet",25/11/2021,Mumbai,Tirupati,06:20,11:10,1 stop via Hyderabad,"₹ 8,191"

Lenght :  3137

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-TIR-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 7
Time Count in Scraping  = 14
City Count in Scraping  = 16
spanFlightCost Count in Scraping  = 7
pFlightStops Count in Scraping  = 7
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
3139,IndiGo,26/11/2021,Mumbai,Tirupati,06:55,11:45,1 stop via Bengaluru,"₹ 5,103"
3140,IndiGo,26/11/2021,Mumbai,Tirupati,04:50,11:45,1 stop via Bengaluru,"₹ 5,103"
3141,IndiGo,26/11/2021,Mumbai,Tirupati,01:15,11:45,1 stop via Bengaluru,"₹ 5,103"
3142,IndiGo,26/11/2021,Mumbai,Tirupati,06:50,13:30,1 stop via Hyderabad,"₹ 5,103"
3143,IndiGo,26/11/2021,Mumbai,Tirupati,06:15,13:30,1 stop via Hyderabad,"₹ 5,103"

Lenght :  3144

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-TIR-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
3157,"Air India, IndiGo",27/11/2021,Mumbai,Tirupati,05:20,13:30,"2 stop via Chennai,Hyderabad","₹ 15,015"
3158,"Vistara, IndiGo",27/11/2021,Mumbai,Tirupati,10:45,19:25,1 stop via Hyderabad,"₹ 16,013"
3159,IndiGo,27/11/2021,Mumbai,Tirupati,10:45,19:25,1 stop via Hyderabad,"₹ 18,279"
3160,"Vistara, IndiGo",27/11/2021,Mumbai,Tirupati,06:30,19:25,"2 stop via New Delhi,Hyderabad","₹ 19,151"
3161,"Vistara, IndiGo",27/11/2021,Mumbai,Tirupati,06:00,19:25,"2 stop via New Delhi,Hyderabad","₹ 19,151"

Lenght :  3162

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-TIR-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
3174,"Vistara, Spicejet",28/11/2021,Mumbai,Tirupati,06:20,14:05,1 stop via Hyderabad,"₹ 7,981"
3175,"Vistara, Spicejet",28/11/2021,Mumbai,Tirupati,06:20,11:10,1 stop via Hyderabad,"₹ 8,085"
3176,"IndiGo, Spicejet",28/11/2021,Mumbai,Tirupati,06:15,11:10,1 stop via Hyderabad,"₹ 8,085"
3177,"Vistara, IndiGo",28/11/2021,Mumbai,Tirupati,06:20,13:30,1 stop via Hyderabad,"₹ 8,085"
3178,IndiGo,28/11/2021,Mumbai,Tirupati,12:45,19:25,1 stop via Hyderabad,"₹ 8,094"

Lenght :  3179

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-TIR-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
3192,Air India,29/11/2021,Mumbai,Tirupati,21:00,13:35,"3 stop via Goa,New Delhi,Hyderabad","₹ 13,086"
3193,Air India,29/11/2021,Mumbai,Tirupati,19:05,13:35,"3 stop via Goa,New Delhi,Hyderabad","₹ 13,086"
3194,Air India,29/11/2021,Mumbai,Tirupati,12:00,13:35,"3 stop via Bhubaneswar,New Delhi,Hyderabad","₹ 14,766"
3195,Air India,29/11/2021,Mumbai,Tirupati,17:45,13:35,"3 stop via Ahmedabad,New Delhi,Hyderabad","₹ 15,606"
3196,Air India,29/11/2021,Mumbai,Tirupati,13:25,13:35,"3 stop via Goa,New Delhi,Hyderabad","₹ 17,286"

Lenght :  3197

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-TIR-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
3208,Air India,30/11/2021,Mumbai,Tirupati,05:20,13:35,"2 stop via Chennai,Hyderabad","₹ 12,873"
3209,Air India,30/11/2021,Mumbai,Tirupati,21:30,13:35,"2 stop via New Delhi,Hyderabad","₹ 12,978"
3210,Air India,30/11/2021,Mumbai,Tirupati,21:00,13:35,"3 stop via Goa,New Delhi,Hyderabad","₹ 13,086"
3211,Air India,30/11/2021,Mumbai,Tirupati,19:05,13:35,"3 stop via Goa,New Delhi,Hyderabad","₹ 13,821"
3212,Air India,30/11/2021,Mumbai,Tirupati,13:25,13:35,"3 stop via Goa,New Delhi,Hyderabad","₹ 14,031"

Lenght :  3213

-----Skiped-----

origin = BOM
destin = BLR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 40
Time Count in Scraping  = 80
City Count in Scraping  = 80
spanFlightCost Count in Scraping  = 40
pFlightStops Count in Scraping  = 40
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
3248,IndiGo,24/11/2021,Mumbai,Bengaluru,14:20,16:05,Non stop,"₹ 5,208"
3249,IndiGo,24/11/2021,Mumbai,Bengaluru,20:30,22:05,Non stop,"₹ 5,208"
3250,Vistara,24/11/2021,Mumbai,Bengaluru,16:00,17:45,Non stop,"₹ 5,209"
3251,IndiGo,24/11/2021,Mumbai,Bengaluru,06:15,10:45,1 stop via Hyderabad,"₹ 5,560"
3252,IndiGo,24/11/2021,Mumbai,Bengaluru,11:35,17:35,1 stop via Tirupati,"₹ 6,311"

Lenght :  3253

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 34
Time Count in Scraping  = 68
City Count in Scraping  = 70
spanFlightCost Count in Scraping  = 34
pFlightStops Count in Scraping  = 34
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
3282,IndiGo,25/11/2021,Mumbai,Bengaluru,09:30,11:20,Non stop,"₹ 5,103"
3283,IndiGo,25/11/2021,Mumbai,Bengaluru,14:20,16:05,Non stop,"₹ 5,103"
3284,IndiGo,25/11/2021,Mumbai,Bengaluru,17:10,18:55,Non stop,"₹ 5,103"
3285,IndiGo,25/11/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,103"
3286,IndiGo,25/11/2021,Mumbai,Bengaluru,06:15,10:45,1 stop via Hyderabad,"₹ 5,103"

Lenght :  3287

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 29
Time Count in Scraping  = 58
City Count in Scraping  = 60
spanFlightCost Count in Scraping  = 29
pFlightStops Count in Scraping  = 29
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
3311,IndiGo,26/11/2021,Mumbai,Bengaluru,14:20,16:05,Non stop,"₹ 5,103"
3312,Air India,26/11/2021,Mumbai,Bengaluru,16:45,18:30,Non stop,"₹ 5,103"
3313,IndiGo,26/11/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,103"
3314,IndiGo,26/11/2021,Mumbai,Bengaluru,06:15,10:45,1 stop via Hyderabad,"₹ 5,103"
3315,IndiGo,26/11/2021,Mumbai,Bengaluru,16:20,22:50,1 stop via Hyderabad,"₹ 5,103"

Lenght :  3316

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 28
Time Count in Scraping  = 56
City Count in Scraping  = 58
spanFlightCost Count in Scraping  = 28
pFlightStops Count in Scraping  = 28
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
3339,Vistara,27/11/2021,Mumbai,Bengaluru,06:00,07:50,Non stop,"₹ 5,104"
3340,Vistara,27/11/2021,Mumbai,Bengaluru,07:00,08:50,Non stop,"₹ 5,104"
3341,Vistara,27/11/2021,Mumbai,Bengaluru,21:00,22:50,Non stop,"₹ 5,104"
3342,AirAsia,27/11/2021,Mumbai,Bengaluru,21:20,23:15,Non stop,"₹ 5,104"
3343,IndiGo,27/11/2021,Mumbai,Bengaluru,09:30,11:20,Non stop,"₹ 5,208"

Lenght :  3344

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 29
Time Count in Scraping  = 58
City Count in Scraping  = 60
spanFlightCost Count in Scraping  = 29
pFlightStops Count in Scraping  = 29
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
3368,Vistara,28/11/2021,Mumbai,Bengaluru,07:00,08:50,Non stop,"₹ 5,104"
3369,Vistara,28/11/2021,Mumbai,Bengaluru,09:05,10:45,Non stop,"₹ 5,104"
3370,Vistara,28/11/2021,Mumbai,Bengaluru,21:00,22:50,Non stop,"₹ 5,104"
3371,AirAsia,28/11/2021,Mumbai,Bengaluru,21:20,23:15,Non stop,"₹ 5,104"
3372,Vistara,28/11/2021,Mumbai,Bengaluru,19:10,20:55,Non stop,"₹ 5,419"

Lenght :  3373

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 42
Time Count in Scraping  = 84
City Count in Scraping  = 86
spanFlightCost Count in Scraping  = 42
pFlightStops Count in Scraping  = 42
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
3410,Vistara,29/11/2021,Mumbai,Bengaluru,17:30,19:15,Non stop,"₹ 5,209"
3411,Vistara,29/11/2021,Mumbai,Bengaluru,19:10,20:55,Non stop,"₹ 5,681"
3412,IndiGo,29/11/2021,Mumbai,Bengaluru,06:15,10:45,1 stop via Hyderabad,"₹ 6,017"
3413,IndiGo,29/11/2021,Mumbai,Bengaluru,16:20,20:45,1 stop via Hyderabad,"₹ 6,017"
3414,Go First,29/11/2021,Mumbai,Bengaluru,06:05,07:40,Non stop,"₹ 6,258"

Lenght :  3415

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 37
Time Count in Scraping  = 74
City Count in Scraping  = 76
spanFlightCost Count in Scraping  = 37
pFlightStops Count in Scraping  = 37
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
3447,IndiGo,30/11/2021,Mumbai,Bengaluru,09:30,11:20,Non stop,"₹ 5,103"
3448,IndiGo,30/11/2021,Mumbai,Bengaluru,14:20,16:05,Non stop,"₹ 5,103"
3449,Air India,30/11/2021,Mumbai,Bengaluru,16:45,18:30,Non stop,"₹ 5,103"
3450,IndiGo,30/11/2021,Mumbai,Bengaluru,17:10,18:55,Non stop,"₹ 5,103"
3451,IndiGo,30/11/2021,Mumbai,Bengaluru,22:15,00:05,Non stop,"₹ 5,103"

Lenght :  3452

-----Skiped-----

origin = BOM
destin = BOM

origin = BOM
destin = DEL

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 56
Time Count in Scraping  = 112
City Count in Scraping  = 112
spanFlightCost Count in Scraping  = 56
pFlightStops Count in Scraping  = 56
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
3503,Air India,24/11/2021,Mumbai,New Delhi,21:30,23:30,Non stop,"₹ 5,943"
3504,Spicejet,24/11/2021,Mumbai,New Delhi,21:45,23:55,Non stop,"₹ 5,943"
3505,Vistara,24/11/2021,Mumbai,New Delhi,21:55,00:10,Non stop,"₹ 5,943"
3506,Vistara,24/11/2021,Mumbai,New Delhi,22:45,00:55,Non stop,"₹ 5,943"
3507,Air India,24/11/2021,Mumbai,New Delhi,07:05,11:10,1 stop via Indore,"₹ 5,943"

Lenght :  3508

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 57
Time Count in Scraping  = 114
City Count in Scraping  = 116
spanFlightCost Count in Scraping  = 57
pFlightStops Count in Scraping  = 57
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
3560,Air India,25/11/2021,Mumbai,New Delhi,16:00,18:15,Non stop,"₹ 5,943"
3561,IndiGo,25/11/2021,Mumbai,New Delhi,17:15,19:20,Non stop,"₹ 5,943"
3562,Vistara,25/11/2021,Mumbai,New Delhi,17:30,19:40,Non stop,"₹ 5,943"
3563,IndiGo,25/11/2021,Mumbai,New Delhi,18:30,20:35,Non stop,"₹ 5,943"
3564,Vistara,25/11/2021,Mumbai,New Delhi,18:30,20:40,Non stop,"₹ 5,943"

Lenght :  3565

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 54
Time Count in Scraping  = 108
City Count in Scraping  = 110
spanFlightCost Count in Scraping  = 54
pFlightStops Count in Scraping  = 54
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
3614,Vistara,26/11/2021,Mumbai,New Delhi,18:30,20:40,Non stop,"₹ 5,943"
3615,Air India,26/11/2021,Mumbai,New Delhi,19:00,21:15,Non stop,"₹ 5,943"
3616,IndiGo,26/11/2021,Mumbai,New Delhi,20:30,22:35,Non stop,"₹ 5,943"
3617,Vistara,26/11/2021,Mumbai,New Delhi,20:55,23:00,Non stop,"₹ 5,943"
3618,Air India,26/11/2021,Mumbai,New Delhi,21:30,23:30,Non stop,"₹ 5,943"

Lenght :  3619

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 52
Time Count in Scraping  = 104
City Count in Scraping  = 106
spanFlightCost Count in Scraping  = 52
pFlightStops Count in Scraping  = 52
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
3666,Spicejet,27/11/2021,Mumbai,New Delhi,21:45,23:55,Non stop,"₹ 5,943"
3667,Vistara,27/11/2021,Mumbai,New Delhi,21:55,00:10,Non stop,"₹ 5,943"
3668,IndiGo,27/11/2021,Mumbai,New Delhi,22:20,00:25,Non stop,"₹ 5,943"
3669,Vistara,27/11/2021,Mumbai,New Delhi,22:45,00:55,Non stop,"₹ 5,943"
3670,Air India,27/11/2021,Mumbai,New Delhi,15:25,19:20,1 stop via Aurangabad,"₹ 5,943"

Lenght :  3671

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 52
Time Count in Scraping  = 104
City Count in Scraping  = 106
spanFlightCost Count in Scraping  = 52
pFlightStops Count in Scraping  = 52
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
3718,IndiGo,28/11/2021,Mumbai,New Delhi,20:30,22:35,Non stop,"₹ 5,943"
3719,Vistara,28/11/2021,Mumbai,New Delhi,20:55,23:00,Non stop,"₹ 5,943"
3720,Air India,28/11/2021,Mumbai,New Delhi,21:30,23:30,Non stop,"₹ 5,943"
3721,Spicejet,28/11/2021,Mumbai,New Delhi,21:45,23:55,Non stop,"₹ 5,943"
3722,Vistara,28/11/2021,Mumbai,New Delhi,21:55,00:10,Non stop,"₹ 5,943"

Lenght :  3723

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 57
Time Count in Scraping  = 114
City Count in Scraping  = 116
spanFlightCost Count in Scraping  = 57
pFlightStops Count in Scraping  = 57
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
3775,Air India,29/11/2021,Mumbai,New Delhi,19:00,21:15,Non stop,"₹ 5,943"
3776,Spicejet,29/11/2021,Mumbai,New Delhi,19:05,21:30,Non stop,"₹ 5,943"
3777,IndiGo,29/11/2021,Mumbai,New Delhi,19:35,21:25,Non stop,"₹ 5,943"
3778,Vistara,29/11/2021,Mumbai,New Delhi,19:45,21:55,Non stop,"₹ 5,943"
3779,IndiGo,29/11/2021,Mumbai,New Delhi,20:30,22:35,Non stop,"₹ 5,943"

Lenght :  3780

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 56
Time Count in Scraping  = 112
City Count in Scraping  = 114
spanFlightCost Count in Scraping  = 56
pFlightStops Count in Scraping  = 56
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
3831,Vistara,30/11/2021,Mumbai,New Delhi,17:30,19:40,Non stop,"₹ 5,943"
3832,Air India,30/11/2021,Mumbai,New Delhi,18:00,20:30,Non stop,"₹ 5,943"
3833,IndiGo,30/11/2021,Mumbai,New Delhi,18:30,20:35,Non stop,"₹ 5,943"
3834,Vistara,30/11/2021,Mumbai,New Delhi,18:30,20:40,Non stop,"₹ 5,943"
3835,Air India,30/11/2021,Mumbai,New Delhi,19:00,21:15,Non stop,"₹ 5,943"

Lenght :  3836

-----Skiped-----

--------------
origin = DEL
destin = GOI

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 46
Time Count in Scraping  = 92
City Count in Scraping  = 92
spanFlightCost Count in Scraping  = 46
pFlightStops Count in Scraping  = 46
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
3877,"Air India, AirAsia",24/11/2021,New Delhi,Goa,19:00,00:35,1 stop via Mumbai,"₹ 10,219"
3878,"Vistara, AirAsia",24/11/2021,New Delhi,Goa,18:55,00:35,1 stop via Mumbai,"₹ 10,219"
3879,AirAsia,24/11/2021,New Delhi,Goa,05:20,07:50,Non stop,"₹ 10,250"
3880,Air India,24/11/2021,New Delhi,Goa,17:50,22:35,1 stop via Mumbai,"₹ 10,470"
3881,Vistara,24/11/2021,New Delhi,Goa,11:10,13:50,Non stop,"₹ 10,995"

Lenght :  3882

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 44
Time Count in Scraping  = 88
City Count in Scraping  = 90
spanFlightCost Count in Scraping  = 44
pFlightStops Count in Scraping  = 44
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
3921,"Air India, AirAsia",25/11/2021,New Delhi,Goa,19:00,00:35,1 stop via Mumbai,"₹ 10,532"
3922,"Vistara, AirAsia",25/11/2021,New Delhi,Goa,18:55,00:35,1 stop via Mumbai,"₹ 10,532"
3923,"Spicejet, AirAsia",25/11/2021,New Delhi,Goa,18:55,00:35,1 stop via Mumbai,"₹ 10,532"
3924,IndiGo,25/11/2021,New Delhi,Goa,08:20,14:05,1 stop via Bengaluru,"₹ 10,654"
3925,Spicejet,25/11/2021,New Delhi,Goa,16:20,19:00,Non stop,"₹ 10,890"

Lenght :  3926

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 39
Time Count in Scraping  = 78
City Count in Scraping  = 80
spanFlightCost Count in Scraping  = 39
pFlightStops Count in Scraping  = 39
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
3960,Spicejet,26/11/2021,New Delhi,Goa,18:55,01:00,1 stop via Mumbai,"₹ 11,068"
3961,IndiGo,26/11/2021,New Delhi,Goa,21:40,03:00,1 stop via Nagpur,"₹ 11,300"
3962,IndiGo,26/11/2021,New Delhi,Goa,21:50,02:55,1 stop via Jaipur,"₹ 11,357"
3963,AirAsia,26/11/2021,New Delhi,Goa,05:20,07:50,Non stop,"₹ 11,599"
3964,AirAsia,26/11/2021,New Delhi,Goa,12:40,15:25,Non stop,"₹ 11,599"

Lenght :  3965

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 38
Time Count in Scraping  = 76
City Count in Scraping  = 78
spanFlightCost Count in Scraping  = 38
pFlightStops Count in Scraping  = 38
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
3998,AirAsia,27/11/2021,New Delhi,Goa,12:10,14:55,Non stop,"₹ 9,103"
3999,Spicejet,27/11/2021,New Delhi,Goa,12:00,14:25,Non stop,"₹ 9,210"
4000,IndiGo,27/11/2021,New Delhi,Goa,20:00,01:35,1 stop via Mumbai,"₹ 9,263"
4001,IndiGo,27/11/2021,New Delhi,Goa,18:20,02:00,1 stop via Bengaluru,"₹ 9,362"
4002,IndiGo,27/11/2021,New Delhi,Goa,11:05,13:35,Non stop,"₹ 9,525"

Lenght :  4003

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 28
Time Count in Scraping  = 56
City Count in Scraping  = 58
spanFlightCost Count in Scraping  = 28
pFlightStops Count in Scraping  = 28
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
4026,AirAsia,28/11/2021,New Delhi,Goa,20:00,22:35,Non stop,"₹ 7,426"
4027,AirAsia,28/11/2021,New Delhi,Goa,05:20,07:50,Non stop,"₹ 7,633"
4028,AirAsia,28/11/2021,New Delhi,Goa,12:40,15:25,Non stop,"₹ 7,633"
4029,IndiGo,28/11/2021,New Delhi,Goa,12:15,14:50,Non stop,"₹ 7,635"
4030,AirAsia,28/11/2021,New Delhi,Goa,18:25,00:35,1 stop via Mumbai,"₹ 8,053"

Lenght :  4031

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 45
Time Count in Scraping  = 90
City Count in Scraping  = 92
spanFlightCost Count in Scraping  = 45
pFlightStops Count in Scraping  = 45
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
4071,IndiGo,29/11/2021,New Delhi,Goa,11:00,17:25,1 stop via Hyderabad,"₹ 8,071"
4072,IndiGo,29/11/2021,New Delhi,Goa,10:45,18:00,1 stop via Mumbai,"₹ 8,071"
4073,IndiGo,29/11/2021,New Delhi,Goa,18:35,01:35,1 stop via Mumbai,"₹ 8,071"
4074,IndiGo,29/11/2021,New Delhi,Goa,18:20,02:00,1 stop via Bengaluru,"₹ 8,071"
4075,Go First,29/11/2021,New Delhi,Goa,10:45,13:30,Non stop,"₹ 8,108"

Lenght :  4076

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 42
Time Count in Scraping  = 84
City Count in Scraping  = 86
spanFlightCost Count in Scraping  = 42
pFlightStops Count in Scraping  = 42
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
4113,IndiGo,30/11/2021,New Delhi,Goa,09:30,15:15,1 stop via Mumbai,"₹ 8,071"
4114,AirAsia,30/11/2021,New Delhi,Goa,05:20,07:50,Non stop,"₹ 8,263"
4115,AirAsia,30/11/2021,New Delhi,Goa,12:10,14:55,Non stop,"₹ 8,263"
4116,AirAsia,30/11/2021,New Delhi,Goa,12:40,15:25,Non stop,"₹ 8,263"
4117,IndiGo,30/11/2021,New Delhi,Goa,15:50,18:20,Non stop,"₹ 8,265"

Lenght :  4118

-----Skiped-----

origin = DEL
destin = AMD

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-AMD-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
4136,IndiGo,24/11/2021,New Delhi,Ahmedabad,20:20,22:00,Non stop,"₹ 7,110"
4137,IndiGo,24/11/2021,New Delhi,Ahmedabad,05:50,14:25,1 stop via Jaipur,"₹ 7,215"
4138,Air India,24/11/2021,New Delhi,Ahmedabad,19:10,20:40,Non stop,"₹ 8,370"
4139,Go First,24/11/2021,New Delhi,Ahmedabad,10:35,17:35,1 stop via Chandigarh,"₹ 8,630"
4140,IndiGo,24/11/2021,New Delhi,Ahmedabad,18:30,19:55,Non stop,"₹ 9,315"

Lenght :  4141

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-AMD-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 50
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
4160,IndiGo,25/11/2021,New Delhi,Ahmedabad,11:25,13:10,Non stop,"₹ 5,745"
4161,Vistara,25/11/2021,New Delhi,Ahmedabad,06:40,08:15,Non stop,"₹ 6,008"
4162,Vistara,25/11/2021,New Delhi,Ahmedabad,18:00,19:40,Non stop,"₹ 7,583"
4163,IndiGo,25/11/2021,New Delhi,Ahmedabad,18:30,19:55,Non stop,"₹ 8,895"
4164,IndiGo,25/11/2021,New Delhi,Ahmedabad,22:15,23:50,Non stop,"₹ 11,310"

Lenght :  4165

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-AMD-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 50
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
4184,IndiGo,26/11/2021,New Delhi,Ahmedabad,06:00,15:30,1 stop via Lucknow,"₹ 6,690"
4185,IndiGo,26/11/2021,New Delhi,Ahmedabad,05:00,15:30,1 stop via Lucknow,"₹ 6,690"
4186,IndiGo,26/11/2021,New Delhi,Ahmedabad,22:15,23:50,Non stop,"₹ 6,795"
4187,IndiGo,26/11/2021,New Delhi,Ahmedabad,05:50,14:25,1 stop via Jaipur,"₹ 7,215"
4188,Vistara,26/11/2021,New Delhi,Ahmedabad,08:45,10:20,Non stop,"₹ 8,318"

Lenght :  4189

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-AMD-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 29
Time Count in Scraping  = 58
City Count in Scraping  = 60
spanFlightCost Count in Scraping  = 29
pFlightStops Count in Scraping  = 29
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
4213,Go First,27/11/2021,New Delhi,Ahmedabad,10:30,20:25,1 stop via Mumbai,"₹ 10,858"
4214,Go First,27/11/2021,New Delhi,Ahmedabad,10:35,17:35,1 stop via Chandigarh,"₹ 11,202"
4215,Go First,27/11/2021,New Delhi,Ahmedabad,02:00,08:50,1 stop via Mumbai,"₹ 11,698"
4216,IndiGo,27/11/2021,New Delhi,Ahmedabad,07:15,12:25,1 stop via Dehradun,"₹ 11,888"
4217,IndiGo,27/11/2021,New Delhi,Ahmedabad,06:20,12:25,1 stop via Dehradun,"₹ 11,888"

Lenght :  4218

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-AMD-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 26
Time Count in Scraping  = 52
City Count in Scraping  = 54
spanFlightCost Count in Scraping  = 26
pFlightStops Count in Scraping  = 26
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
4239,Go First,28/11/2021,New Delhi,Ahmedabad,02:00,08:50,1 stop via Mumbai,"₹ 9,704"
4240,Go First,28/11/2021,New Delhi,Ahmedabad,02:00,08:50,1 stop via Mumbai,"₹ 9,704"
4241,Go First,28/11/2021,New Delhi,Ahmedabad,08:00,15:40,1 stop via Mumbai,"₹ 9,704"
4242,Go First,28/11/2021,New Delhi,Ahmedabad,07:00,15:40,1 stop via Mumbai,"₹ 9,704"
4243,Go First,28/11/2021,New Delhi,Ahmedabad,10:30,15:40,1 stop via Mumbai,"₹ 10,858"

Lenght :  4244

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-AMD-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 28
Time Count in Scraping  = 56
City Count in Scraping  = 58
spanFlightCost Count in Scraping  = 28
pFlightStops Count in Scraping  = 28
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
4267,IndiGo,29/11/2021,New Delhi,Ahmedabad,07:50,15:30,1 stop via Lucknow,"₹ 6,638"
4268,IndiGo,29/11/2021,New Delhi,Ahmedabad,06:00,15:30,1 stop via Lucknow,"₹ 6,638"
4269,IndiGo,29/11/2021,New Delhi,Ahmedabad,05:00,15:30,1 stop via Lucknow,"₹ 6,638"
4270,IndiGo,29/11/2021,New Delhi,Ahmedabad,21:20,07:55,1 stop via Lucknow,"₹ 6,638"
4271,Go First,29/11/2021,New Delhi,Ahmedabad,15:30,17:05,Non stop,"₹ 6,848"

Lenght :  4272

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-AMD-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 26
Time Count in Scraping  = 52
City Count in Scraping  = 54
spanFlightCost Count in Scraping  = 26
pFlightStops Count in Scraping  = 26
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
4293,IndiGo,30/11/2021,New Delhi,Ahmedabad,20:20,22:00,Non stop,"₹ 5,115"
4294,IndiGo,30/11/2021,New Delhi,Ahmedabad,22:15,23:50,Non stop,"₹ 5,115"
4295,Vistara,30/11/2021,New Delhi,Ahmedabad,08:45,10:20,Non stop,"₹ 5,220"
4296,Air India,30/11/2021,New Delhi,Ahmedabad,19:10,20:40,Non stop,"₹ 6,480"
4297,Vistara,30/11/2021,New Delhi,Ahmedabad,06:40,08:15,Non stop,"₹ 6,533"

Lenght :  4298

-----Skiped-----

origin = DEL
destin = TIR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-TIR-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
4311,IndiGo,24/11/2021,New Delhi,Tirupati,07:55,13:30,1 stop via Hyderabad,"₹ 12,201"
4312,IndiGo,24/11/2021,New Delhi,Tirupati,12:00,19:25,"2 stop via Mumbai,Hyderabad","₹ 12,644"
4313,"IndiGo, Air India",24/11/2021,New Delhi,Tirupati,06:45,13:35,1 stop via Hyderabad,"₹ 12,823"
4314,IndiGo,24/11/2021,New Delhi,Tirupati,06:45,13:30,1 stop via Hyderabad,"₹ 13,041"
4315,"Go First, Air India",24/11/2021,New Delhi,Tirupati,07:20,13:35,1 stop via Hyderabad,"₹ 13,345"

Lenght :  4316

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-TIR-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
4325,"AirAsia, IndiGo",25/11/2021,New Delhi,Tirupati,09:35,19:25,"2 stop via Bengaluru,Hyderabad","₹ 9,984"
4326,IndiGo,25/11/2021,New Delhi,Tirupati,13:00,19:25,1 stop via Hyderabad,"₹ 10,008"
4327,"Go First, Spicejet",25/11/2021,New Delhi,Tirupati,06:50,14:05,1 stop via Hyderabad,"₹ 10,038"
4328,IndiGo,25/11/2021,New Delhi,Tirupati,11:00,19:25,1 stop via Hyderabad,"₹ 10,101"
4329,IndiGo,25/11/2021,New Delhi,Tirupati,23:05,07:20,1 stop via Hyderabad,"₹ 10,654"

Lenght :  4330

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-TIR-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
4341,Air India,26/11/2021,New Delhi,Tirupati,08:10,13:35,1 stop via Hyderabad,"₹ 11,415"
4342,Air India,26/11/2021,New Delhi,Tirupati,09:45,13:35,1 stop via Hyderabad,"₹ 11,520"
4343,Spicejet,26/11/2021,New Delhi,Tirupati,08:40,18:35,1 stop via Pune,"₹ 12,254"
4344,Spicejet,26/11/2021,New Delhi,Tirupati,17:00,07:40,1 stop via Hyderabad,"₹ 13,537"
4345,Spicejet,26/11/2021,New Delhi,Tirupati,17:00,11:10,1 stop via Hyderabad,"₹ 15,039"

Lenght :  4346

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-TIR-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
4355,IndiGo,27/11/2021,New Delhi,Tirupati,09:40,13:30,1 stop via Hyderabad,"₹ 12,203"
4356,"Air India, IndiGo",27/11/2021,New Delhi,Tirupati,08:10,13:30,1 stop via Hyderabad,"₹ 13,557"
4357,IndiGo,27/11/2021,New Delhi,Tirupati,11:00,19:25,1 stop via Hyderabad,"₹ 13,883"
4358,"AirAsia, IndiGo",27/11/2021,New Delhi,Tirupati,08:00,19:25,"2 stop via Bengaluru,Hyderabad","₹ 13,974"
4359,IndiGo,27/11/2021,New Delhi,Tirupati,09:40,19:25,1 stop via Hyderabad,"₹ 14,406"

Lenght :  4360

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-TIR-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 20
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
4365,IndiGo,28/11/2021,New Delhi,Tirupati,07:55,13:30,1 stop via Hyderabad,"₹ 9,891"
4366,Spicejet,28/11/2021,New Delhi,Tirupati,08:40,18:35,1 stop via Pune,"₹ 11,021"
4367,IndiGo,28/11/2021,New Delhi,Tirupati,23:05,07:20,1 stop via Hyderabad,"₹ 11,256"
4368,IndiGo,28/11/2021,New Delhi,Tirupati,09:40,13:30,1 stop via Hyderabad,"₹ 11,258"
4369,Air India,28/11/2021,New Delhi,Tirupati,20:00,09:10,1 stop via Mumbai,"₹ 11,415"

Lenght :  4370

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-TIR-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
4379,IndiGo,29/11/2021,New Delhi,Tirupati,11:00,19:25,1 stop via Hyderabad,"₹ 7,425"
4380,IndiGo,29/11/2021,New Delhi,Tirupati,23:05,07:20,1 stop via Hyderabad,"₹ 7,425"
4381,IndiGo,29/11/2021,New Delhi,Tirupati,12:00,19:25,"2 stop via Mumbai,Hyderabad","₹ 7,478"
4382,IndiGo,29/11/2021,New Delhi,Tirupati,10:45,19:25,"2 stop via Mumbai,Hyderabad","₹ 7,478"
4383,IndiGo,29/11/2021,New Delhi,Tirupati,09:40,13:30,1 stop via Hyderabad,"₹ 10,418"

Lenght :  4384

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-TIR-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
4395,IndiGo,30/11/2021,New Delhi,Tirupati,09:40,19:25,1 stop via Hyderabad,"₹ 7,425"
4396,IndiGo,30/11/2021,New Delhi,Tirupati,09:30,19:25,"2 stop via Mumbai,Hyderabad","₹ 7,478"
4397,IndiGo,30/11/2021,New Delhi,Tirupati,08:45,19:25,"2 stop via Mumbai,Hyderabad","₹ 7,478"
4398,IndiGo,30/11/2021,New Delhi,Tirupati,08:10,19:25,"2 stop via Mumbai,Hyderabad","₹ 7,478"
4399,IndiGo,30/11/2021,New Delhi,Tirupati,10:45,19:25,"2 stop via Mumbai,Hyderabad","₹ 8,123"

Lenght :  4400

-----Skiped-----

origin = DEL
destin = BLR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 50
Time Count in Scraping  = 100
City Count in Scraping  = 100
spanFlightCost Count in Scraping  = 50
pFlightStops Count in Scraping  = 50
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
4445,IndiGo,24/11/2021,New Delhi,Bengaluru,05:50,14:50,1 stop via Jaipur,"₹ 8,412"
4446,IndiGo,24/11/2021,New Delhi,Bengaluru,05:50,14:50,1 stop via Jaipur,"₹ 8,412"
4447,IndiGo,24/11/2021,New Delhi,Bengaluru,08:25,15:40,1 stop via Pune,"₹ 8,412"
4448,AirAsia,24/11/2021,New Delhi,Bengaluru,08:20,14:40,1 stop via Ranchi,"₹ 8,757"
4449,Air India,24/11/2021,New Delhi,Bengaluru,17:20,20:05,Non stop,"₹ 8,790"

Lenght :  4450

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 60
Time Count in Scraping  = 120
City Count in Scraping  = 122
spanFlightCost Count in Scraping  = 60
pFlightStops Count in Scraping  = 60
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
4505,AirAsia,25/11/2021,New Delhi,Bengaluru,08:00,10:40,Non stop,"₹ 7,426"
4506,AirAsia,25/11/2021,New Delhi,Bengaluru,09:35,12:25,Non stop,"₹ 7,426"
4507,AirAsia,25/11/2021,New Delhi,Bengaluru,18:35,21:40,Non stop,"₹ 7,426"
4508,IndiGo,25/11/2021,New Delhi,Bengaluru,09:40,18:10,1 stop via Hyderabad,"₹ 7,671"
4509,IndiGo,25/11/2021,New Delhi,Bengaluru,15:30,18:30,Non stop,"₹ 8,055"

Lenght :  4510

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 63
Time Count in Scraping  = 126
City Count in Scraping  = 128
spanFlightCost Count in Scraping  = 63
pFlightStops Count in Scraping  = 63
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
4568,Air India,26/11/2021,New Delhi,Bengaluru,09:45,12:30,Non stop,"₹ 10,470"
4569,IndiGo,26/11/2021,New Delhi,Bengaluru,18:20,21:15,Non stop,"₹ 10,628"
4570,Vistara,26/11/2021,New Delhi,Bengaluru,12:50,17:45,1 stop via Mumbai,"₹ 10,680"
4571,Vistara,26/11/2021,New Delhi,Bengaluru,14:20,19:15,1 stop via Mumbai,"₹ 10,680"
4572,Air India,26/11/2021,New Delhi,Bengaluru,17:20,20:05,Non stop,"₹ 16,455"

Lenght :  4573

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 60
Time Count in Scraping  = 120
City Count in Scraping  = 122
spanFlightCost Count in Scraping  = 60
pFlightStops Count in Scraping  = 60
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
4628,IndiGo,27/11/2021,New Delhi,Bengaluru,18:20,21:15,Non stop,"₹ 8,895"
4629,IndiGo,27/11/2021,New Delhi,Bengaluru,13:00,18:10,1 stop via Hyderabad,"₹ 9,154"
4630,Spicejet,27/11/2021,New Delhi,Bengaluru,06:20,12:00,1 stop via Mumbai,"₹ 9,691"
4631,IndiGo,27/11/2021,New Delhi,Bengaluru,12:05,14:55,Non stop,"₹ 10,313"
4632,Air India,27/11/2021,New Delhi,Bengaluru,09:45,12:30,Non stop,"₹ 10,470"

Lenght :  4633

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 65
Time Count in Scraping  = 130
City Count in Scraping  = 132
spanFlightCost Count in Scraping  = 65
pFlightStops Count in Scraping  = 65
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
4693,IndiGo,28/11/2021,New Delhi,Bengaluru,09:15,12:10,Non stop,"₹ 12,570"
4694,IndiGo,28/11/2021,New Delhi,Bengaluru,12:05,14:55,Non stop,"₹ 12,570"
4695,Vistara,28/11/2021,New Delhi,Bengaluru,16:05,18:50,Non stop,"₹ 13,305"
4696,Air India,28/11/2021,New Delhi,Bengaluru,09:45,12:30,Non stop,"₹ 14,880"
4697,Air India,28/11/2021,New Delhi,Bengaluru,13:30,16:15,Non stop,"₹ 16,455"

Lenght :  4698

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 63
Time Count in Scraping  = 126
City Count in Scraping  = 128
spanFlightCost Count in Scraping  = 63
pFlightStops Count in Scraping  = 63
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
4756,Vistara,29/11/2021,New Delhi,Bengaluru,17:35,20:25,Non stop,"₹ 7,845"
4757,Vistara,29/11/2021,New Delhi,Bengaluru,14:15,17:00,Non stop,"₹ 8,265"
4758,IndiGo,29/11/2021,New Delhi,Bengaluru,13:40,19:50,1 stop via Pune,"₹ 8,412"
4759,IndiGo,29/11/2021,New Delhi,Bengaluru,18:20,21:15,Non stop,"₹ 8,475"
4760,Vistara,29/11/2021,New Delhi,Bengaluru,16:05,18:50,Non stop,"₹ 8,790"

Lenght :  4761

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 65
Time Count in Scraping  = 130
City Count in Scraping  = 132
spanFlightCost Count in Scraping  = 65
pFlightStops Count in Scraping  = 65
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
4821,Air India,30/11/2021,New Delhi,Bengaluru,17:20,20:05,Non stop,"₹ 7,845"
4822,Vistara,30/11/2021,New Delhi,Bengaluru,17:35,20:25,Non stop,"₹ 8,265"
4823,IndiGo,30/11/2021,New Delhi,Bengaluru,18:20,21:15,Non stop,"₹ 8,265"
4824,IndiGo,30/11/2021,New Delhi,Bengaluru,06:45,11:50,1 stop via Bhopal,"₹ 8,412"
4825,IndiGo,30/11/2021,New Delhi,Bengaluru,15:30,18:30,Non stop,"₹ 8,685"

Lenght :  4826

-----Skiped-----

origin = DEL
destin = BOM

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-24/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 53
Time Count in Scraping  = 106
City Count in Scraping  = 106
spanFlightCost Count in Scraping  = 53
pFlightStops Count in Scraping  = 53
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
4874,Air India,24/11/2021,New Delhi,Mumbai,17:50,20:00,Non stop,"₹ 5,955"
4875,IndiGo,24/11/2021,New Delhi,Mumbai,18:35,20:50,Non stop,"₹ 5,955"
4876,Vistara,24/11/2021,New Delhi,Mumbai,18:55,21:15,Non stop,"₹ 5,955"
4877,Air India,24/11/2021,New Delhi,Mumbai,19:00,21:15,Non stop,"₹ 5,955"
4878,IndiGo,24/11/2021,New Delhi,Mumbai,20:00,22:15,Non stop,"₹ 5,955"

Lenght :  4879

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-25/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 53
Time Count in Scraping  = 106
City Count in Scraping  = 108
spanFlightCost Count in Scraping  = 53
pFlightStops Count in Scraping  = 53
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
4927,Air India,25/11/2021,New Delhi,Mumbai,17:50,20:00,Non stop,"₹ 5,955"
4928,Spicejet,25/11/2021,New Delhi,Mumbai,18:55,21:05,Non stop,"₹ 5,955"
4929,Air India,25/11/2021,New Delhi,Mumbai,19:00,21:15,Non stop,"₹ 5,955"
4930,Spicejet,25/11/2021,New Delhi,Mumbai,19:45,22:05,Non stop,"₹ 5,955"
4931,IndiGo,25/11/2021,New Delhi,Mumbai,23:15,01:25,Non stop,"₹ 5,955"

Lenght :  4932

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-26/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 57
Time Count in Scraping  = 114
City Count in Scraping  = 116
spanFlightCost Count in Scraping  = 57
pFlightStops Count in Scraping  = 57
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
4984,IndiGo,26/11/2021,New Delhi,Mumbai,12:00,14:10,Non stop,"₹ 6,375"
4985,Spicejet,26/11/2021,New Delhi,Mumbai,18:55,21:05,Non stop,"₹ 6,480"
4986,Go First,26/11/2021,New Delhi,Mumbai,14:20,16:35,Non stop,"₹ 6,532"
4987,IndiGo,26/11/2021,New Delhi,Mumbai,23:15,01:25,Non stop,"₹ 6,585"
4988,Vistara,26/11/2021,New Delhi,Mumbai,16:55,19:05,Non stop,"₹ 7,005"

Lenght :  4989

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-27/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 52
Time Count in Scraping  = 104
City Count in Scraping  = 106
spanFlightCost Count in Scraping  = 52
pFlightStops Count in Scraping  = 52
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
5036,Spicejet,27/11/2021,New Delhi,Mumbai,19:45,22:05,Non stop,"₹ 5,955"
5037,Vistara,27/11/2021,New Delhi,Mumbai,19:50,22:00,Non stop,"₹ 5,955"
5038,IndiGo,27/11/2021,New Delhi,Mumbai,21:15,23:30,Non stop,"₹ 5,955"
5039,Vistara,27/11/2021,New Delhi,Mumbai,21:40,23:50,Non stop,"₹ 5,955"
5040,IndiGo,27/11/2021,New Delhi,Mumbai,23:15,01:25,Non stop,"₹ 5,955"

Lenght :  5041

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-28/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 50
Time Count in Scraping  = 100
City Count in Scraping  = 102
spanFlightCost Count in Scraping  = 50
pFlightStops Count in Scraping  = 50
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
5086,IndiGo,28/11/2021,New Delhi,Mumbai,16:00,18:15,Non stop,"₹ 6,165"
5087,IndiGo,28/11/2021,New Delhi,Mumbai,18:35,20:50,Non stop,"₹ 6,165"
5088,IndiGo,28/11/2021,New Delhi,Mumbai,21:15,23:30,Non stop,"₹ 6,165"
5089,AirAsia,28/11/2021,New Delhi,Mumbai,18:25,20:40,Non stop,"₹ 6,349"
5090,Vistara,28/11/2021,New Delhi,Mumbai,12:50,15:00,Non stop,"₹ 6,375"

Lenght :  5091

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-29/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 56
Time Count in Scraping  = 112
City Count in Scraping  = 114
spanFlightCost Count in Scraping  = 56
pFlightStops Count in Scraping  = 56
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
5142,Air India,29/11/2021,New Delhi,Mumbai,19:00,21:15,Non stop,"₹ 5,955"
5143,Spicejet,29/11/2021,New Delhi,Mumbai,19:45,22:05,Non stop,"₹ 5,955"
5144,Vistara,29/11/2021,New Delhi,Mumbai,19:50,22:00,Non stop,"₹ 5,955"
5145,IndiGo,29/11/2021,New Delhi,Mumbai,20:00,22:15,Non stop,"₹ 5,955"
5146,Vistara,29/11/2021,New Delhi,Mumbai,20:40,22:50,Non stop,"₹ 5,955"

Lenght :  5147

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-30/11/2021&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 57
Time Count in Scraping  = 114
City Count in Scraping  = 116
spanFlightCost Count in Scraping  = 57
pFlightStops Count in Scraping  = 57
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
5199,Air India,30/11/2021,New Delhi,Mumbai,19:00,21:15,Non stop,"₹ 5,955"
5200,Spicejet,30/11/2021,New Delhi,Mumbai,19:45,22:05,Non stop,"₹ 5,955"
5201,Vistara,30/11/2021,New Delhi,Mumbai,19:50,22:00,Non stop,"₹ 5,955"
5202,IndiGo,30/11/2021,New Delhi,Mumbai,21:15,23:30,Non stop,"₹ 5,955"
5203,Vistara,30/11/2021,New Delhi,Mumbai,21:40,23:50,Non stop,"₹ 5,955"

Lenght :  5204

-----Skiped-----

origin = DEL
destin = DEL

In [7]:
#checking scraped Flight Price data
df=pd.read_csv("Flight.csv")
df

,Unnamed: 0,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,Spicejet,24/11/2021,Goa,Ahmedabad,08:15,10:25,Non stop,"₹ 5,315"
2,1,Spicejet,24/11/2021,Goa,Ahmedabad,21:05,23:00,Non stop,"₹ 5,315"
3,2,Go First,24/11/2021,Goa,Ahmedabad,14:00,18:35,1 stop via Bengaluru,"₹ 5,315"
4,3,Go First,24/11/2021,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...,...
5199,52,Air India,30/11/2021,New Delhi,Mumbai,19:00,21:15,Non stop,"₹ 5,955"
5200,53,Spicejet,30/11/2021,New Delhi,Mumbai,19:45,22:05,Non stop,"₹ 5,955"
5201,54,Vistara,30/11/2021,New Delhi,Mumbai,19:50,22:00,Non stop,"₹ 5,955"
5202,55,IndiGo,30/11/2021,New Delhi,Mumbai,21:15,23:30,Non stop,"₹ 5,955"
5203,56,Vistara,30/11/2021,New Delhi,Mumbai,21:40,23:50,Non stop,"₹ 5,955"

In [17]:
#saving Flight Price data as csv file
df.to_csv("flight_price.csv")

# Successfully Completed scrapping:)